Repository SINTEF/dlite: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, pylint-tests

pylint:
  name: pylint
  entry: pylint
  args:
  - --rcfile=.pylintrc
  language: python
  require_serial: true

pylint-tests:
  name: pylint - tests
  entry: pylint
  args:
  - --rcfile=.pylintrc
  - --disable=import-outside-toplevel,redefined-outer-name
  language: python
  require_serial: true

Avoid double definition of HAVE_SETENV
  src/config-paths.h.in
Due: none

Added swig to swig requirements_dev.txt
  .github/docker/Dockerfile-manylinux.template
  .github/docker/Dockerfile-manylinux_x_y.template
  .github/workflows/cd_docs.yml
  .github/workflows/ci_tests.yml
  doc/contributors_guide/tips_and_tricks.md
  python/setup.py
  requirements_dev.txt
Due: pylint

Corrected directory path
  python/setup.py
Due: pylint

Support restricted variable assignment in bash
  .github/docker/gen_dockerfile.sh
Due: none

Removed requirements_full from manylinux i686 container
  .github/docker/Dockerfile-manylinux.template
Due: none

Fixed typo and updated table of pre-build binaries
  .github/docker/Dockerfile-manylinux.template
  doc/getting_started/installation.md
Due: none

Bumbed down requirement on swig to v4.1.1
  requirements_dev.txt
Due: none

Avoid failure with swig 4.3.0
  bindings/python/dlite-misc.i
  doc/contributors_guide/tips_and_tricks.md
Due: none

Swig container (#1020)
  .github/docker/Dockerfile-manylinux.template
  .github/docker/Dockerfile-manylinux_x_y.template
  .github/docker/Dockerfile-musllinux.template
  .github/docker/gen_dockerfile.sh
  .github/workflows/cd_docs.yml
  .github/workflows/ci_build_wheels.yml
  .github/workflows/ci_tests.yml
  .github/workflows/container_builds_weekly.yml
  bindings/python/dlite-misc.i
  doc/contributors_guide/tips_and_tricks.md
  doc/getting_started/installation.md
  python/setup.py
  requirements_dev.txt
  requirements_full.txt
  src/config-paths.h.in
Due: pylint

Do not indate the sphinx version
  requirements_doc.txt
Due: none

Fix dependencies
  bindings/python/CMakeLists.txt
Due: none

Include Python 3.13 when building docker containers
  .github/workflows/container_builds_weekly.yml
Due: none

Include the Dockerfile we build in the sha hash for checking whether a new image should be published
  .github/workflows/container_builds_weekly.yml
Due: none

Test wheels build for Python 3.13
  .github/workflows/ci_build_wheels.yml
Due: none

Updated table with binary releases
  doc/getting_started/installation.md
Due: none

Include the Dockerfile we build in the sha hash for checking whether a new image should be published (#1023)
  .github/workflows/container_builds_weekly.yml
Due: none

Assign environment variables the github way...
  .github/workflows/container_builds_weekly.yml
Due: none

Removed condition on creating dockerfile
  .github/workflows/container_builds_weekly.yml
Due: none

Assign environment variables the GitHub when building weekly containers (#1030)
  .github/workflows/container_builds_weekly.yml
Due: none

Improved error messages from plugins
  src/dlite-mapping-plugins.c
  src/dlite-storage-plugins.c
  src/pyembed/dlite-pyembed.c
  src/utils/err.c
  src/utils/plugin.c
  src/utils/plugin.h
  src/utils/tests/test_plugin.c
Due: none

Display numpy version in cmake configure
  CMakeLists.txt
Due: none

Skip tests with missing requirements
  examples/read-csv/main.py
  examples/read-csv/readcsv.py
  storages/python/tests-python/test_image.py
Due: pylint, pylint-tests

Update patch-activate.sh
  cmake/patch-activate.sh
Due: none

Corrected import path
  examples/read-csv/readcsv.py
Due: pylint

Update python test verbosity
  bindings/python/tests/__main__.py
Due: pylint-tests

Update python version
  python/setup.py
Due: pylint

Removed explicit installation of numpy-1.x in cd_release.yml and pyproject.toml
  .github/workflows/cd_release.yml
  python/pyproject.toml
Due: none

Fix typo
  python/pyproject.toml
Due: none

Build manylinux i686 from Python 3.10+
  .github/workflows/cd_release.yml
  .github/workflows/ci_build_wheels.yml
  .github/workflows/container_builds_weekly.yml
  doc/getting_started/installation.md
Due: none

Update patch-activate.sh (#1033)
  cmake/patch-activate.sh
Due: none

Support for numpy2 (#1012)
  .github/workflows/cd_release.yml
  .github/workflows/ci_build_wheels.yml
  .github/workflows/container_builds_weekly.yml
  CMakeLists.txt
  bindings/python/CMakeLists.txt
  bindings/python/dlite-python.i
  bindings/python/factory.py
  bindings/python/numpy.i
  bindings/python/tests/__main__.py
  doc/getting_started/installation.md
  examples/TEM_data/requirements.txt
  python/pyproject.toml
  requirements.txt
Due: pylint, pylint-tests

Updated error message
  src/dlite-storage-plugins.c
Due: none

Don't update documentation requirements
  requirements_doc.txt
Due: none

Pydantic 2.10.0 is also buggy
  requirements_full.txt
Due: none

Do not build for Python 3.13 on musllinux i686
  .github/workflows/container_builds_weekly.yml
Due: none

Updated weekly build
  .github/docker/Dockerfile-manylinux.template
  .github/workflows/container_builds_weekly.yml
  doc/getting_started/installation.md
Due: none

Updated container build
  .github/workflows/cd_release.yml
  .github/workflows/ci_build_wheels.yml
  .github/workflows/container_builds_weekly.yml
  doc/getting_started/installation.md
Due: none

Remove win i686 from table of supported binary releases
  doc/getting_started/installation.md
Due: none

removed explicit requirements from pyproject.toml
  python/pyproject.toml
Due: none

Added needed 'requires' key to pyproject.toml file
  python/pyproject.toml
Due: none

Path conditions:
  pylint: any of: \.py$, but not: tests?(?:[^/]+)*/.*$
  pylint-tests: any of: tests?(?:[^/]+)*/.*$ and \.py$
