Repository SINTEF/dlite: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, pylint-tests

.pre-commit-config.yaml:

# To install the git pre-commit hook run:
#   pre-commit install
# To update the pre-commit hooks run:
#   pre-commit autoupdate
repos:
  # pre-commit-hooks supplies a multitude of small hooks
  # To get an overview of them all as well as the ones used here, please see
  # https://github.com/pre-commit/pre-commit-hooks#hooks-available
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
    - id: end-of-file-fixer
    - id: debug-statements
    - id: check-json
      name: Check JSON
    - id: check-yaml
      name: Check YAML
    - id: trailing-whitespace
      args: [--markdown-linebreak-ext=md]

  # isort is a tool to sort and group import statements in Python files
  # It works on files in-place
  - repo: https://github.com/timothycrosley/isort
    rev: 5.11.5
    hooks:
    - id: isort
      args: ["--profile", "black", "--filter-files", "--skip-gitignore"]

  # Black is a code style and formatter
  # It works on files in-place
  - repo: https://github.com/ambv/black
    rev: 23.3.0
    hooks:
    - id: black

  # Bandit is a security linter
  # More information can be found in its documentation:
  # https://bandit.readthedocs.io/en/latest/
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.5
    hooks:
    - id: bandit
      args: ["-r"]
      exclude: tests?(?:[^/]+)*/.*$

  # mypy is a static typing linter
  # The main code repository can be found at:
  # https://github.com/python/mypy
  # The project's documentation can be found at:
  # https://mypy.readthedocs.io/en/stable/index.html
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.4.1
    hooks:
    - id: mypy

  - repo: local
    hooks:
    # pylint is a Python linter
    # It is run through the local environment to ensure external packages can be
    # imported without issue.
    # For more information about pylint see its documentation at:
    # https://pylint.pycqa.org/en/latest/
    - id: pylint
      name: pylint
      entry: pylint
      args: ["--rcfile=.pylintrc"]
      language: python
      types: [python]
      require_serial: true
      exclude: tests?(?:[^/]+)*/.*$
    # pylint is a Python linter
    # It is run through the local environment to ensure external packages can be
    # imported without issue.
    # For more information about pylint see its documentation at:
    # https://pylint.pycqa.org/en/latest/
    - id: pylint-tests
      name: pylint - tests
      entry: pylint
      args:
      - "--rcfile=.pylintrc"
      - "--disable=import-outside-toplevel,redefined-outer-name"
      language: python
      types: [python]
      require_serial: true
      files: tests?(?:[^/]+)*/.*$

Added sutuptools and wheel for Python < 3.12
  python/pyproject.toml
Due: none

Only require setuptools and wheel for python < 3.12
  python/pyproject.toml
Due: none

Install requerements_dev in before-build in pyproject.toml
  python/pyproject.toml
Due: none

Reverted requirements in pyproject.toml
  python/pyproject.toml
Due: none

Reverted most of pyproject.toml to master
  python/pyproject.toml
Due: none

Added setuptools as dev requirement
  python/pyproject.toml
  requirements_dev.txt
Due: none

Update python/pyproject.toml
  python/pyproject.toml
Due: none

setuptools>=75 that also support python 3.8
  python/pyproject.toml
Due: none

Reverted to last change from JEsper
  python/pyproject.toml
Due: none

Try to separate setuptools versions for python 3.12
  python/pyproject.toml
Due: none

setuptoolsreq same in python/pyproject and requirements_dev
  requirements_dev.txt
Due: none

Do not set ENV SETUPTOOLS_USE_DISTUTILS in dockerfile for musllinux
  .github/docker/Dockerfile-musllinux.template
Due: none

Updated the IRI to be EMMO-complient such that we don't need to change it when adding hasDimension to EMMO.
  bindings/python/dataset.py
Due: pylint

Also added explicit IRIs for Dimension and hasScalarData
  bindings/python/dataset.py
Due: pylint

Reverted changes in doc requirements
  requirements_doc.txt
Due: none

More updates due to changes in EMMO
  bindings/python/dataset.py
  bindings/python/tests/test_dataset1_save.py
  bindings/python/tests/test_dataset2_load.py
Due: pylint, pylint-tests

Trying to revert some changes to see if that helps
  .github/workflows/ci_build_wheels.yml
  python/pyproject.toml
Due: none

Fixed indentation error
  bindings/python/dlite-entity-python.i
Due: none

Include Python 3.13 when building docker containers (#1022)
  .github/docker/Dockerfile-manylinux.template
  .github/docker/Dockerfile-musllinux.template
  .github/workflows/cd_release.yml
  .github/workflows/container_builds_weekly.yml
  doc/getting_started/installation.md
  python/pyproject.toml
  requirements_dev.txt
Due: none

Updated importskip to not skip tests with missing dependency on github CI
  .github/workflows/ci_tests.yml
  bindings/python/tests/CMakeLists.txt
  bindings/python/testutils.py
  doc/user_guide/environment_variables.md
  examples/CMakeLists.txt
  examples/mappings/oteexample.py
  storages/python/tests-python/test_mongodb-atlas_python.py
  storages/python/tests-python/test_mongodb_python.py
  storages/python/tests-python/test_postgresql_storage_python.py
  storages/python/tests-python/test_redis.py
Due: pylint, pylint-tests

Debugging with a specific test for mappings
  .github/workflows/ci_tests.yml
  examples/mappings/oteexample.py
Due: pylint

Added wheel as cmake target
  .github/workflows/ci_tests.yml
  CMakeLists.txt
  storages/python/tests-python/CMakeLists.txt
Due: none

Updated requirements in pyproject
  python/pyproject.toml
  requirements_dev.txt
Due: none

Updated requirements for setuptools
  python/pyproject.toml
  requirements_dev.txt
Due: none

Skip building wheel for 32 bit Windows
  .github/workflows/ci_build_wheels.yml
Due: none

Require setuptools 75.3.0 for all versions of Python due to security vulnerable in setuptools < 70.0.0
  python/pyproject.toml
  requirements_dev.txt
Due: none

Workaround for removed emmo:hasDimension (#1013)
  bindings/python/dataset.py
  bindings/python/tests/test_dataset1_save.py
  bindings/python/tests/test_dataset2_load.py
Due: pylint, pylint-tests

Fixed indentation error (#1035)
  bindings/python/dlite-entity-python.i
Due: none

Test wheels build for Python 3.13 (#1024)
  .github/workflows/ci_build_wheels.yml
  doc/getting_started/installation.md
  python/pyproject.toml
  python/setup.py
  requirements_dev.txt
Due: pylint

Updated release version
  .github/workflows/cd_release.yml
Due: none

Release Python 3.13 (#1036)
  .github/workflows/cd_release.yml
Due: none

Readded build on Windows that for some strange reasons was removed
  .github/workflows/windows.yml
Due: none

Renamed windows.yml to ci_build_windows.yml
  .github/workflows/ci_build_windows.yml
Due: none

Update bindings/python/testutils.py
  bindings/python/testutils.py
Due: pylint

Update doc/user_guide/environment_variables.md
  doc/user_guide/environment_variables.md
Due: none

Skip tests with missing requirements (#1032)
  .github/workflows/ci_tests.yml
  CMakeLists.txt
  bindings/python/tests/CMakeLists.txt
  bindings/python/testutils.py
  doc/user_guide/environment_variables.md
  examples/CMakeLists.txt
  examples/mappings/oteexample.py
  examples/read-csv/main.py
  examples/read-csv/readcsv.py
  storages/python/tests-python/CMakeLists.txt
  storages/python/tests-python/test_image.py
  storages/python/tests-python/test_mongodb-atlas_python.py
  storages/python/tests-python/test_mongodb_python.py
  storages/python/tests-python/test_postgresql_storage_python.py
  storages/python/tests-python/test_redis.py
Due: pylint, pylint-tests

Build wheel for Python 3.12
  doc/contributors_guide/tips_and_tricks.md
  requirements_dev.txt
  requirements_full.txt
Due: none

Hide warnings
  bindings/python/dlite-misc-python.i
  bindings/python/dlite-misc.i
  bindings/python/dlite-python.i
  bindings/python/tests/test_collection.py
  bindings/python/tests/test_collection_load.py
  bindings/python/tests/test_entity.py
  bindings/python/tests/test_jstore.py
  bindings/python/tests/test_misc.py
  src/dlite-misc.c
  src/dlite-misc.h
  src/utils/tests/test_globmatch.c
Due: pylint-tests

Compile Windows with c99, other platforms with c11
  CMakeLists.txt
Due: none

Select C standard based on Python version
  CMakeLists.txt
Due: none
