Repository SINTEF/dlite: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, pylint-tests

pylint:
  name: pylint
  entry: pylint
  args:
  - --rcfile=.pylintrc
  language: python
  require_serial: true

pylint-tests:
  name: pylint - tests
  entry: pylint
  args:
  - --rcfile=.pylintrc
  - --disable=import-outside-toplevel,redefined-outer-name
  language: python
  require_serial: true

Updated installation paths
  CMakeLists.txt
  bindings/python/CMakeLists.txt
  bindings/python/dlite-path-python.i
  bindings/python/protocol.py
  bindings/python/python-protocol-plugins/file.py
  bindings/python/quantity.py
  bindings/python/scripts/CMakeLists.txt
  src/config-paths.h.in
  src/dlite-storage.c
  tools/CMakeLists.txt
Due: pylint

Commented out unneeded execute_process() in cmake
  bindings/python/CMakeLists.txt
Due: none

Cleaning up and simplifying CMakeLists.txt
  CMakeLists.txt
Due: none

Added static library to extra_link_libraries
  CMakeLists.txt
Due: none

Updated comment
  CMakeLists.txt
Due: none

Add compiler flag -lrt if needed
  src/pyembed/CMakeLists.txt
Due: none

Added Python LDFLAGS
  CMakeLists.txt
  src/pyembed/CMakeLists.txt
Due: none

Added more verbose printing
  CMakeLists.txt
  bindings/python/dlite-storage.i
  bindings/python/python-protocol-plugins/file.py
Due: pylint

Adding -lrt to extra_link_libraries
  src/pyembed/CMakeLists.txt
Due: none

Reverted additional static linker flags
  CMakeLists.txt
  src/pyembed/CMakeLists.txt
Due: none

Improved installation
  .github/docker/gen_dockerfile.sh
  CMakeLists.txt
  bindings/python/protocol.py
  bindings/python/tests/test_protocol.py
  bindings/python/tests/test_storage.py
  python/DLite-Python/__init__.py
  src/pyembed/dlite-pyembed.c
  src/pyembed/dlite-pyembed.h
  src/tests/python/CMakeLists.txt
Due: pylint, pylint-tests

Updated protocol search path
  bindings/python/dlite-path-python.i
  bindings/python/protocol.py
  src/utils/CMakeLists.txt
  src/utils/config.h.in
  src/utils/fileutils.c
Due: pylint

Try to correct python install dirs on Windows
  CMakeLists.txt
  bindings/python/tests/plugins/bufftest.py
Due: pylint-tests

Handle the case that Python site directory equals its prefix
  CMakeLists.txt
  bindings/python/CMakeLists.txt
Due: none

Try to fix MSVS errors and warnings
  CMakeLists.txt
  bindings/python/tests/CMakeLists.txt
  bindings/python/tests/plugins/bufftest.py
  src/dlite-misc.h
  src/utils/CMakeLists.txt
  src/utils/config.h.in
  src/utils/err.c
  src/utils/rng.c
  storages/python/CMakeLists.txt
  storages/python/dlite-plugins-python.c
Due: pylint-tests

Reduce MSVS warnings
  doc/user_guide/storage_plugin.py
  doc/user_guide/storage_plugins.md
  src/utils/config.h.in
  src/utils/dsl.h
  src/utils/urlsplit.c
Due: pylint

Added test_plugin.py
  bindings/python/tests/test_plugin.py
Due: pylint-tests

yet a test to satisfy windows
  src/config-paths.h.in
  tools/CMakeLists.txt
Due: none

Fixed logical error
  tools/CMakeLists.txt
Due: none

Test to add a deliberate path with backslashes
  tools/dlite-env.c
Due: none

Try to fix empty library on Windows and non-escaped backslashes in dlite_PYTHONPATH
  CMakeLists.txt
  src/dlite-misc.c
  tools/CMakeLists.txt
  tools/dlite-env.c
Due: none

Fix cmake syntax
  CMakeLists.txt
Due: none

Unset extra_link_libraries if it is empty
  CMakeLists.txt
  src/pyembed/CMakeLists.txt
  tools/CMakeLists.txt
Due: none

Fix warnings on MSVC
  CMakeLists.txt
  bindings/python/CMakeLists.txt
  bindings/python/dlite-entity.i
  bindings/python/dlite-python.i
  src/utils/tests/test_clp2.c
  src/utils/tests/test_macros.h
  src/utils/tests/test_strutils.c
  src/utils/tests/test_uri_encode.c
Due: none

Never append anything empty to extra_link_libraries
  CMakeLists.txt
  src/utils/CMakeLists.txt
Due: none

Get rid of warnings on int comparision tests
  src/utils/tests/test_clp2.c
  src/utils/tests/test_strutils.c
  tools/CMakeLists.txt
Due: none

Unset extra_link_flags on MSVC
  src/tests/CMakeLists.txt
  src/tests/python/CMakeLists.txt
  storages/python/tests-c/CMakeLists.txt
Due: none

More MSVC fixes
  src/utils/tests/test_clp2.c
  src/utils/tests/test_strutils.c
  src/utils/tests/test_uuid.c
  src/utils/tests/test_uuid2.c
  storages/json/tests/CMakeLists.txt
Due: none

Update doc/user_guide/storage_plugins.md
  doc/user_guide/storage_plugins.md
Due: none

Reverted changed in requirements_doc.txt
  requirements_doc.txt
Due: none

No more support for Python 3.7
  python/setup.py
Due: pylint

:q :Q!
  doc/user_guide/storage_plugins.md
Due: none

A but more info on how to debug.
  doc/user_guide/storage_plugins.md
Due: none

Moved how to write entities into a separate section that is easier to find
  doc/user_guide/concepts.md
  doc/user_guide/index.rst
Due: none

Added example on datamodels in separate page.
  doc/user_guide/datamodels.md
Due: none

corrected index in user guide
  doc/user_guide/index.rst
Due: none

Update requirements of paramiko to include lates version
  requirements_full.txt
Due: none

Update doc/user_guide/datamodels.md
  doc/user_guide/datamodels.md
Due: none

Path conditions:
  pylint: any of: \.py$, but not: tests?(?:[^/]+)*/.*$
  pylint-tests: any of: tests?(?:[^/]+)*/.*$ and \.py$
