Repository SINTEF/dlite: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, pylint-tests

.pre-commit-config.yaml:

# To install the git pre-commit hook run:
#   pre-commit install
# To update the pre-commit hooks run:
#   pre-commit autoupdate
repos:
  # pre-commit-hooks supplies a multitude of small hooks
  # To get an overview of them all as well as the ones used here, please see
  # https://github.com/pre-commit/pre-commit-hooks#hooks-available
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
    - id: end-of-file-fixer
    - id: debug-statements
    - id: check-json
      name: Check JSON
    - id: check-yaml
      name: Check YAML
    - id: trailing-whitespace
      args: [--markdown-linebreak-ext=md]

  # isort is a tool to sort and group import statements in Python files
  # It works on files in-place
  - repo: https://github.com/timothycrosley/isort
    rev: 5.11.5
    hooks:
    - id: isort
      args: ["--profile", "black", "--filter-files", "--skip-gitignore"]

  # Black is a code style and formatter
  # It works on files in-place
  - repo: https://github.com/ambv/black
    rev: 23.3.0
    hooks:
    - id: black

  # Bandit is a security linter
  # More information can be found in its documentation:
  # https://bandit.readthedocs.io/en/latest/
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.5
    hooks:
    - id: bandit
      args: ["-r"]
      exclude: tests?(?:[^/]+)*/.*$

  # mypy is a static typing linter
  # The main code repository can be found at:
  # https://github.com/python/mypy
  # The project's documentation can be found at:
  # https://mypy.readthedocs.io/en/stable/index.html
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.4.1
    hooks:
    - id: mypy

  - repo: local
    hooks:
    # pylint is a Python linter
    # It is run through the local environment to ensure external packages can be
    # imported without issue.
    # For more information about pylint see its documentation at:
    # https://pylint.pycqa.org/en/latest/
    - id: pylint
      name: pylint
      entry: pylint
      args: ["--rcfile=.pylintrc"]
      language: python
      types: [python]
      require_serial: true
      exclude: tests?(?:[^/]+)*/.*$
    # pylint is a Python linter
    # It is run through the local environment to ensure external packages can be
    # imported without issue.
    # For more information about pylint see its documentation at:
    # https://pylint.pycqa.org/en/latest/
    - id: pylint-tests
      name: pylint - tests
      entry: pylint
      args:
      - "--rcfile=.pylintrc"
      - "--disable=import-outside-toplevel,redefined-outer-name"
      language: python
      types: [python]
      require_serial: true
      files: tests?(?:[^/]+)*/.*$

Readded make show
  python/setup.py
  src/utils/unicode.c
  src/utils/unicode.h
Due: pylint

Added example reproducing the pytest bug
  examples/pytestdebug/CMakeLists.txt
  examples/pytestdebug/README.md
  examples/pytestdebug/pyproject.toml
  examples/pytestdebug/pytestdebug.i
  examples/pytestdebug/pytestdebug/__init__.py
  examples/pytestdebug/tests/test_pytestdebug.py
Due: pylint-tests

Small update
  examples/pytestdebug/CMakeLists.txt
  examples/pytestdebug/README.md
  examples/pytestdebug/pyproject.toml
Due: none

Fix typo
  examples/pytestdebug/README.md
Due: none

Remove unneeded statement
  examples/pytestdebug/README.md
Due: none

Added extra info to the readme file.
  examples/pytestdebug/README.md
Due: none

Remove print statement
  examples/pytestdebug/pytestdebug/__init__.py
Due: pylint-tests

Updated how UUID is inferred from ID
  doc/user_guide/concepts.md
  doc/user_guide/history.md
  src/CMakeLists.txt
  src/dlite-behavior.c
  src/dlite-entity.c
  src/dlite-json.c
  src/dlite-misc.c
  src/dlite-misc.h
  src/dlite-storage.c
  src/dlite-store.c
  src/utils/uuid.c
  src/utils/uuid.h
Due: none

Many bugfixes
  CMakeLists.txt
  src/dlite-datamodel.c
  src/dlite-entity.c
  src/dlite-json.c
  src/dlite-misc.c
  src/dlite-misc.h
  src/dlite-storage.c
  src/dlite-store.c
  src/pyembed/dlite-pyembed.c
  src/pyembed/dlite-python-singletons.c
  src/tests/CMakeLists.txt
  src/tests/test_json.c
  src/tests/test_misc.c
  src/utils/CMakeLists.txt
  src/utils/config.h.in
  src/utils/fileutils.c
  src/utils/fileutils.h
  src/utils/tests/test_fileutils.c
  src/utils/uuid4.h
  tools/dlite-getuuid.c
Due: none

Fixed some bugs
  bindings/python/dlite-jstore-python.i
  bindings/python/dlite-misc.i
  bindings/python/tests/test_misc.py
  bindings/python/tests/test_storage.py
  doc/user_guide/environment_variables.md
  src/dlite-misc.c
  src/getuuid.c
  src/getuuid.h
  storages/json/dlite-json-storage.c
Due: pylint-tests

Corrected the last failing tests taking behavior change into account
  bindings/python/dlite-misc.i
  bindings/python/tests/test_misc.py
  src/dlite-misc.c
  src/dlite-misc.h
  src/tests/test_misc.c
Due: pylint-tests

Updated documentation.
  doc/user_guide/concepts.md
  tools/dlite-getuuid.c
Due: none

Updated documentation of dlite_get_uuid()
  src/dlite-misc.c
Due: none

Cleanup
  src/dlite-misc.h
  src/tests/test_getuuid.c
Due: none

Little safer programming
  src/tests/test_json.c
  storages/json/dlite-json-storage.c
Due: none

Double-checking PR
  src/dlite-entity.c
Due: none

Updating tests
  bindings/python/tests/test_entity.py
  bindings/python/tests/test_python_storage.py
  src/dlite-json.c
  src/dlite-misc.c
  src/dlite-misc.h
  src/tests/test-collection.json
  src/tests/test-data.json
  src/tests/test-read-data.json
  src/tests/test_collection.c
  src/tests/test_json.c
  src/tests/test_type.c
  storages/json/dlite-json-storage.c
  storages/json/tests/test_json_storage.c
  storages/python/python-storage-plugins/bson.py
  storages/python/tests-python/input/test_data.bson
  storages/python/tests-python/input/test_data.json
  storages/python/tests-python/input/test_data.ttl
  storages/python/tests-python/input/test_data.yaml
  storages/python/tests-python/input/test_meta.bson
  storages/python/tests-python/input/test_meta.yaml
  storages/python/tests-python/test_bson_storage_python.py
  storages/python/tests-python/test_yaml_storage_python.py
  storages/rdf/tests/test_rdf.c
Due: pylint, pylint-tests

Corrected IRIs in tests
  bindings/python/rdf.py
  bindings/python/tests/input/rdf.ttl
  bindings/python/tests/input/subdir/blob1.json
  bindings/python/tests/input/subdir/blob2.json
  bindings/python/tests/test_jstore.py
  bindings/python/tests/test_protocol.py
  bindings/python/tests/test_rdf.py
  bindings/python/tests/test_storage.py
  examples/datamodel_as_rdf/dataresource_pydantic2.py
  examples/entities/aa6060.json
  examples/entities/aa6082.json
  examples/minio_storage/fetch.py
  examples/minio_storage/store.py
  storages/python/tests-c/test_bson_storage.c
  storages/python/tests-python/test_minio.py
  storages/python/tests-python/test_mongodb_python.py
  storages/python/tests-python/test_template-jinja.py
  storages/python/tests-python/test_template.py
Due: pylint, pylint-tests

Improved documentation and updated some tests
  bindings/python/tests/test_postgresql2_read.py
  doc/user_guide/concepts.md
  src/dlite-behavior.c
  src/dlite-misc.c
  src/dlite-misc.h
  storages/python/tests-python/test_redis.py
Due: pylint-tests

Fixed typos in data models and updated the version of the Molecule data model.
  examples/mappings/entities/CalcResult.json
  examples/mappings/entities/Forces.json
  examples/mappings/entities/Molecule.json
  examples/mappings/entities/Structure.json
  examples/mappings/mappingfunc.py
  examples/mappings/oteexample.py
Due: pylint

Removed test_postgresql_storage_python. Better tests for postgresql has been added to bindings/python/tests/
  bindings/python/tests/test_postgresql2_read.py
  storages/python/tests-python/test_postgresql_storage_python.py
Due: pylint-tests

Corrected test failures
  examples/mappings/mappingfunc.py
  storages/python/tests-python/CMakeLists.txt
Due: pylint

Reverting manylinux wheel from 2_34 to 2_28
  .github/docker/Dockerfile-manylinux_x_y.template
  .github/workflows/cd_release.yml
  .github/workflows/ci_build_wheels.yml
  .github/workflows/container_builds_weekly.yml
Due: none

Reverted inconsistent version bumps
  python/pyproject.toml
  requirements_dev.txt
  requirements_doc.txt
Due: none

Reverting manylinux wheel from 2_34 to 2_28 (#1128)
  .github/docker/Dockerfile-manylinux_x_y.template
  .github/workflows/cd_release.yml
  .github/workflows/ci_build_wheels.yml
  .github/workflows/container_builds_weekly.yml
Due: none

Don't update setuptools and doc dependencies
  python/pyproject.toml
  requirements_dev.txt
  requirements_doc.txt
Due: none

Removed old non-working postgresql test.
  storages/python/tests-python/test_postgresql_storage_python.py
Due: pylint-tests

Added dlite_info() and dlite_debug()
  doc/user_guide/environment_variables.md
  src/dlite-behavior.c
  src/dlite-misc.c
  src/dlite-misc.h
  src/utils/err.c
  src/utils/err.h
Due: none

Added documentation of the soft5 and soft7 json formats.
  doc/user_guide/datamodels.md
Due: none

Fixed test failure
  bindings/python/tests/test_protocol.py
Due: pylint-tests

Added documentation of the soft5 and soft7 json formats. (#1140)
  bindings/python/tests/test_protocol.py
  doc/user_guide/datamodels.md
Due: pylint-tests

Removed old non-working postgresql test (#1139)
  storages/python/tests-python/test_postgresql_storage_python.py
Due: pylint-tests

Fixed typo in comment
  .github/docker/Dockerfile-musllinux.template
Due: none

Fixed typos in data models and updated the version of the Molecule data model (#1126)
  .github/docker/Dockerfile-musllinux.template
  examples/mappings/entities/CalcResult.json
  examples/mappings/entities/Forces.json
  examples/mappings/entities/Molecule.json
  examples/mappings/entities/Structure.json
  examples/mappings/mappingfunc.py
  examples/mappings/oteexample.py
  storages/python/tests-python/CMakeLists.txt
Due: pylint

Improved support for error levels and added dlite_info() and dlite_debug(). Also did some general cleanup and bug fixes.
  bindings/python/dlite-misc.i
  bindings/python/dlite-python.i
  bindings/python/dlite-type.i
  bindings/python/tests/test_storage.py
  doc/user_guide/datamodels.md
  examples/storage_plugin/main.py
  src/dlite-misc.c
  src/dlite-misc.h
  src/dlite-type.c
  src/tests/test_type.c
  src/utils/err.c
  src/utils/err.h
  storages/python/python-storage-plugins/yaml.py
  storages/rdf/dlite-rdf.c
Due: pylint, pylint-tests

Fixed wrong return value.
  src/utils/err.c
  src/utils/tests/test_err.c
Due: none

Improved support for error levels (#1141)
  bindings/python/dlite-misc.i
  bindings/python/dlite-python.i
  bindings/python/dlite-type.i
  bindings/python/tests/test_storage.py
  doc/user_guide/datamodels.md
  examples/storage_plugin/main.py
  src/dlite-misc.c
  src/dlite-misc.h
  src/dlite-type.c
  src/tests/test_type.c
  src/utils/err.c
  src/utils/err.h
  src/utils/tests/test_err.c
  storages/python/python-storage-plugins/yaml.py
  storages/rdf/dlite-rdf.c
Due: pylint, pylint-tests

Moved banner to the top
  README.md
Due: none
