Repository SINTEF/dlite: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, pylint-tests

.pre-commit-config.yaml:

# To install the git pre-commit hook run:
#   pre-commit install
# To update the pre-commit hooks run:
#   pre-commit autoupdate
repos:
  # pre-commit-hooks supplies a multitude of small hooks
  # To get an overview of them all as well as the ones used here, please see
  # https://github.com/pre-commit/pre-commit-hooks#hooks-available
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
    - id: end-of-file-fixer
    - id: debug-statements
    - id: check-json
      name: Check JSON
    - id: check-yaml
      name: Check YAML
    - id: trailing-whitespace
      args: [--markdown-linebreak-ext=md]

  # isort is a tool to sort and group import statements in Python files
  # It works on files in-place
  - repo: https://github.com/timothycrosley/isort
    rev: 5.11.5
    hooks:
    - id: isort
      args: ["--profile", "black", "--filter-files", "--skip-gitignore"]

  # Black is a code style and formatter
  # It works on files in-place
  - repo: https://github.com/ambv/black
    rev: 23.3.0
    hooks:
    - id: black

  # Bandit is a security linter
  # More information can be found in its documentation:
  # https://bandit.readthedocs.io/en/latest/
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.5
    hooks:
    - id: bandit
      args: ["-r"]
      exclude: tests?(?:[^/]+)*/.*$

  # mypy is a static typing linter
  # The main code repository can be found at:
  # https://github.com/python/mypy
  # The project's documentation can be found at:
  # https://mypy.readthedocs.io/en/stable/index.html
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.4.1
    hooks:
    - id: mypy

  - repo: local
    hooks:
    # pylint is a Python linter
    # It is run through the local environment to ensure external packages can be
    # imported without issue.
    # For more information about pylint see its documentation at:
    # https://pylint.pycqa.org/en/latest/
    - id: pylint
      name: pylint
      entry: pylint
      args: ["--rcfile=.pylintrc"]
      language: python
      types: [python]
      require_serial: true
      exclude: tests?(?:[^/]+)*/.*$
    # pylint is a Python linter
    # It is run through the local environment to ensure external packages can be
    # imported without issue.
    # For more information about pylint see its documentation at:
    # https://pylint.pycqa.org/en/latest/
    - id: pylint-tests
      name: pylint - tests
      entry: pylint
      args:
      - "--rcfile=.pylintrc"
      - "--disable=import-outside-toplevel,redefined-outer-name"
      language: python
      types: [python]
      require_serial: true
      files: tests?(?:[^/]+)*/.*$

Do not install rdflib in ci-tests workflow
  .github/workflows/ci_tests.yml
Due: none

Added comment as suggested by reviewer.
  .github/docker/Dockerfile-manylinux.template
Due: none

Added smart redland triple filter function to allow searching for both objects and datatypes as expected.
  bindings/python/dlite-collection-python.i
  bindings/python/dlite-collection.i
  bindings/python/dlite-entity-python.i
  src/dlite-collection.c
  src/tests/test_collection.c
  src/triplestore-builtin.c
  src/triplestore-redland.c
  src/triplestore.h
  storages/rdf/dlite-rdf.c
Due: none

Cleaned up debugging statements and comments
  src/tests/test_collection.c
  src/triplestore-redland.c
  src/triplestore.h
Due: none

Updated triplestore-builtin
  src/triplestore-builtin.c
Due: none

Correctly print/scan relations with datatype
  bindings/python/dlite-collection-python.i
  bindings/python/dlite-entity-python.i
  bindings/python/dlite-entity.i
  bindings/python/dlite-python.i
  bindings/python/tests/test_storage.py
  src/dlite-misc.c
  src/dlite-type.c
  src/tests/CMakeLists.txt
  src/tests/test_property.c
  src/tests/test_type.c
Due: pylint-tests

Updated collection, added tests and fixed bugs
  src/dlite-collection.c
  src/dlite-collection.h
  src/dlite-misc.c
  src/dlite-type.c
  src/tests/test_collection.c
  src/tests/test_triple.c
  src/tests/test_triplestore.c
  src/triple.c
  src/triple.h
  src/triplestore-builtin.c
  src/triplestore-redland.c
  src/triplestore.c
  src/triplestore.h
  src/utils/plugin.c
Due: none

Removed access to set_default_namespace() from Python. This method makes little sense and is just confusing.
  bindings/python/dlite-entity-python.i
  bindings/python/dlite-entity.i
Due: none

Added convenient Collection.value() method
  bindings/python/dlite-collection-python.i
  bindings/python/dlite-collection.i
  bindings/python/dlite-entity-python.i
  bindings/python/tests/test_collection.py
  src/dlite-collection.c
  src/dlite-collection.h
  src/dlite-errors.c
  src/dlite-errors.h
  src/tests/test_collection.c
  src/tests/test_triplestore.c
  src/triplestore.c
  src/triplestore.h
  src/utils/err.c
Due: pylint-tests

Improved error handling logics
  src/utils/err.c
Due: none

Avoid duplicating error messages when printing to terminal. Also color-coded debugging info.
  src/utils/err.c
  src/utils/err.h
Due: none

Also install libxml2 and libxslt in ci_tests.yml workflow
  .github/workflows/ci_tests.yml
Due: none

Do not install libxslt
  .github/workflows/ci_tests.yml
Due: none

Install libxml2-dev and libxslt-dev packages in ci_tests.yml workflow
  .github/workflows/ci_tests.yml
Due: none

Install libxml2-dev and libxslt-dev packages in cd_docs.yml workflow
  .github/workflows/cd_docs.yml
Due: none

Corrected rdf plugin and avoid double-free when running test_rdf with DLITE_ATEXIT_FREE
  storages/rdf/dlite-rdf.c
  storages/rdf/tests/test_rdf.c
Due: none

Updated error documentation.
  doc/_static/dlite-error.png
  doc/user_guide/exceptions.md
  src/dlite-collection.c
  src/dlite-errors.c
  src/dlite-errors.h
  src/dlite-json.c
Due: none

Cropped of ugly borders from dlite-error.png
  doc/_static/dlite-error.png
Due: none

Added figure to error documentation
  doc/_static/dlite-error.png
  doc/user_guide/exceptions.md
Due: none

Added error codes to storages/json/dlite-json-storage.c
  doc/user_guide/exceptions.md
  src/dlite-errors.c
  src/dlite-errors.h
  src/dlite-json.c
  storages/json/dlite-json-storage.c
Due: none

Updated error documentation.
  doc/user_guide/exceptions.md
Due: none

Remove duplicated patch-activate install command
  bindings/python/CMakeLists.txt
Due: none

Update figure link to github master. Added pre-view for reviewer...
  doc/user_guide/exceptions.md
Due: none

Check for CMake version before setting policy
  examples/ex1/CMakeLists.txt
  examples/ex2/CMakeLists.txt
  examples/ex3/CMakeLists.txt
Due: none

Documentation review
  doc/user_guide/exceptions.md
Due: none

Update bindings/python/dlite-collection-python.i
  bindings/python/dlite-collection-python.i
Due: none

Changes suggested by reviewer
  .github/workflows/ci_tests.yml
  bindings/python/dlite-collection-python.i
Due: none

Updated dlite as suggested by Francesca.
  bindings/python/dlite-collection.i
  bindings/python/dlite-entity-python.i
  bindings/python/dlite-python.i
  bindings/python/tests/test_collection.py
  bindings/python/tests/test_relation.py
  bindings/python/tests/test_storage.py
  src/dlite-collection.c
Due: pylint-tests

Apply suggestions from code review
  doc/user_guide/exceptions.md
Due: none

Updated requirements for consistency
  doc/CMakeLists.txt
  requirements_doc.txt
Due: none

c tests go
  src/tests/test_json.c
  src/tests/test_property.c
  src/tests/test_type.c
Due: none

All C files done. Builds and installs. ctest fails, python files remaining
  bindings/python/dlite-entity-python.i
  bindings/python/dlite-entity.i
  bindings/python/dlite-python.i
  src/dlite-arrays.c
  src/dlite-arrays.h
  src/dlite-bson.c
  src/dlite-codegen.c
  src/dlite-entity.c
  src/dlite-entity.h
  src/dlite-json.c
  src/dlite-type.c
  src/tests/test_arrays.c
  src/tests/test_property.c
  src/tests/test_type.c
Due: none

Resolved two more conflicts
  bindings/python/tests/test_utils.py
  src/dlite-entity.c
Due: pylint-tests

only 26 tests left
  bindings/python/datamodel.py
  bindings/python/rdf.py
  bindings/python/tests/test_datamodel.py
  bindings/python/tests/test_entity.py
  bindings/python/tests/test_factory.py
  bindings/python/tests/test_utils.py
  examples/TEM_data/__pycache__/tem_paths.cpython-38.pyc
  examples/datamodel_as_rdf/__pycache__/dataresource_pydantic2.cpython-38.pyc
  examples/datamodel_as_rdf/__pycache__/pydantic_nested.cpython-38.pyc
  examples/mappings/__pycache__/simple.cpython-38.pyc
  src/tests/test_json.c
  storages/python/tests-c/test_bson_storage.c
  storages/python/tests-c/test_yaml_storage.c
Due: pylint, pylint-tests

25 tests left. Lots of SegFault
  bindings/python/tests/entities/PersonOld.json
  bindings/python/tests/test_property_mappings.py
  bindings/python/tests/test_python_storage.py
  bindings/python/tests/test_storage.py
Due: pylint-tests

Removed commented out code
  bindings/python/tests/test_collection_load.py
Due: pylint-tests

Implement the class QuanityHelper and use it from an Instance object.
  bindings/python/dlite-entity-python.i
  bindings/python/dlite-misc-python.i
  bindings/python/quantity.py
  bindings/python/tests/entities/PersonQuantity.json
  bindings/python/tests/test_quantity.py
Due: pylint, pylint-tests
