Repository SINTEF/dlite: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, pylint-tests

.pre-commit-config.yaml:

# To install the git pre-commit hook run:
#   pre-commit install
# To update the pre-commit hooks run:
#   pre-commit autoupdate
repos:
  # pre-commit-hooks supplies a multitude of small hooks
  # To get an overview of them all as well as the ones used here, please see
  # https://github.com/pre-commit/pre-commit-hooks#hooks-available
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
    - id: end-of-file-fixer
    - id: debug-statements
    - id: check-json
      name: Check JSON
    - id: check-yaml
      name: Check YAML
    - id: trailing-whitespace
      args: [--markdown-linebreak-ext=md]

  # isort is a tool to sort and group import statements in Python files
  # It works on files in-place
  - repo: https://github.com/timothycrosley/isort
    rev: 5.11.5
    hooks:
    - id: isort
      args: ["--profile", "black", "--filter-files", "--skip-gitignore"]

  # Black is a code style and formatter
  # It works on files in-place
  - repo: https://github.com/ambv/black
    rev: 23.3.0
    hooks:
    - id: black

  # Bandit is a security linter
  # More information can be found in its documentation:
  # https://bandit.readthedocs.io/en/latest/
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.5
    hooks:
    - id: bandit
      args: ["-r"]
      exclude: tests?(?:[^/]+)*/.*$

  # mypy is a static typing linter
  # The main code repository can be found at:
  # https://github.com/python/mypy
  # The project's documentation can be found at:
  # https://mypy.readthedocs.io/en/stable/index.html
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.4.1
    hooks:
    - id: mypy

  - repo: local
    hooks:
    # pylint is a Python linter
    # It is run through the local environment to ensure external packages can be
    # imported without issue.
    # For more information about pylint see its documentation at:
    # https://pylint.pycqa.org/en/latest/
    - id: pylint
      name: pylint
      entry: pylint
      args: ["--rcfile=.pylintrc"]
      language: python
      types: [python]
      require_serial: true
      exclude: tests?(?:[^/]+)*/.*$
    # pylint is a Python linter
    # It is run through the local environment to ensure external packages can be
    # imported without issue.
    # For more information about pylint see its documentation at:
    # https://pylint.pycqa.org/en/latest/
    - id: pylint-tests
      name: pylint - tests
      entry: pylint
      args:
      - "--rcfile=.pylintrc"
      - "--disable=import-outside-toplevel,redefined-outer-name"
      language: python
      types: [python]
      require_serial: true
      files: tests?(?:[^/]+)*/.*$

Separated numpy requirements between build and use
  python/pyproject.toml
  requirements_dev.txt
Due: none

Don't use Py_NewRef() - it was added in Python 3.10
  bindings/python/dlite-python.i
Due: none

Drop support for Python 3.8 in Windows
  .github/workflows/cd_release.yml
  .github/workflows/ci_build_wheels.yml
  doc/getting_started/installation.md
Due: none

Reverted setup.py
  doc/contributors_guide/tips_and_tricks.md
  python/setup.py
Due: pylint

Hide warnings (#1039)
  bindings/python/dlite-misc-python.i
  bindings/python/dlite-misc.i
  bindings/python/dlite-python.i
  bindings/python/tests/test_collection.py
  bindings/python/tests/test_collection_load.py
  bindings/python/tests/test_entity.py
  bindings/python/tests/test_jstore.py
  bindings/python/tests/test_misc.py
  src/dlite-misc.c
  src/dlite-misc.h
  src/utils/tests/test_globmatch.c
Due: pylint-tests

Reverted more changes to get back to a place where windows doesn't fail
  .github/workflows/cd_release.yml
  .github/workflows/ci_build_wheels.yml
  python/pyproject.toml
  requirements_dev.txt
Due: none

Reapplied changes to setup.py
  python/setup.py
Due: pylint

Also added pyyaml to requirements on windows
  python/pyproject.toml
Due: none

Reapplied selected changes from branch build-wheel2
  CMakeLists.txt
  doc/contributors_guide/tips_and_tricks.md
  requirements.txt
  requirements_dev.txt
  requirements_full.txt
  src/utils/integers.h.in
Due: none

Build win32 with c99
  CMakeLists.txt
Due: none

Only apply changes in C standard and intergers.h.in
  CMakeLists.txt
  src/utils/integers.h.in
Due: none

Build wheels with numpy==2.0.2 to avoid problems with PyMutex_Unlock being undefined
  doc/contributors_guide/tips_and_tricks.md
  python/pyproject.toml
  requirements.txt
Due: none

Relax version of numpy to build against since it depends heavily on Python version
  python/pyproject.toml
Due: none

Ensure that windows also gets requirements.txt for testing
  python/pyproject.toml
Due: none

Updated setup.py on top of branch build-wheel4
  python/setup.py
Due: pylint

WIP: Update setup.py on top of branch build-wheel4 (#1044)
  CMakeLists.txt
  python/setup.py
  src/utils/integers.h.in
Due: pylint

Updated requirements
  requirements_dev.txt
  requirements_full.txt
Due: none

Updated tips and trics in the documentation
  doc/contributors_guide/tips_and_tricks.md
Due: none

Updated pydantic models such that they work for pydantic > 2.10.0
  examples/datamodel_as_rdf/dataresource_pydantic2.py
  requirements_full.txt
Due: pylint

Updated dependencies
  requirements_dev.txt
  requirements_doc.txt
  requirements_full.txt
Due: none

Update .gitignore files with venv's, CTest, VS Code, python binding test outputs
  .gitignore
  bindings/python/tests/output/.gitignore
Due: none

globchars(): Added correct function declaration in header file to silence compiler warning
  src/utils/globmatch.c
  src/utils/globmatch.h
Due: none

help() - removed surplus argument to silence compiler warning
  tools/dlite-codegen.c
  tools/dlite-env.c
Due: none

Call SWIG_Python_AppendOutput() with correct number of arguments depending on SWIG version
  bindings/python/dlite-python.i
Due: none

Call SWIG_Python_AppendOutput() with correct number of arguments depending on SWIG version (#1062)
  bindings/python/dlite-python.i
Due: none

Update .gitignore files with venv's, CTest, VS Code, test outputs for Python binding
  .gitignore
  bindings/python/tests/output/.gitignore
Due: none

MacOS - changes to the core code to allow DLite to compile on MacOS. Pre-processor updates, lib changes, and switch changes for code handling files.
  src/utils/byteorder.h.in
  src/utils/compat-src/getopt.h
  src/utils/config.h.in
  src/utils/dsl.h
  src/utils/fileinfo.c
  src/utils/fileutils.c
  src/utils/fileutils.h
Due: none

Renamed emmo:DataSet to emmo:Dataset
  bindings/python/dataset.py
  examples/dataset/README.md
Due: pylint

Renamed emmo:DataSet to emmo:Dataset (#1065)
  bindings/python/dataset.py
  examples/dataset/README.md
Due: pylint

Fix doc as suggested by flb
  doc/contributors_guide/tips_and_tricks.md
Due: none

Update doc/contributors_guide/tips_and_tricks.md
  doc/contributors_guide/tips_and_tricks.md
Due: none

The minio tests often fails due to the minio playground not being available or its storage is filled up by other users.
  CMakeLists.txt
  examples/CMakeLists.txt
  examples/minio_storage/main.py
  storages/python/tests-python/CMakeLists.txt
Due: pylint

Fixed typo
  storages/python/tests-python/CMakeLists.txt
Due: none

Only add additional properties to minio_storage test if it is included
  examples/CMakeLists.txt
Due: none

Removed print statement
  examples/minio_storage/main.py
Due: pylint

Skip MinIO test when the MinIO playground is not responding or filled up (#1068)
  CMakeLists.txt
  examples/CMakeLists.txt
  examples/minio_storage/main.py
  storages/python/tests-python/CMakeLists.txt
Due: pylint

Suppressed cppcheck where it produces false negatives
  storages/python/tests-c/test_postgresql_storage.c
Due: none

Updated suppression
  storages/python/tests-c/test_postgresql_storage.c
Due: none

Suppress both syntaxError and unknownMacro
  storages/python/tests-c/test_postgresql_storage.c
Due: none

Also suppress cppcheck errors in test_postgresql_storage2.c
  src/dlite-errors.c
  src/dlite-errors.h
  src/pyembed/dlite-pyembed.c
  storages/python/tests-c/test_postgresql_storage2.c
Due: none
