Repository SINTEF/dlite: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, pylint-tests

.pre-commit-config.yaml:

# To install the git pre-commit hook run:
#   pre-commit install
# To update the pre-commit hooks run:
#   pre-commit autoupdate
repos:
  # pre-commit-hooks supplies a multitude of small hooks
  # To get an overview of them all as well as the ones used here, please see
  # https://github.com/pre-commit/pre-commit-hooks#hooks-available
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
    - id: end-of-file-fixer
    - id: debug-statements
    - id: check-json
      name: Check JSON
    - id: check-yaml
      name: Check YAML
    - id: trailing-whitespace
      args: [--markdown-linebreak-ext=md]

  # isort is a tool to sort and group import statements in Python files
  # It works on files in-place
  - repo: https://github.com/timothycrosley/isort
    rev: 5.11.5
    hooks:
    - id: isort
      args: ["--profile", "black", "--filter-files", "--skip-gitignore"]

  # Black is a code style and formatter
  # It works on files in-place
  - repo: https://github.com/ambv/black
    rev: 23.3.0
    hooks:
    - id: black

  # Bandit is a security linter
  # More information can be found in its documentation:
  # https://bandit.readthedocs.io/en/latest/
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.5
    hooks:
    - id: bandit
      args: ["-r"]
      exclude: tests?(?:[^/]+)*/.*$

  # mypy is a static typing linter
  # The main code repository can be found at:
  # https://github.com/python/mypy
  # The project's documentation can be found at:
  # https://mypy.readthedocs.io/en/stable/index.html
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.4.1
    hooks:
    - id: mypy

  - repo: local
    hooks:
    # pylint is a Python linter
    # It is run through the local environment to ensure external packages can be
    # imported without issue.
    # For more information about pylint see its documentation at:
    # https://pylint.pycqa.org/en/latest/
    - id: pylint
      name: pylint
      entry: pylint
      args: ["--rcfile=.pylintrc"]
      language: python
      types: [python]
      require_serial: true
      exclude: tests?(?:[^/]+)*/.*$
    # pylint is a Python linter
    # It is run through the local environment to ensure external packages can be
    # imported without issue.
    # For more information about pylint see its documentation at:
    # https://pylint.pycqa.org/en/latest/
    - id: pylint-tests
      name: pylint - tests
      entry: pylint
      args:
      - "--rcfile=.pylintrc"
      - "--disable=import-outside-toplevel,redefined-outer-name"
      language: python
      types: [python]
      require_serial: true
      files: tests?(?:[^/]+)*/.*$

Ensure that newly created metadata is properly freed
  bindings/python/tests/test_utils.py
  src/dlite-json.c
Due: pylint-tests

Only test loading excel file if openpyxl is available
  bindings/python/tests/test_table.py
Due: pylint-tests

Ignore confusing warning.
  bindings/python/table.py
Due: pylint

Only test loading excel file if openpyxl is available (#1266)
  bindings/python/tests/test_table.py
Due: pylint-tests

Ignore confusing openpyxl warning (#1267)
  bindings/python/table.py
Due: pylint

Added fix for empty shape in tables
  bindings/python/table.py
  bindings/python/tests/test_table.py
Due: pylint, pylint-tests

Updated tests
  bindings/python/tests/test_table.py
Due: pylint-tests

Added an extra strip
  bindings/python/table.py
Due: pylint

Applied changes
  bindings/python/dataset.py
  bindings/python/table.py
  bindings/python/tests/test_table.py
  examples/dataset/README.md
Due: pylint, pylint-tests

Reverted to EMMO 1.0.3
  bindings/python/dataset.py
Due: pylint

Added documentation and reverted to EMMO 1.0.0
  bindings/python/dataset.py
  doc/user_guide/datamodels.md
Due: pylint

Updated the zenodo badge to one that (hopefully) renders better on github.
  README.md
Due: none

Corrected readme
  README.md
Due: none

Save datamodel table to triplestore (#1271)
  README.md
  bindings/python/dataset.py
  bindings/python/table.py
  bindings/python/tests/test_table.py
  doc/user_guide/datamodels.md
  examples/dataset/README.md
Due: pylint, pylint-tests

Fix cd_release.yml
  .github/workflows/cd_release.yml
  CMakeLists.txt
Due: none

Fix cd_release.yml (#1272)
  .github/workflows/cd_release.yml
  CMakeLists.txt
Due: none

update cd_release
  .github/workflows/cd_release.yml
Due: none

fix typo
  .github/workflows/cd_release.yml
Due: none

Update cd_release (#1273)
  .github/workflows/cd_release.yml
Due: none

Avoid trigger segfault and allow to manually run cd_release
  .github/workflows/cd_release.yml
  bindings/python/tests/test_python_bindings.py
  bindings/python/tests/test_table.py
Due: pylint-tests

Correct cd_release (#1274)
  .github/workflows/cd_release.yml
  bindings/python/tests/test_python_bindings.py
  bindings/python/tests/test_table.py
Due: pylint-tests

Corrected autoupdate of version number
  .github/workflows/cd_release.yml
  CMakeLists.txt
Due: none

Avoid running failing test_dataset2_load.py for DLITE_BEHAVIOR=ON
  .github/docker/build_and_test.sh
Due: none

Corrected autoupdate of version number (#1275)
  .github/docker/build_and_test.sh
  .github/workflows/cd_release.yml
  CMakeLists.txt
Due: none

Correct CMakeLists.txt and fix cd_release
  .github/workflows/cd_release.yml
  CMakeLists.txt
Due: none

Corrected regex
  .github/workflows/cd_release.yml
Due: none

Fix release2 (#1276)
  .github/workflows/cd_release.yml
  CMakeLists.txt
Due: none

Do not try to commit if nothing has changed
  .github/workflows/cd_release.yml
Due: none

Do not try to commit if nothing has changed (#1277)
  .github/workflows/cd_release.yml
Due: none

Fix so that units are encoded correctly for EMMO
  bindings/python/dataset.py
Due: pylint

Added possibility to handle unrecognised units
  bindings/python/dataset.py
  bindings/python/table.py
  bindings/python/tests/test_table.py
Due: pylint, pylint-tests

Update bindings/python/table.py
  bindings/python/table.py
Due: pylint

Added test and reverted behaviour
  bindings/python/dataset.py
  bindings/python/table.py
  bindings/python/tests/test_table.py
Due: pylint, pylint-tests

Clarified the behaviour of units not found in the ontology.
  bindings/python/table.py
Due: pylint

Updated tests
  bindings/python/table.py
  bindings/python/tests/test_table.py
Due: pylint, pylint-tests

Fix typo suggested by Francesca
  bindings/python/table.py
Due: pylint

Ensure that unit is added if it exists in the ontology
  bindings/python/table.py
  bindings/python/tests/test_table.py
Due: pylint, pylint-tests

Removed unnecessary force
  bindings/python/tests/test_table.py
Due: pylint-tests

Added possibility to handle unrecognised units (#1279)
  bindings/python/dataset.py
  bindings/python/table.py
  bindings/python/tests/test_table.py
Due: pylint, pylint-tests

Normalise unicode characters used in units before matching
  bindings/python/dataset.py
  bindings/python/tests/test_dataset1_save.py
Due: pylint, pylint-tests
