Repository SINTEF/dlite: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, pylint-tests

.pre-commit-config.yaml:

# To install the git pre-commit hook run:
#   pre-commit install
# To update the pre-commit hooks run:
#   pre-commit autoupdate
repos:
  # pre-commit-hooks supplies a multitude of small hooks
  # To get an overview of them all as well as the ones used here, please see
  # https://github.com/pre-commit/pre-commit-hooks#hooks-available
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
    - id: end-of-file-fixer
    - id: debug-statements
    - id: check-json
      name: Check JSON
    - id: check-yaml
      name: Check YAML
    - id: trailing-whitespace
      args: [--markdown-linebreak-ext=md]

  # isort is a tool to sort and group import statements in Python files
  # It works on files in-place
  - repo: https://github.com/timothycrosley/isort
    rev: 5.11.5
    hooks:
    - id: isort
      args: ["--profile", "black", "--filter-files", "--skip-gitignore"]

  # Black is a code style and formatter
  # It works on files in-place
  - repo: https://github.com/ambv/black
    rev: 23.3.0
    hooks:
    - id: black

  # Bandit is a security linter
  # More information can be found in its documentation:
  # https://bandit.readthedocs.io/en/latest/
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.5
    hooks:
    - id: bandit
      args: ["-r"]
      exclude: tests?(?:[^/]+)*/.*$

  # mypy is a static typing linter
  # The main code repository can be found at:
  # https://github.com/python/mypy
  # The project's documentation can be found at:
  # https://mypy.readthedocs.io/en/stable/index.html
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.4.1
    hooks:
    - id: mypy

  - repo: local
    hooks:
    # pylint is a Python linter
    # It is run through the local environment to ensure external packages can be
    # imported without issue.
    # For more information about pylint see its documentation at:
    # https://pylint.pycqa.org/en/latest/
    - id: pylint
      name: pylint
      entry: pylint
      args: ["--rcfile=.pylintrc"]
      language: python
      types: [python]
      require_serial: true
      exclude: tests?(?:[^/]+)*/.*$
    # pylint is a Python linter
    # It is run through the local environment to ensure external packages can be
    # imported without issue.
    # For more information about pylint see its documentation at:
    # https://pylint.pycqa.org/en/latest/
    - id: pylint-tests
      name: pylint - tests
      entry: pylint
      args:
      - "--rcfile=.pylintrc"
      - "--disable=import-outside-toplevel,redefined-outer-name"
      language: python
      types: [python]
      require_serial: true
      files: tests?(?:[^/]+)*/.*$

Further improved documentation.
  bindings/python/dlite-entity-python.i
  bindings/python/dlite-entity.i
Due: none

Documentation cleanup
  bindings/python/dlite-collection-python.i
  bindings/python/dlite-entity.i
  bindings/python/dlite-misc-python.i
  bindings/python/dlite-python.i
  doc/CMakeLists.txt
  doc/getting_started/tutorial.md
Due: none

Update src/dlite-json.c
  src/dlite-json.c
Due: none

Update src/utils/jsmnx.c
  src/utils/jsmnx.c
Due: none

Updated based on suggestions by reviewer
  src/utils/jsmnx.c
  src/utils/jsmnx.h
Due: none

Cleanup
  src/utils/jsmnx.c
Due: none

Fix json iterate (#985)
  bindings/python/dlite-entity-python.i
  bindings/python/scripts/dlite-validate
  bindings/python/tests/test_entity.py
  bindings/python/tests/test_storage.py
  src/dlite-json.c
  src/utils/jsmn.h
  src/utils/jsmnx.c
  src/utils/jsmnx.h
Due: pylint-tests

Adding tests
  bindings/python/scripts/CMakeLists.txt
  bindings/python/tests/entities/Invalid1.yaml
  bindings/python/tests/entities/Valid1.yaml
Due: none

Renamed datamodels to avoid naming conflicts with other data models
  bindings/python/scripts/CMakeLists.txt
  bindings/python/tests/entities/InvalidYaml1.yaml
  bindings/python/tests/entities/ValidYaml1.yaml
Due: none

Avoid overwrite existing YAML files if no change has been made (#987)
  bindings/python/scripts/CMakeLists.txt
  bindings/python/tests/entities/InvalidYaml1.yaml
  bindings/python/tests/entities/ValidYaml1.yaml
  bindings/python/tests/test_storage.py
  storages/python/python-storage-plugins/yaml.py
Due: pylint, pylint-tests

Update bindings/python/scripts/dlite-validate
  bindings/python/scripts/dlite-validate
Due: none

Fix some memory issues
  cmake/valgrind-dlite.supp
  doc/contributors_guide/tips_and_tricks.md
  src/tests/python/test_python_mapping.c
  src/tests/test_json.c
Due: none

Update doc/user_guide/search_paths.md
  doc/user_guide/search_paths.md
Due: none

temporal changes
  bindings/python/scripts/dlite-validate
  storages/python/dlite-plugins-python.c
  storages/python/python-storage-plugins/yaml.py
Due: pylint

Updates after review
  doc/user_guide/search_paths.md
  doc/user_guide/storage_plugins.md
Due: none

Update bindings/python/dlite-collection-python.i
  bindings/python/dlite-collection-python.i
Due: none

Update bindings/python/dlite-entity.i
  bindings/python/dlite-entity.i
Due: none

Update doc/getting_started/tutorial.md
  doc/getting_started/tutorial.md
Due: none

Added definitions neeed by dlite-pyembed.c to config-paths.h
  src/config-paths.h.in
Due: none

Ensure that needed configurations reaches dlite-pyembed.c
  bindings/python/scripts/dlite-validate
Due: none

Initialise DLite search paths from entry points (#990)
  bindings/python/dlite-path-python.i
  bindings/python/dlite-path.i
  doc/user_guide/index.rst
  doc/user_guide/search_paths.md
  doc/user_guide/storage_plugins.md
  src/dlite-codegen.h
Due: none

Initialise environment from global Python variables (#989)
  bindings/python/scripts/dlite-validate
  src/config-paths.h.in
  src/dlite-behavior.c
  src/pyembed/dlite-pyembed.c
  src/pyembed/dlite-pyembed.h
  src/utils/CMakeLists.txt
  src/utils/compat.c
  src/utils/compat.h
  src/utils/config.h.in
Due: none

Fix documentation warnings and errors (#994)
  bindings/python/dlite-collection-python.i
  bindings/python/dlite-entity-python.i
  bindings/python/dlite-entity.i
  bindings/python/dlite-misc-python.i
  bindings/python/dlite-python.i
  bindings/python/python-protocol-plugins/file.py
  bindings/python/python-protocol-plugins/sftp.py
  doc/CMakeLists.txt
  doc/Doxyfile.in
  doc/_static/datamodel.png
  doc/_static/storage-protocol.png
  doc/conf.py.in
  doc/getting_started/about.md
  doc/getting_started/build/build.md
  doc/getting_started/tutorial.md
  doc/user_guide/datamodels.md
  doc/user_guide/protocol_plugins.md
  doc/user_guide/storage_plugins.md
  src/pyembed/dlite-python-storage.h
  src/utils/CMakeLists.txt
  src/utils/LICENSES.txt
  src/utils/README.md
  src/utils/compat-src/config_snprintf.h.in
  src/utils/compat-src/dirent.h
  src/utils/compat-src/getopt.c
  src/utils/compat-src/getopt.h
  src/utils/compat-src/realpath.c
  src/utils/compat-src/snprintf.c
  src/utils/compat.h
  src/utils/config.h.in
  src/utils/fileutils.h
  storages/python/python-storage-plugins/http.py
  storages/python/python-storage-plugins/image.py
  storages/python/python-storage-plugins/mongodb.py
  storages/python/python-storage-plugins/postgresql.py
  storages/python/python-storage-plugins/pyrdf.py
  storages/python/python-storage-plugins/template.py
  tools/dlite-codegen.c
  tools/dlite-env.c
  tools/dlite-getuuid.c
Due: pylint

Update requirements_doc.txt
  requirements_doc.txt
Due: none

Added python interface to jstore
  bindings/python/dlite-entity.i
  bindings/python/dlite-jstore-python.i
  bindings/python/dlite-jstore.i
  bindings/python/dlite-python.i
  bindings/python/dlite.i
  bindings/python/tests/CMakeLists.txt
  bindings/python/tests/test_jstore.py
  bindings/python/tests/test_python_storage.py
  bindings/python/tests/test_storage.py
  bindings/python/tests/test_utils.py
  bindings/python/utils.py
  src/dlite-json.c
  src/dlite-json.h
  src/dlite.h
  src/utils/jstore.c
  src/utils/jstore.h
  storages/python/python-storage-plugins/yaml.py
  storages/python/tests-python/input/test_data.yaml
  storages/python/tests-python/input/test_meta.yaml
  storages/python/tests-python/test_yaml_storage_python.py
Due: pylint, pylint-tests

Update bindings/python/dlite-jstore-python.i
  bindings/python/dlite-jstore-python.i
Due: none

Added comments about equal soft7 and old representations
  bindings/python/tests/test_jstore.py
Due: pylint-tests

Reduce code duplication.
  bindings/python/dlite-entity-python.i
  bindings/python/dlite-jstore-python.i
  bindings/python/dlite-jstore.i
  bindings/python/tests/test_utils.py
  bindings/python/utils.py
  src/dlite-json.c
  src/utils/jstore.h
Due: pylint, pylint-tests

Add condition for deprecation warnings
  bindings/python/utils.py
Due: pylint

Remove some memory leaks
  src/tests/test_json.c
Due: none

Remore memory leak
  src/dlite-collection.c
  src/triplestore-redland.c
Due: none
