Repository SINTEF/dlite: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, pylint-tests

pylint:
  name: pylint
  entry: pylint
  args:
  - --rcfile=.pylintrc
  language: python
  require_serial: true

pylint-tests:
  name: pylint - tests
  entry: pylint
  args:
  - --rcfile=.pylintrc
  - --disable=import-outside-toplevel,redefined-outer-name
  language: python
  require_serial: true

Documented naming conventions
  doc/user_guide/concepts.md
Due: none

Added python-scikit-image:p to ci_tests.yml as suggested by nameloCmaS
  .github/workflows/ci_tests.yml
Due: none

Added python-pyarrow to dependencies
  .github/workflows/ci_tests.yml
Due: none

Install pyarrow via requirements on mingw
  .github/workflows/ci_tests.yml
Due: none

Install pyarrow with pip before main requirements
  .github/workflows/ci_tests.yml
Due: none

Added implicit dependencies to requirements_full
  .github/workflows/ci_tests.yml
  requirements_full.txt
Due: none

Fixed typo
  requirements_full.txt
Due: none

Avoid running tests twice on failure
  .github/workflows/ci_tests.yml
Due: none

Simplified requirements_full.txt and improved error reporting from minio
  requirements_full.txt
  storages/python/python-storage-plugins/minio.py
Due: pylint

Readded -V option when running tests
  .github/workflows/ci_tests.yml
Due: none

installed pyarrow with pacboy for mingw
  .github/workflows/ci_tests.yml
Due: none

Added pytables to requirements
  .github/workflows/ci_tests.yml
Due: none

Install python-tables
  .github/workflows/ci_tests.yml
Due: none

Install tables explicit using pip
  .github/workflows/ci_tests.yml
  requirements_full.txt
Due: none

Run tests with --output-on-failure but not -V
  .github/workflows/ci_tests.yml
Due: none

Install blosc2 more requirements to avoid that they gets build
  .github/workflows/ci_tests.yml
Due: none

Install prebuild numexpr
  .github/workflows/ci_tests.yml
Due: none

Install binary numexpr with pip
  .github/workflows/ci_tests.yml
  requirements_full.txt
Due: none

Remove syntax error
  .github/workflows/ci_tests.yml
Due: none

Remove explicit version of numexpr
  .github/workflows/ci_tests.yml
Due: none

Reduce dependencies for MINGW
  .github/workflows/ci_tests.yml
Due: none

Fixed some mingw warnings in storages/hdf5/dh5lite.c
  storages/hdf5/dh5lite.c
Due: none

Also comment out dlite.py as byproduct in bindings/python/CMakeLists.txt
  bindings/python/CMakeLists.txt
Due: none

Avoid having minio installed
  .github/workflows/ci_tests.yml
Due: none

Disable interactive pip confirmations
  .github/workflows/ci_tests.yml
Due: none

Fixed typo
  .github/workflows/ci_tests.yml
Due: none

Updated requirements
  .github/workflows/ci_tests.yml
  requirements_full.txt
Due: none

Skip minio example if minio is not available
  examples/minio_storage/main.py
Due: pylint

Added debugging test
  .github/workflows/ci_tests.yml
Due: none

Install binary wheel for pyarrow (and other dependencies) on mingq
  .github/workflows/ci_tests.yml
Due: none

On MinGW, remove packages from requirements_full.txt that are already installed with pacman
  .github/workflows/ci_tests.yml
Due: none

On MinGW, remove packages from requirements_full.txt that are already installed with pacman (#1201)
  .github/workflows/ci_tests.yml
Due: none

Fixed "make uninstall" (#1193)
  cmake/uninstall.cmake.in
Due: none

Implicit metadata dimensions (#1195)
  bindings/python/scripts/CMakeLists.txt
  bindings/python/tests/test_entity.py
  doc/user_guide/concepts.md
  src/dlite-json.c
Due: pylint-tests

Added test suggested by Francesca
  bindings/python/tests/test_protocol.py
  src/utils/compat-src/getopt.h
Due: pylint-tests

Update bindings/python/tests/test_protocol.py
  bindings/python/tests/test_protocol.py
Due: pylint-tests

Added zip protocol plugin (#1190)
  bindings/python/python-protocol-plugins/zip.py
  bindings/python/tests/input/subdir.zip
  bindings/python/tests/test_protocol.py
  bindings/python/utils.py
  src/utils/compat-src/getopt.h
Due: pylint, pylint-tests

Corrected URL to point to master branch
  bindings/python/tests/test_protocol.py
Due: pylint-tests

Corrected URL to point to master branch (#1202)
  bindings/python/tests/test_protocol.py
Due: pylint-tests

Path conditions:
  pylint: any of: \.py$, but not: tests?(?:[^/]+)*/.*$
  pylint-tests: any of: tests?(?:[^/]+)*/.*$ and \.py$
