Repository SINTEF/dlite: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, pylint-tests

.pre-commit-config.yaml:

# To install the git pre-commit hook run:
#   pre-commit install
# To update the pre-commit hooks run:
#   pre-commit autoupdate
repos:
  # pre-commit-hooks supplies a multitude of small hooks
  # To get an overview of them all as well as the ones used here, please see
  # https://github.com/pre-commit/pre-commit-hooks#hooks-available
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
    - id: end-of-file-fixer
    - id: debug-statements
    - id: check-json
      name: Check JSON
    - id: check-yaml
      name: Check YAML
    - id: trailing-whitespace
      args: [--markdown-linebreak-ext=md]

  # isort is a tool to sort and group import statements in Python files
  # It works on files in-place
  - repo: https://github.com/timothycrosley/isort
    rev: 5.11.5
    hooks:
    - id: isort
      args: ["--profile", "black", "--filter-files", "--skip-gitignore"]

  # Black is a code style and formatter
  # It works on files in-place
  - repo: https://github.com/ambv/black
    rev: 23.3.0
    hooks:
    - id: black

  # Bandit is a security linter
  # More information can be found in its documentation:
  # https://bandit.readthedocs.io/en/latest/
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.5
    hooks:
    - id: bandit
      args: ["-r"]
      exclude: tests?(?:[^/]+)*/.*$

  # mypy is a static typing linter
  # The main code repository can be found at:
  # https://github.com/python/mypy
  # The project's documentation can be found at:
  # https://mypy.readthedocs.io/en/stable/index.html
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.4.1
    hooks:
    - id: mypy

  - repo: local
    hooks:
    # pylint is a Python linter
    # It is run through the local environment to ensure external packages can be
    # imported without issue.
    # For more information about pylint see its documentation at:
    # https://pylint.pycqa.org/en/latest/
    - id: pylint
      name: pylint
      entry: pylint
      args: ["--rcfile=.pylintrc"]
      language: python
      types: [python]
      require_serial: true
      exclude: tests?(?:[^/]+)*/.*$
    # pylint is a Python linter
    # It is run through the local environment to ensure external packages can be
    # imported without issue.
    # For more information about pylint see its documentation at:
    # https://pylint.pycqa.org/en/latest/
    - id: pylint-tests
      name: pylint - tests
      entry: pylint
      args:
      - "--rcfile=.pylintrc"
      - "--disable=import-outside-toplevel,redefined-outer-name"
      language: python
      types: [python]
      require_serial: true
      files: tests?(?:[^/]+)*/.*$

Try to make docker-publish visible on github
  .github/workflows/docker-publish.yml
Due: none

Added more test services
  .github/docker/build_and_test.sh
  .github/workflows/ci_tests.yml
  .github/workflows/docker-publish.yml
Due: none

Removed ci_tests2.yml
  .github/workflows/ci_tests2.yml
Due: none

Added more services to ci_tests.yml
  .github/workflows/ci_tests.yml
Due: none

Fixed typo
  .github/workflows/ci_tests.yml
Due: none

Added postgresql and mongo services
  .github/workflows/ci_tests.yml
Due: none

fixed typo
  .github/workflows/ci_tests.yml
Due: none

cleanup
  .github/workflows/docker-publish.yml
Due: none

Don't start postgresql service
  .github/workflows/ci_tests.yml
Due: none

Cleaning up .github/docker
  .github/docker/Dockerfile-almalinux
  .github/docker/Dockerfile-alpine
  .github/docker/Dockerfile-centos
  .github/docker/Dockerfile-ci
  .github/docker/Dockerfile-manylinux.template
  .github/docker/Dockerfile-manylinux_x_y.template
  .github/docker/Dockerfile-mingw
  .github/docker/Dockerfile-musllinux.template
  .github/docker/Dockerfile-ubuntu
  .github/docker/gen_dockerfile.sh
  .github/docker/mkdockerfile.sh
  .github/docker/pgdg-91_i686.repo
  .github/docker/pgdg-91_x86_64.repo
  .github/docker/run
Due: none

More cleanup
  .github/workflows/ci_tests.yml
  .github/workflows/container_builds_weekly.yml
  .github/workflows/container_builds_weekly2.yml
Due: none

Cleaned up the run script
  .github/docker/build_and_test.sh
  .github/docker/run
Due: none

Prevented the segfault by importing test_storage
  bindings/python/tests/test_table.py
Due: pylint-tests

Added support for loading tables from excel
  bindings/python/table.py
  bindings/python/tests/test_table.py
Due: pylint, pylint-tests

Improve stability
  bindings/python/table.py
Due: pylint

Added missing excel file
  bindings/python/tests/input/datamodels.xlsx
Due: none

Removed unused .github/docker/run_cibuildwheel.sh
  .github/docker/run_cibuildwheel.sh
Due: none

Only run static analysis on merge to master
  .github/workflows/static_analysis.yml
Due: none

Renamed table.py to dmtable.py
  bindings/python/CMakeLists.txt
  bindings/python/dmtable.py
  bindings/python/tests/CMakeLists.txt
  bindings/python/tests/test_dmtable.py
Due: pylint, pylint-tests

Additional fixes for changing class name Table to DMTable
  bindings/python/CMakeLists.txt
  bindings/python/table.py
  bindings/python/tests/CMakeLists.txt
  bindings/python/tests/test_table.py
Due: pylint, pylint-tests

Update bindings/python/table.py
  bindings/python/table.py
Due: pylint

Updated default mapping of uri to @id
  bindings/python/table.py
  bindings/python/tests/input/datamodels.csv
  bindings/python/tests/input/datamodels.xlsx
  bindings/python/tests/test_table.py
Due: pylint, pylint-tests

Speeding up testing by building and testing in pre-build docker containers (#1215)
  .github/docker/Dockerfile-almalinux
  .github/docker/Dockerfile-alpine
  .github/docker/Dockerfile-centos
  .github/docker/Dockerfile-manylinux.template
  .github/docker/Dockerfile-mingw
  .github/docker/Dockerfile-ubuntu
  .github/docker/IMAGES.txt
  .github/docker/build_and_test.sh
  .github/docker/gen_dockerfile.sh
  .github/docker/pgdg-91_i686.repo
  .github/docker/pgdg-91_x86_64.repo
  .github/docker/run
  .github/docker/run_cibuildwheel.sh
  .github/workflows/cd_docs.yml
  .github/workflows/ci_build_wheels.yml
  .github/workflows/ci_tests.yml
  .github/workflows/ci_tests_old.yml
  .github/workflows/container_builds_weekly.yml
  .github/workflows/docker-publish.yml
  .github/workflows/static_analysis.yml
  bindings/python/tests/test_protocol.py
  bindings/python/utils.py
  requirements_full.txt
  src/dlite-json.c
Due: pylint, pylint-tests

Updated documentation of the baseuri
  bindings/python/table.py
Due: pylint

Added documentation
  bindings/python/table.py
  doc/user_guide/datamodels.md
Due: pylint

Added a reference to the documentation
  bindings/python/table.py
Due: pylint

Addressed comments from reviewer
  bindings/python/table.py
  doc/user_guide/datamodels.md
Due: pylint

Updated the markdown documentation
  doc/user_guide/datamodels.md
Due: none

Added extra text suggested by Francesca
  doc/user_guide/datamodels.md
Due: none

Added comment
  bindings/python/table.py
Due: pylint

New python module for parsing data models from tables. (#1245)
  bindings/python/CMakeLists.txt
  bindings/python/table.py
  bindings/python/tests/CMakeLists.txt
  bindings/python/tests/input/datamodels.csv
  bindings/python/tests/input/datamodels.xlsx
  bindings/python/tests/test_table.py
  doc/user_guide/datamodels.md
Due: pylint, pylint-tests

Add test that should not fail
  bindings/python/tests/input/datamodels2.csv
  bindings/python/tests/test_table.py
Due: pylint-tests

Apply suggestion from @jesper-friis
  bindings/python/tests/test_table.py
Due: pylint-tests

Correct parsing of dimensions in dmtable
  bindings/python/table.py
  bindings/python/tests/input/datamodels2.csv
  bindings/python/tests/test_table.py
Due: pylint, pylint-tests

Added pseudocode for testing empty shape and invalid json
  bindings/python/tests/test_utils.py
Due: pylint-tests
