Repository SINTEF/dlite: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, pylint-tests

.pre-commit-config.yaml:

# To install the git pre-commit hook run:
#   pre-commit install
# To update the pre-commit hooks run:
#   pre-commit autoupdate
repos:
  # pre-commit-hooks supplies a multitude of small hooks
  # To get an overview of them all as well as the ones used here, please see
  # https://github.com/pre-commit/pre-commit-hooks#hooks-available
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
    - id: end-of-file-fixer
    - id: debug-statements
    - id: check-json
      name: Check JSON
    - id: check-yaml
      name: Check YAML
    - id: trailing-whitespace
      args: [--markdown-linebreak-ext=md]

  # isort is a tool to sort and group import statements in Python files
  # It works on files in-place
  - repo: https://github.com/timothycrosley/isort
    rev: 5.11.5
    hooks:
    - id: isort
      args: ["--profile", "black", "--filter-files", "--skip-gitignore"]

  # Black is a code style and formatter
  # It works on files in-place
  - repo: https://github.com/ambv/black
    rev: 23.3.0
    hooks:
    - id: black

  # Bandit is a security linter
  # More information can be found in its documentation:
  # https://bandit.readthedocs.io/en/latest/
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.5
    hooks:
    - id: bandit
      args: ["-r"]
      exclude: tests?(?:[^/]+)*/.*$

  # mypy is a static typing linter
  # The main code repository can be found at:
  # https://github.com/python/mypy
  # The project's documentation can be found at:
  # https://mypy.readthedocs.io/en/stable/index.html
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.4.1
    hooks:
    - id: mypy

  - repo: local
    hooks:
    # pylint is a Python linter
    # It is run through the local environment to ensure external packages can be
    # imported without issue.
    # For more information about pylint see its documentation at:
    # https://pylint.pycqa.org/en/latest/
    - id: pylint
      name: pylint
      entry: pylint
      args: ["--rcfile=.pylintrc"]
      language: python
      types: [python]
      require_serial: true
      exclude: tests?(?:[^/]+)*/.*$
    # pylint is a Python linter
    # It is run through the local environment to ensure external packages can be
    # imported without issue.
    # For more information about pylint see its documentation at:
    # https://pylint.pycqa.org/en/latest/
    - id: pylint-tests
      name: pylint - tests
      entry: pylint
      args:
      - "--rcfile=.pylintrc"
      - "--disable=import-outside-toplevel,redefined-outer-name"
      language: python
      types: [python]
      require_serial: true
      files: tests?(?:[^/]+)*/.*$

Removed requirement on oldest-supported-numpy
  requirements_dev.txt
Due: none

Added comment asked for by reviewer
  .github/docker/Dockerfile-manylinux.template
Due: none

Updated comment
  bindings/python/tests/test_entity.py
Due: pylint-tests

allowed dlite.errctl() hide and show options to also be boolean
  bindings/python/dlite-misc-python.i
Due: none

Fixed segfault caused by misspelled shape
  bindings/python/tests/test_entity.py
  src/dlite-entity.c
Due: pylint-tests

Improved the bugfix
  src/dlite-entity.c
Due: none

Apply suggestions from code review
  bindings/python/tests/input/Invalid1.json
Due: none

Update bindings/python/tests/input/Invalid2.json
  bindings/python/tests/input/Invalid2.json
Due: none

Added a test for testutils
  bindings/python/tests/test_testutils.py
Due: pylint-tests

Updated test_testutils
  bindings/python/tests/test_testutils.py
Due: pylint-tests

Removed dependency on oldest-supported-numpy
  python/setup.py
Due: pylint

Added uninstall cmake target
  CMakeLists.txt
  cmake/uninstall.cmake.in
Due: none

Added reference to recipe in public cmake documentation
  cmake/uninstall.cmake.in
Due: none

Updated documentation about patch activate
  bindings/python/CMakeLists.txt
  doc/getting_started/build/build_against_python_env.md
  doc/getting_started/build/index.rst
  doc/getting_started/build/patch_activate.md
Due: none

Updated gitignore files
  .github/docker/.gitignore
  .gitignore
  python/.gitignore
Due: none

Made cmake detect virtualenv
  CMakeLists.txt
Due: none

Added support for python -m venv
  cmake/patch-activate.sh
  doc/getting_started/build/build_against_python_env.md
Due: none

Updated comment
  cmake/patch-activate.sh
Due: none

Updated setup.py to read requirements from requirements.txt
  python/setup.py
Due: pylint

Changed assertment for invalid json with error
  bindings/python/tests/input/Invalid3.json
  bindings/python/tests/test_entity.py
  src/utils/jsmnx.c
Due: pylint-tests

Write error messages to stderr in colour.
  doc/user_guide/environment_variables.md
  src/dlite-misc.c
  src/utils/err.c
  src/utils/err.h
Due: none

Do not free the librdf world if called from atexit handler.
  src/triplestore-redland.c
Due: none

Fix typo in CMakeLists.txt for installing dlite-validate
  bindings/python/scripts/CMakeLists.txt
Due: none

Applied suggestions by Francesca to reduce requirements for documentation
  requirements_doc.txt
Due: none

Reverted requirements_doc.txt to master
  requirements_doc.txt
Due: none

Try to address issue with musl
  .github/docker/Dockerfile-musllinux.template
  .github/workflows/ci_tests.yml
Due: none

Created a human readable error message for missing units.
  bindings/python/mappings.py
Due: pylint

Updated requirements on tripper
  requirements_full.txt
  requirements_mappings.txt
Due: none

Added more comments
  src/dlite-misc.c
  src/utils/session.c
Due: none

Updated documentation
  doc/getting_started/build/build_against_python_env.md
Due: none

Also uninstall empty directories
  cmake/uninstall.cmake.in
Due: none

Removed the hack
  bindings/python/mappings.py
Due: pylint

Update doc/getting_started/build/patch_activate.md
  doc/getting_started/build/patch_activate.md
Due: none

Excaped back-ticks in comment in the patch
  cmake/patch-activate.sh
Due: none

Update Person entity to new format
  bindings/python/tests/Person.json
Due: none

Corrected uri in Person.json
  bindings/python/tests/Person.json
Due: none

Avoid adding new states to session while freeing all states.
  src/utils/session.c
  src/utils/tests/test_session.c
Due: none

Updated setting default CMAKE_INSTALL_PREFIX such that it is only set once.
  CMakeLists.txt
  cmake/SetDefaults.cmake
Due: none

Mark when entering atexit Python atexit handler
  bindings/python/dlite-misc-python.i
  bindings/python/dlite-misc.i
  src/dlite-misc.c
  src/dlite-misc.h
  src/dlite-storage.c
Due: none
