Repository SINTEF/dlite: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, pylint-tests

pylint:
  name: pylint
  entry: pylint
  args:
  - --rcfile=.pylintrc
  language: python
  require_serial: true

pylint-tests:
  name: pylint - tests
  entry: pylint
  args:
  - --rcfile=.pylintrc
  - --disable=import-outside-toplevel,redefined-outer-name
  language: python
  require_serial: true

Added reference counting to storages.
  src/dlite-misc.c
  src/dlite-storage-plugins.h
  src/dlite-storage.c
Due: none

Cleaned up checking whether we are in an atexit handler.
  src/dlite-misc.c
Due: none

Improved error codes in storages
  src/dlite-storage.c
Due: none

Revert all changes but improved error codes to origin/master
  bindings/python/dlite-misc-python.i
  bindings/python/dlite-misc.i
  src/dlite-misc.c
  src/dlite-misc.h
Due: none

Applied general fixes from PR 667
  bindings/python/tests/test_factory.py
  bindings/python/tests/test_property_mappings.py
  bindings/python/tests/test_pydantic.py
  bindings/python/tests/test_storage.py
  cmake/valgrind-python.supp
  doc/contributors_guide/tips_and_tricks.md
  doc/user_guide/environment_variables.md
  src/dlite-storage-plugins.c
  storages/json/dlite-json-storage.c
  storages/python/python-storage-plugins/mongodb.py
  storages/python/tests-c/test_bson_storage.c
  storages/python/tests-python/test_mongodb_python.py
Due: pylint, pylint-tests

Reverted call to dlite_globals_in_atexit()
  src/dlite-storage.c
Due: none

Make json serialisation of collections more readable.
  bindings/python/dlite-entity.i
  src/dlite-entity.c
  src/dlite-json.c
  src/dlite-json.h
  src/dlite-type.h
  src/tests/test_json.c
Due: none

Removed some errors in html generation using doxygen
  doc/Doxyfile.in
  doc/conf.py.in
Due: none

Ensure that files installed by setup.py also gets uninstalled.
  CMakeLists.txt
  cmake/uninstall.cmake.in
Due: none

Also include files installed by setup.py when uninstalling
  bindings/python/scripts/.gitignore
  cmake/uninstall.cmake.in
Due: none

Added dockerfile for building with Ubuntu and minimal requirements
  cmake/Dockerfile-ubuntu
Due: none

Added comment asked for by reviewer.
  bindings/python/tests/test_pydantic.py
Due: pylint-tests

Added tests for both new and old instance formats.
  bindings/python/dlite-entity-python.i
  bindings/python/tests/test_entity.py
Due: pylint-tests

Added entities as well
  bindings/python/tests/input/PersonNew.json
  bindings/python/tests/input/PersonOld.json
Due: none

Moved new entities to entities/ instead of input/
  bindings/python/tests/entities/PersonNew.json
  bindings/python/tests/entities/PersonOld.json
  bindings/python/tests/test_entity.py
Due: pylint-tests

Moved entities, input and output files to respectively sub-directories.
  bindings/python/dlite-storage.i
  bindings/python/scripts/CMakeLists.txt
  bindings/python/tests/.gitignore
  bindings/python/tests/CMakeLists.txt
  bindings/python/tests/Person.json
  bindings/python/tests/entities/Invalid1.json
  bindings/python/tests/entities/Invalid2.json
  bindings/python/tests/entities/Invalid3.json
  bindings/python/tests/entities/Invalid5.json
  bindings/python/tests/entities/Invalid6.json
  bindings/python/tests/entities/Invalid7.json
  bindings/python/tests/entities/Item.json
  bindings/python/tests/entities/MyEntity.json
  bindings/python/tests/entities/Person.json
  bindings/python/tests/entities/Ref.json
  bindings/python/tests/entities/SimplePerson.json
  bindings/python/tests/global_dlite_state_mod2.py
  bindings/python/tests/input/Invalid1.json
  bindings/python/tests/input/Invalid2.json
  bindings/python/tests/input/Invalid3.json
  bindings/python/tests/input/persons.json
  bindings/python/tests/input/rdf.ttl
  bindings/python/tests/input/test_ref_type.json
  bindings/python/tests/inst.json
  bindings/python/tests/output/.gitignore
  bindings/python/tests/test_collection.py
  bindings/python/tests/test_entity.py
  bindings/python/tests/test_factory.py
  bindings/python/tests/test_global_dlite_state.py
  bindings/python/tests/test_iri.py
  bindings/python/tests/test_mapping.py
  bindings/python/tests/test_postgresql1_write.py
  bindings/python/tests/test_python_storage.py
  bindings/python/tests/test_rdf.py
  bindings/python/tests/test_ref_type.py
  bindings/python/tests/test_storage.py
  bindings/python/tests/test_utils.py
  bindings/python/testutils.py
  src/dlite-json.c
  src/dlite-misc.c
Due: pylint, pylint-tests

Improved naming of files written to output/ directory.
  bindings/python/tests/test_entity.py
  bindings/python/tests/test_python_storage.py
  bindings/python/tests/test_storage.py
  storages/rdf/dlite-rdf.c
Due: pylint-tests

Added test for writing rdf to non-existing directory
  bindings/python/tests/test_storage.py
Due: pylint-tests

Made rdf test in test_storage.py robust against dlite being compiled without rdf support.
  bindings/python/tests/test_storage.py
Due: pylint-tests

Added driver to url argument of Instance.save()
  bindings/python/tests/test_entity.py
Due: pylint-tests

Added image plugin
  storages/python/CMakeLists.txt
  storages/python/python-storage-plugins/image.py
  storages/python/tests-python/CMakeLists.txt
  storages/python/tests-python/input/image.png
  storages/python/tests-python/output/.gitignore
  storages/python/tests-python/test_image.py
Due: pylint, pylint-tests

Added missing data model.
  storages/python/python-storage-plugins/Image.json
Due: none

Updated readme file for python storage plugins
  storages/python/python-storage-plugins/README.md
Due: none

Added output/.gitignore file
  storages/python/tests-python/output/.gitignore
Due: none

Removed .gitignore file belonging to another PR. Updated readme file.
  storages/python/python-storage-plugins/README.md
  storages/python/tests-python/output/.gitignore
Due: none

Enable DLITE_PYDEBUG when running storage tests to make it easier to debug failing storage tests on github.
  storages/python/tests-python/CMakeLists.txt
  storages/python/tests-python/output/.gitignore
Due: none

Support older version of python
  storages/python/python-storage-plugins/image.py
Due: pylint

Fixed backward compatible syntax in load() method as well
  storages/python/python-storage-plugins/image.py
Due: pylint

Apply suggestions from code review
  storages/python/python-storage-plugins/README.md
Due: none

Added suggestions from code review.
  storages/python/python-storage-plugins/README.md
Due: none

Added correction suggestion by reviewer.
  storages/python/python-storage-plugins/README.md
Due: none

Added tests for loading images as well.
  storages/python/python-storage-plugins/image.py
  storages/python/tests-python/test_image.py
Due: pylint, pylint-tests

Apply last changes from PR #667
  .github/workflows/cd_release.yml
  .github/workflows/ci_build_wheels.yml
  requirements_full.txt
  src/dlite-misc.c
  src/dlite-misc.h
  src/dlite-storage.c
  src/pyembed/dlite-python-storage.c
  src/triplestore-redland.c
Due: none

Remove dependency of oteapi-dlite and otelib
  requirements_full.txt
Due: none

Keep Python 3.9 for manylinux 2010
  .github/workflows/ci_build_wheels.yml
Due: none

Update requirements_full.txt
  requirements_full.txt
Due: none

Comment out requirements on oteapi-dlite and otelib. These should be fixed in a separate PR
  requirements_full.txt
Due: none

Added support for Python 3.12 via manylinux_x_y
  .github/docker/Dockerfile-manylinux_x_y.template
  .github/workflows/container_builds_weekly.yml
Due: none

Do not build more that python 3.10 with old manylinux docker
  .github/docker/Dockerfile-manylinux.template
Due: none

Added missing underscore to type for manylinux_2_38
  .github/docker/Dockerfile-manylinux_x_y.template
  .github/workflows/container_builds_weekly.yml
Due: none

Path conditions:
  pylint: any of: \.py$, but not: tests?(?:[^/]+)*/.*$
  pylint-tests: any of: tests?(?:[^/]+)*/.*$ and \.py$
