Repository SINTEF/dlite: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, pylint-tests

pylint:
  name: pylint
  entry: pylint
  args:
  - --rcfile=.pylintrc
  language: python
  require_serial: true

pylint-tests:
  name: pylint - tests
  entry: pylint
  args:
  - --rcfile=.pylintrc
  - --disable=import-outside-toplevel,redefined-outer-name
  language: python
  require_serial: true

Fix double free in test_collection
  src/dlite-collection.c
  src/tests/test_collection.c
Due: none

Make sure that the memory is released when a collection goes out of scope in Python
  bindings/python/dlite-collection-python.i
  bindings/python/dlite-collection.i
Due: none

Avoid failure
  bindings/python/tests/test_collection.py
  bindings/python/tests/test_mapping.py
  src/dlite-collection.c
  src/dlite-mapping.c
Due: pylint-tests

Removed memory leak in dlite.Collection.get_id()
  bindings/python/dlite-collection.i
Due: none

Save working state in fix-memory-issues
  bindings/python/tests/CMakeLists.txt
  bindings/python/tests/test_mapping.py
  src/dlite-mapping.c
Due: pylint-tests

Remove commented-out lines
  src/dlite-mapping.c
Due: none

Added missing test file
  bindings/python/tests/test_memory.py
Due: pylint-tests

Comment out call to sys.exit() that makes the tests fails...
  bindings/python/tests/test_mapping.py
Due: pylint-tests

Validate that references datamodel can be imported.
  bindings/python/scripts/dlite-validate
Due: none

Update bindings/python/dlite-jstore-python.i
  bindings/python/dlite-jstore-python.i
Due: none

Updated docstring based on review by @francescalb
  bindings/python/dlite-jstore-python.i
Due: none

Added comment about storage path in dlite-validate
  bindings/python/scripts/dlite-validate
Due: none

Updated error message and added mode valid and invalid datamodels
  bindings/python/scripts/dlite-validate
  bindings/python/tests/entities/InvalidYaml2.yaml
  bindings/python/tests/entities/Ref_invalid1.json
  bindings/python/tests/entities/ValidYaml_invalidref.yaml
Due: none

Validate multiple instances (#986)
  bindings/python/dlite-entity.i
  bindings/python/dlite-jstore-python.i
  bindings/python/dlite-jstore.i
  bindings/python/dlite-python.i
  bindings/python/dlite.i
  bindings/python/scripts/CMakeLists.txt
  bindings/python/scripts/dlite-validate
  bindings/python/tests/CMakeLists.txt
  bindings/python/tests/test_jstore.py
  bindings/python/tests/test_python_storage.py
  bindings/python/tests/test_storage.py
  bindings/python/tests/test_utils.py
  bindings/python/utils.py
  src/dlite-json.c
  src/dlite-json.h
  src/dlite.h
  src/utils/jstore.c
  src/utils/jstore.h
  storages/python/dlite-plugins-python.c
  storages/python/python-storage-plugins/yaml.py
  storages/python/tests-python/input/test_data.yaml
  storages/python/tests-python/input/test_meta.yaml
  storages/python/tests-python/test_yaml_storage_python.py
Due: pylint, pylint-tests

Pydantic 2.9.2 works, but not 2.10.1.
  requirements_full.txt
Due: none

Pydantic 2.9.2 works, but not 2.10.1. (#1009)
  requirements_full.txt
Due: none

JStore cleanup (#1001)
  bindings/python/dlite-entity-python.i
  bindings/python/dlite-jstore-python.i
  bindings/python/dlite-jstore.i
  bindings/python/tests/test_utils.py
  bindings/python/utils.py
  src/dlite-json.c
  src/utils/jstore.h
Due: pylint, pylint-tests

Add tests dlite-validate tests
  bindings/python/scripts/CMakeLists.txt
Due: none

Avoid segfault from empty dimensions
  src/dlite-json.c
Due: none

Removed some debugging print statements
  bindings/python/dlite-collection.i
  bindings/python/dlite-jstore.i
  bindings/python/dlite-misc-python.i
  src/tests/test_collection.c
Due: none

Aestectic cleanup
  src/tests/test_json.c
Due: none

Do not change version of sphinx
  requirements_doc.txt
Due: none

Test proper reference counting of Collection.get_id()
  bindings/python/tests/test_mapping.py
  bindings/python/tests/test_memory.py
Due: pylint-tests

Fix some memory issues (#995)
  bindings/python/dlite-collection-python.i
  bindings/python/dlite-collection.i
  bindings/python/dlite-jstore.i
  bindings/python/dlite-misc-python.i
  bindings/python/tests/test_collection.py
  bindings/python/tests/test_mapping.py
  cmake/valgrind-dlite.supp
  doc/contributors_guide/tips_and_tricks.md
  src/dlite-collection.c
  src/dlite-mapping.c
  src/tests/python/test_python_mapping.c
  src/tests/test_collection.c
  src/tests/test_json.c
  src/triplestore-redland.c
Due: pylint-tests

Add test for memory leaks
  bindings/python/tests/CMakeLists.txt
  bindings/python/tests/test_mapping.py
  bindings/python/tests/test_memory.py
Due: pylint-tests

Updated dlite to numpy2. The ABI should be backward compatible with numpy-1.x
  bindings/python/dlite-python.i
  bindings/python/factory.py
  bindings/python/numpy.i
  python/setup.py
  requirements.txt
Due: pylint

Require yaml for before running yaml-dependent tests
  bindings/python/scripts/CMakeLists.txt
Due: none

Update requirements for temdata example
  examples/TEM_data/requirements.txt
Due: none

Renamed emmo:hasDimention to oteio:hasDimension - not sure we really want that
  bindings/python/dataset.py
Due: pylint

Ignore buggy Pydantic v2.10.1
  requirements_full.txt
Due: none

Some text in README jsut to start actions
  README.md
Due: none

Use relative path in gen_dockerfile
  .github/docker/gen_dockerfile.sh
Due: none

Included python versions in the generated dockerfiles
  .github/docker/Dockerfile-manylinux.template
  .github/docker/Dockerfile-manylinux_x_y.template
  .github/docker/Dockerfile-musllinux.template
  .github/docker/gen_dockerfile.sh
  .github/workflows/container_builds_weekly.yml
Due: none

Updated dockerfile templates
  .github/docker/Dockerfile-manylinux.template
  .github/docker/Dockerfile-manylinux_x_y.template
  .github/docker/Dockerfile-musllinux.template
Due: none

Also remove requirement on oldest-supported-numpy for musllinux
  .github/docker/Dockerfile-musllinux.template
Due: none

Updated requirement filters for musllinux
  .github/docker/Dockerfile-musllinux.template
  requirements_full.txt
Due: none

Install rust and cargo in musllinux container
  .github/docker/Dockerfile-musllinux.template
Due: none

Install rust and cargo on manylinux2014
  .github/docker/Dockerfile-manylinux.template
  .github/docker/gen_dockerfile.sh
Due: none

Updated build wheel to match the containers that are build
  .github/workflows/ci_build_wheels.yml
Due: none

Filter out pumongo, redis and minio on manylinux 2014
  .github/docker/Dockerfile-manylinux.template
Due: none

Path conditions:
  pylint: any of: \.py$, but not: tests?(?:[^/]+)*/.*$
  pylint-tests: any of: tests?(?:[^/]+)*/.*$ and \.py$
