Repository SINTEF/dlite: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, pylint-tests

.pre-commit-config.yaml:

# To install the git pre-commit hook run:
#   pre-commit install
# To update the pre-commit hooks run:
#   pre-commit autoupdate
repos:
  # pre-commit-hooks supplies a multitude of small hooks
  # To get an overview of them all as well as the ones used here, please see
  # https://github.com/pre-commit/pre-commit-hooks#hooks-available
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
    - id: end-of-file-fixer
    - id: debug-statements
    - id: check-json
      name: Check JSON
    - id: check-yaml
      name: Check YAML
    - id: trailing-whitespace
      args: [--markdown-linebreak-ext=md]

  # isort is a tool to sort and group import statements in Python files
  # It works on files in-place
  - repo: https://github.com/timothycrosley/isort
    rev: 5.11.5
    hooks:
    - id: isort
      args: ["--profile", "black", "--filter-files", "--skip-gitignore"]

  # Black is a code style and formatter
  # It works on files in-place
  - repo: https://github.com/ambv/black
    rev: 23.3.0
    hooks:
    - id: black

  # Bandit is a security linter
  # More information can be found in its documentation:
  # https://bandit.readthedocs.io/en/latest/
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.5
    hooks:
    - id: bandit
      args: ["-r"]
      exclude: tests?(?:[^/]+)*/.*$

  # mypy is a static typing linter
  # The main code repository can be found at:
  # https://github.com/python/mypy
  # The project's documentation can be found at:
  # https://mypy.readthedocs.io/en/stable/index.html
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.4.1
    hooks:
    - id: mypy

  - repo: local
    hooks:
    # pylint is a Python linter
    # It is run through the local environment to ensure external packages can be
    # imported without issue.
    # For more information about pylint see its documentation at:
    # https://pylint.pycqa.org/en/latest/
    - id: pylint
      name: pylint
      entry: pylint
      args: ["--rcfile=.pylintrc"]
      language: python
      types: [python]
      require_serial: true
      exclude: tests?(?:[^/]+)*/.*$
    # pylint is a Python linter
    # It is run through the local environment to ensure external packages can be
    # imported without issue.
    # For more information about pylint see its documentation at:
    # https://pylint.pycqa.org/en/latest/
    - id: pylint-tests
      name: pylint - tests
      entry: pylint
      args:
      - "--rcfile=.pylintrc"
      - "--disable=import-outside-toplevel,redefined-outer-name"
      language: python
      types: [python]
      require_serial: true
      files: tests?(?:[^/]+)*/.*$

Initial work on Python protocol plugins
  bindings/python/dlite-python.i
  bindings/python/python-protocol-plugins/sftp.py
  requirements_full.txt
Due: pylint

Added sftp save() and delete() methods
  bindings/python/python-protocol-plugins/sftp.py
Due: pylint

Corrected typo on storage queue() method -> query()
  doc/user_guide/storage_plugin.py
  src/dlite-behavior.c
  src/dlite-storage-plugins.h
  storages/python/dlite-plugins-python.c
  storages/python/python-storage-plugins/bson.py
  storages/python/python-storage-plugins/minio.py
  storages/python/python-storage-plugins/mongodb.py
  storages/python/python-storage-plugins/postgresql.py
  storages/python/python-storage-plugins/pyrdf.py
  storages/python/python-storage-plugins/yaml.py
Due: pylint

Typo fixed. Renamed storage queue() method to query().
  storages/hdf5/dh5lite.c
  storages/json/dlite-json-storage.c
  storages/python/dlite-plugins-python.c
  storages/rdf/dlite-rdf.c
Due: none

Updated C implementation of protocol paths
  CMakeLists.txt
  bindings/python/CMakeLists.txt
  bindings/python/dlite-macros.i
  bindings/python/dlite-path-python.i
  bindings/python/dlite-path.i
  bindings/python/dlite-python.i
  bindings/python/paths.py.in
  bindings/python/protocol.py
  bindings/python/python-protocol-plugins/sftp.py
  bindings/python/tests/test_protocol.py
  cmake/dliteGenEnv-sub.cmake
  cmake/dliteGenEnv.cmake
  src/config-paths.h.in
  src/config.h.in
  src/pyembed/CMakeLists.txt
  src/pyembed/dlite-python-protocol.c
  src/pyembed/dlite-python-protocol.h
Due: pylint, pylint-tests

work in progress...
  bindings/python/CMakeLists.txt
  bindings/python/dlite-python.i
  bindings/python/protocol.py
  bindings/python/python-protocol-plugins/file.py
  bindings/python/tests/test_protocol.py
Due: pylint, pylint-tests

Finalised implementation of protocols
  bindings/python/dlite-entity-python.i
  bindings/python/dlite-entity.i
  bindings/python/protocol.py
  bindings/python/python-protocol-plugins/file.py
  bindings/python/python-protocol-plugins/http.py
  bindings/python/python-protocol-plugins/sftp.py
  bindings/python/tests/test_protocol.py
  src/dlite-entity.c
  src/dlite-entity.h
  storages/python/python-storage-plugins/pyrdf.py
Due: pylint, pylint-tests

Added test for Instance.load()
  bindings/python/dlite-entity-python.i
  bindings/python/protocol.py
  bindings/python/tests/test_protocol.py
  bindings/python/tests/test_storage.py
  bindings/python/testutils.py
  doc/user_guide/index.rst
  doc/user_guide/protocol_plugins.md
  doc/user_guide/storage_plugins.md
  requirements_full.txt
Due: pylint, pylint-tests

Call load plugins at first thing when instantiating a dlite.Protocol
  bindings/python/dlite-entity-python.i
  bindings/python/protocol.py
  bindings/python/tests/test_protocol.py
  bindings/python/tests/test_storage.py
  bindings/python/testutils.py
Due: pylint, pylint-tests

Added to tips and tricks
  doc/contributors_guide/tips_and_tricks.md
Due: none

Updated plugin paths and and fixed tests accordingly
  bindings/python/dlite-path-python.i
  bindings/python/tests/global_dlite_state_mod2.py
  bindings/python/tests/test_transaction.py
  doc/contributors_guide/tips_and_tricks.md
  src/tests/mappings/ent3.json
  src/tests/python/test_python_mapping.c
Due: pylint-tests

Updated installation paths
  bindings/python/CMakeLists.txt
  bindings/python/dlite-entity-python.i
  bindings/python/dlite-path-python.i
  python/setup.py
Due: pylint

Fixed some issues showing up in the tests
  bindings/python/dlite-python.i
  bindings/python/protocol.py
  bindings/python/tests/CMakeLists.txt
  bindings/python/tests/test_protocol.py
  src/dlite-errors.c
  src/dlite-errors.h
  src/pyembed/dlite-pyembed.c
Due: pylint, pylint-tests

Ensure that location always is a string, since urlparse on Windows does not support Path objects.
  bindings/python/protocol.py
Due: pylint

Commented out test assertment that fails on windows... Documented call signature for Instance.save()
  bindings/python/dlite-entity-python.i
  bindings/python/tests/test_protocol.py
Due: pylint-tests

Added documentation
  bindings/python/dlite-entity-python.i
  bindings/python/protocol.py
  bindings/python/tests/test_protocol.py
  doc/_static/storage-protocol.svg
  doc/user_guide/index.rst
  doc/user_guide/protocol_plugins.md
  doc/user_guide/storage_plugins.md
Due: pylint, pylint-tests

Update bindings/python/tests/global_dlite_state_mod2.py
  bindings/python/tests/global_dlite_state_mod2.py
Due: pylint-tests

Improve installation of Python packages (#939)
  CMakeLists.txt
  bindings/python/CMakeLists.txt
  bindings/python/dlite-path-python.i
  bindings/python/tests/global_dlite_state_mod2.py
  bindings/python/tests/test_transaction.py
  cmake/CopyDirectory.cmake
  doc/contributors_guide/tips_and_tricks.md
  python/.gitignore
  python/DLite-Python/.gitignore
  python/DLite-Python/__init__.py
  python/MANIFEST.in
  python/setup.py
  src/tests/mappings/ent3.json
  src/tests/python/test_python_mapping.c
Due: pylint, pylint-tests

950 load plugins in a separate namespace (#953)
  bindings/python/tests/CMakeLists.txt
  bindings/python/tests/python-mapping-plugins/plugin1.py
  bindings/python/tests/test_isolated_plugins.py
  doc/user_guide/storage_plugins.md
  src/pyembed/dlite-pyembed-utils.c
  src/pyembed/dlite-pyembed-utils.h
  src/pyembed/dlite-pyembed.c
  src/pyembed/dlite-pyembed.h
  src/pyembed/dlite-python-singletons.c
  src/pyembed/dlite-python-singletons.h
  src/tests/python/test_pyembed.c
  src/utils/fileutils.c
  src/utils/fileutils.h
  src/utils/tests/test_fileutils.c
  storages/python/tests-c/test_blob_storage.c
  storages/python/tests-python/test_image.py
Due: pylint-tests

Update storages/python/dlite-plugins-python.c
  storages/python/dlite-plugins-python.c
Due: none

Fixed segfault in Python interface to urlencode() and added parse_query() and make_query() functions.
  bindings/python/CMakeLists.txt
  bindings/python/dlite-misc.i
  bindings/python/dlite-python.i
  bindings/python/options.py
Due: pylint

Fixed typo in storage query() method (#956)
  doc/user_guide/storage_plugin.py
  src/dlite-behavior.c
  src/dlite-storage-plugins.h
  storages/hdf5/dh5lite.c
  storages/json/dlite-json-storage.c
  storages/python/dlite-plugins-python.c
  storages/python/python-storage-plugins/bson.py
  storages/python/python-storage-plugins/minio.py
  storages/python/python-storage-plugins/mongodb.py
  storages/python/python-storage-plugins/postgresql.py
  storages/python/python-storage-plugins/pyrdf.py
  storages/python/python-storage-plugins/yaml.py
  storages/rdf/dlite-rdf.c
Due: pylint

- Updated dlite.options module - Allowed to provide options as dict in the high-level Python API
  bindings/python/dlite-entity-python.i
  bindings/python/dlite-storage-python.i
  bindings/python/options.py
  bindings/python/tests/test_storage.py
Due: pylint, pylint-tests

Corrected two build warnings
  bindings/python/CMakeLists.txt
  src/utils/fileutils.c
Due: none

Update doc/user_guide/protocol_plugins.md
  doc/user_guide/protocol_plugins.md
Due: none

Added test_options.py
  bindings/python/tests/CMakeLists.txt
  bindings/python/tests/test_options.py
Due: pylint-tests

Configure directory tools/ after storages/
  CMakeLists.txt
Due: none

Updated documentation of Instance.from_url()
  bindings/python/dlite-entity-python.i
  bindings/python/protocol.py
Due: pylint

Update bindings/python/options.py
  bindings/python/options.py
Due: pylint

Added more tests and included protocols to Instance.from_url(url) and save(url)
  bindings/python/dlite-entity-python.i
  bindings/python/dlite-path-python.i
  bindings/python/tests/input/blob.json
  bindings/python/tests/input/subdir/blob1.json
  bindings/python/tests/input/subdir/blob2.json
  bindings/python/tests/test_protocol.py
  bindings/python/tests/test_storage.py
  src/dlite-behavior.c
  src/dlite-misc.c
  src/dlite-misc.h
  src/tests/test_misc.c
  storages/hdf5/dh5lite.c
  storages/json/dlite-json-storage.c
  storages/rdf/dlite-rdf.c
Due: pylint-tests

Updated docstrings based on suggestions from Francesca.
  bindings/python/options.py
Due: pylint

Ignore tests that fails on Windows due to strange path handling...
  bindings/python/tests/test_storage.py
  src/CMakeLists.txt
Due: pylint-tests

Added missing import in test_storage.py
  bindings/python/tests/test_storage.py
Due: pylint-tests

Avoid that a windows path is interpreted as an URL
  bindings/python/python-protocol-plugins/file.py
Due: pylint

Fixed missing backslash
  bindings/python/python-protocol-plugins/file.py
  bindings/python/tests/test_storage.py
Due: pylint, pylint-tests

Improve plugin options (#949)
  CMakeLists.txt
  bindings/python/dlite-entity-python.i
  bindings/python/dlite-misc.i
  bindings/python/dlite-python.i
  bindings/python/dlite-storage-python.i
  bindings/python/options.py
  bindings/python/tests/CMakeLists.txt
  bindings/python/tests/test_misc.py
  bindings/python/tests/test_options.py
  bindings/python/tests/test_storage.py
  src/dlite-misc.c
  src/dlite-misc.h
  src/tests/test_misc.c
  src/utils/fileutils.c
  storages/hdf5/dh5lite.c
  storages/json/dlite-json-storage.c
  storages/rdf/dlite-rdf.c
Due: pylint, pylint-tests

Added comments about non-tested plugins
  .github/workflows/ci_tests.yml
  bindings/python/python-protocol-plugins/sftp.py
  storages/python/python-storage-plugins/mongodb.py
  storages/python/python-storage-plugins/postgresql.py
  storages/python/python-storage-plugins/redis.py
Due: pylint
