Repository SINTEF/dlite: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, pylint-tests

pylint:
  name: pylint
  entry: pylint
  args:
  - --rcfile=.pylintrc
  language: python
  require_serial: true

pylint-tests:
  name: pylint - tests
  entry: pylint
  args:
  - --rcfile=.pylintrc
  - --disable=import-outside-toplevel,redefined-outer-name
  language: python
  require_serial: true

MacOS - changes to the core code to allow DLite to compile on MacOS (#1064)
  src/utils/byteorder.h.in
  src/utils/compat-src/getopt.h
  src/utils/config.h.in
  src/utils/dsl.h
  src/utils/fileinfo.c
  src/utils/fileutils.c
  src/utils/fileutils.h
Due: none

Updated test
  bindings/python/dlite-collection.i
  bindings/python/tests/test_collection_refcount.py
Due: pylint-tests

Corrected version number to 0.5.27 (was not set correctly by the CI system)
  CMakeLists.txt
Due: none

Corrected version number to 0.5.27 (#1081)
  CMakeLists.txt
Due: none

Ensure that instances returned when iterating over a colloction are memory-managed.
  bindings/python/dlite-collection.i
  bindings/python/tests/test_collection_refcount.py
Due: pylint-tests

Updated the test docstring
  bindings/python/tests/test_collection_refcount.py
Due: pylint-tests

Updated docstring.
  bindings/python/dlite-collection.i
Due: none

Revert header file paths to single paths for `check_symbol_exists`
  src/utils/CMakeLists.txt
Due: none

Remove duplicate for `HAVE_BYTESWAP_H` and `HAVE_ENDIAN_H`; ensure byteswap.h run on macOS
  src/utils/CMakeLists.txt
Due: none

Updated how entry points are expressed
  bindings/python/dlite-path-python.i
  doc/contributors_guide/tips_and_tricks.md
  doc/user_guide/search_paths.md
  python/pyproject.toml
  requirements_dev.txt
Due: none

Improved the use of entrypoints
  bindings/python/__init__standalone.py.in
  bindings/python/dlite-path-python.i
  bindings/python/dlite-path.i
  doc/user_guide/search_paths.md
  examples/entry_points/MANIFEST.in
  examples/entry_points/README.md
  examples/entry_points/anotherpackage/__init__.py
  examples/entry_points/anotherpackage/main.py
  examples/entry_points/main.py
  examples/entry_points/mypackage/__init__.py
  examples/entry_points/mypackage/data/dataset.txt
  examples/entry_points/mypackage/datamodels/TempProfile.json
  examples/entry_points/mypackage/plugins/tempprofile.py
  examples/entry_points/pyproject.toml
Due: pylint

Install mypackage in the main.py script
  examples/entry_points/main.py
Due: pylint

Added ref. to example
  doc/user_guide/search_paths.md
Due: none

Updated readme
  examples/entry_points/README.md
Due: none

Reduced version requirements in pyproject.toml
  python/pyproject.toml
Due: none

Expanded required numpy versions
  python/pyproject.toml
Due: none

Updated entry points such that they are compatible with Python 3.8+
  bindings/python/dlite-path-python.i
  python/pyproject.toml
Due: none

Updated requirements on numpy
  python/pyproject.toml
Due: none

Fixed so that version requirements are in agreement also in python
  .github/workflows/cd_release.yml
  python/pyproject.toml
  requirements.txt
  requirements_dev.txt
Due: none

down version to redo release
  CMakeLists.txt
Due: none

Try using pytest
  python/pyproject.toml
  requirements_dev.txt
Due: none

Add req
  python/pyproject.toml
Due: none

Add test tath check usage of pytest with warnings as errors
  .github/workflows/ci_tests.yml
  python/pyproject.toml
Due: none

pytest in separate part in ci-workdlow
  .github/workflows/ci_tests.yml
Due: none

Corrected typo
  .github/workflows/ci_tests.yml
Due: none

Added the testfile
  python/tests/test_pytest.py
Due: pylint-tests

macOS CMake Updates (#1077)
  CMakeLists.txt
  bindings/python/CMakeLists.txt
  bindings/python/scripts/CMakeLists.txt
  bindings/python/tests/CMakeLists.txt
  src/CMakeLists.txt
  src/tests/CMakeLists.txt
  src/utils/CMakeLists.txt
  storages/json/tests/CMakeLists.txt
  storages/python/tests-c/CMakeLists.txt
  storages/python/tests-python/CMakeLists.txt
  storages/rdf/tests/CMakeLists.txt
Due: none

Update dependencies
  requirements_full.txt
Due: none

Update dependencies (#1095)
  requirements_full.txt
Due: none

Update the documentation
  doc/user_guide/concepts.md
Due: none

Added PINK to acknowledgement
  README.md
Due: none

Added PINK to acknowledgement (#1103)
  README.md
Due: none

Update requirements_dev.txt
  requirements_dev.txt
Due: none

Cleanup __init__standalone.py and replaced exec_program() with execute_process() in cmake
  bindings/python/__init__standalone.py.in
  cmake/uninstall.cmake.in
Due: none

When running from Python, use site.PREFIXES to derive dlite_root directory.
  doc/contributors_guide/tips_and_tricks.md
  python/setup.py
  src/dlite-misc.c
  src/dlite-storage.c
  src/pyembed/CMakeLists.txt
  src/pyembed/dlite-pyembed.c
  src/pyembed/dlite-pyembed.h
  src/pyembed/dlite-python-path.c
  src/pyembed/dlite-python-path.h
Due: pylint

Fixed failure on Windows
  CMakeLists.txt
  python/setup.py
  src/pyembed/dlite-python-path.c
Due: pylint

Don't run make show on Windows
  python/setup.py
Due: pylint

Introduced DLITE_PKG_ROOT and cleaned up paths
  .github/workflows/ci_tests.yml
  CMakeLists.txt
  bindings/python/CMakeLists.txt
  cmake/Dockerfile-ubuntu
  cmake/dliteConfig.cmake.in
  doc/user_guide/environment_variables.md
  src/config.h.in
  src/dlite-codegen.c
  src/dlite-mapping-plugins.c
  src/dlite-misc.c
  src/dlite-misc.h
  src/dlite-storage-plugins.c
  src/dlite-storage.c
  src/pyembed/dlite-python-mapping.c
  src/pyembed/dlite-python-path.c
  src/pyembed/dlite-python-path.h
  src/pyembed/dlite-python-protocol.c
  src/pyembed/dlite-python-singletons.c
  src/pyembed/dlite-python-storage.c
  tools/CMakeLists.txt
  tools/dlite-env.c
Due: none

Convert sitearch to cmake path
  CMakeLists.txt
Due: none

Don't run "make show"
  python/setup.py
Due: pylint

Path conditions:
  pylint: any of: \.py$, but not: tests?(?:[^/]+)*/.*$
  pylint-tests: any of: tests?(?:[^/]+)*/.*$ and \.py$
