Repository SINTEF/dlite: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, pylint-tests

pylint:
  name: pylint
  entry: pylint
  args:
  - --rcfile=.pylintrc
  language: python
  require_serial: true

pylint-tests:
  name: pylint - tests
  entry: pylint
  args:
  - --rcfile=.pylintrc
  - --disable=import-outside-toplevel,redefined-outer-name
  language: python
  require_serial: true

Install Python from python.org due to broken 10.9 version on arm64
  .github/workflows/ci_build_wheels.yml
Due: none

Check if contains 8
  .github/workflows/ci_build_wheels.yml
Due: none

Lower macOS deployment target
  .github/workflows/ci_build_wheels.yml
Due: none

Always install Python 3.8 for arm64 macOS
  .github/workflows/ci_build_wheels.yml
Due: none

Tidy env
  .github/workflows/ci_build_wheels.yml
Due: none

Change to macOS specific env var
  .github/workflows/ci_build_wheels.yml
Due: none

Add macOS configuration
  python/pyproject.toml
Due: none

Change to mininum values as string
  .github/workflows/ci_build_wheels.yml
Due: none

Only install the latest stable Python for running cibuildwheel
  .github/workflows/ci_build_wheels.yml
Due: none

Update for clarity
  .github/workflows/ci_build_wheels.yml
Due: none

Remove libintl on macOS
  src/CMakeLists.txt
Due: none

Add debug
  .github/workflows/ci_build_wheels.yml
Due: none

added --dylibs-only switch to default repair command due to relocation issues of Python.org version
  python/pyproject.toml
Due: none

Add macOS specific suffic
  python/setup.py
Due: pylint

Use constraints in requirements files; don't upgrade packages with PIP commandline
  .github/docker/Dockerfile-manylinux.template
  .github/docker/Dockerfile-manylinux_x_y.template
  .github/docker/Dockerfile-musllinux.template
  .github/workflows/cd_docs.yml
  .github/workflows/cd_release.yml
  .github/workflows/ci_build_wheels.yml
  .github/workflows/ci_tests.yml
  requirements_wheels.txt
Due: none

Update Python setup versions to latest stable ("3.x")
  .github/workflows/cd_docs.yml
  .github/workflows/cd_release.yml
Due: none

System target comment
  .github/workflows/ci_tests.yml
Due: none

Align with ci_build_wheels for building macOS wheels
  .github/workflows/cd_release.yml
Due: none

Allow libintl to be used on macOS if set at configure
  src/CMakeLists.txt
Due: none

Avoid 3.13.4 as links to 3.13t on Windows
  .github/workflows/cd_docs.yml
  .github/workflows/cd_release.yml
  .github/workflows/ci_build_wheels.yml
Due: none

CIBW has breaking changes in v3; revert to 2.23.3
  requirements_wheels.txt
Due: none

Added zip protocol plugin
  bindings/python/python-protocol-plugins/zip.py
  bindings/python/tests/test_protocol.py
  bindings/python/utils.py
Due: pylint, pylint-tests

Added test file
  bindings/python/python-protocol-plugins/zip.py
  bindings/python/tests/input/subdir.zip
Due: pylint

Added tests
  bindings/python/python-protocol-plugins/zip.py
  bindings/python/tests/test_protocol.py
  bindings/python/utils.py
Due: pylint, pylint-tests

Don't download from github if requests is missing
  bindings/python/tests/test_protocol.py
Due: pylint-tests

Only require requests when downloading the zip file
  bindings/python/python-protocol-plugins/zip.py
Due: pylint

Added a newline in the readme to trigger a change
  README.md
Due: none

Update requirements_doc.txt
  requirements_doc.txt
Due: none

Install python packages from the requirements files to ensure consistent versioning in the test suite
  .github/workflows/cd_docs.yml
  .github/workflows/cd_release.yml
  .github/workflows/ci_tests.yml
  requirements_dev.txt
Due: none

Also updated ci_build_wheels.yml
  .github/workflows/ci_build_wheels.yml
Due: none

reverted change in readme
  README.md
Due: none

Update requirements_dev.txt
  requirements_dev.txt
Due: none

* Updated requirement of psycopy2 to psycopg. * Added scikit-image to requirements_full.txt.
  requirements_full.txt
  storages/python/python-storage-plugins/postgresql.py
Due: pylint

Replaced package psycopg2 with psycopg
  bindings/python/tests/test_postgresql1_write.py
  bindings/python/tests/test_postgresql2_read.py
  storages/python/python-storage-plugins/postgresql.py
Due: pylint, pylint-tests

Added another test where we use the protocol API directly.
  bindings/python/tests/test_protocol.py
Due: pylint-tests

Cleaned up root CMakeLists.txt file - more logical sectioning
  CMakeLists.txt
  src/datamodels/DatamodelSchema.json
Due: none

Fixed "make uninstall"
  cmake/uninstall.cmake.in
Due: none

Exclude datamodel schema from this PR
  src/datamodels/DatamodelSchema.json
Due: none

Missing metadata dimensions, properties or relations will now be assumed to be an array of length zero.
  bindings/python/scripts/CMakeLists.txt
  bindings/python/tests/test_entity.py
  src/dlite-json.c
Due: pylint-tests

Path conditions:
  pylint: any of: \.py$, but not: tests?(?:[^/]+)*/.*$
  pylint-tests: any of: tests?(?:[^/]+)*/.*$ and \.py$
