Repository SINTEF/dlite: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, pylint-tests

pylint:
  name: pylint
  entry: pylint
  args:
  - --rcfile=.pylintrc
  language: python
  require_serial: true

pylint-tests:
  name: pylint - tests
  entry: pylint
  args:
  - --rcfile=.pylintrc
  - --disable=import-outside-toplevel,redefined-outer-name
  language: python
  require_serial: true

Updating dataset
  bindings/python/dataset.py
  bindings/python/tests/test_dataset1_save.py
Due: pylint, pylint-tests

Handled units.
  bindings/python/dataset.py
  bindings/python/tests/entities/Chemistry-0.1.json
  bindings/python/tests/test_dataset1_save.py
Due: pylint, pylint-tests

Added pyarrow to requirements_full.txt
  requirements_full.txt
Due: none

Added pyarrow to requirements_full.txt (#803)
  requirements_full.txt
Due: none

Do not increase version number of single doc-generation package
  requirements_doc.txt
Due: none

Added support for onto-ns.com
  bindings/python/utils.py
  requirements_full.txt
  src/dlite-entity.c
  storages/python/python-storage-plugins/http.py
  storages/python/python-storage-plugins/yaml.py
  storages/python/tests-python/test_http.py
Due: pylint, pylint-tests

Removed debugging statement
  storages/python/python-storage-plugins/http.py
Due: pylint

Updated test
  requirements_full.txt
  src/dlite-entity.c
  storages/python/tests-python/test_http.py
Due: pylint-tests

Fixed typo
  storages/python/python-storage-plugins/http.py
Due: pylint

Updated requiresments
  requirements_full.txt
Due: none

Do not fail when keyword argument is missing
  bindings/python/scripts/CMakeLists.txt
Due: none

Fixed some failing tests
  bindings/python/tests/test_python_storage.py
  storages/python/python-storage-plugins/yaml.py
  storages/python/tests-python/input/test_data.ttl
Due: pylint, pylint-tests

Fixed bug in yaml serialiser
  bindings/python/tests/test_storage.py
  storages/python/python-storage-plugins/yaml.py
Due: pylint, pylint-tests

Do not install entities-service cli by default
  requirements_full.txt
Due: none

Do not install entities-services by default
  requirements_full.txt
Due: none

Made it clear that the dimensions keyword is required
  bindings/python/scripts/CMakeLists.txt
Due: none

Added little more debugging info to github workflow
  .github/workflows/ci_tests.yml
Due: none

Updates
  bindings/python/dataset.py
  bindings/python/tests/test_dataset1_save.py
Due: pylint, pylint-tests

Improved validatation script and updated requirements for tripper
  .github/workflows/ci_tests.yml
  bindings/python/scripts/dlite-validate
  examples/mappings/requirements.txt
  requirements_full.txt
  src/dlite-entity.c
Due: none

Updated docstring for http save()
  storages/python/python-storage-plugins/http.py
Due: pylint

Added comments suggested by reviewer
  storages/python/python-storage-plugins/http.py
  storages/python/tests-python/test_http.py
Due: pylint, pylint-tests

Added new figure: dataset-v2.svg
  doc/_static/dataset-v2.svg
Due: none

Added support for onto-ns.com (#805)
  .github/workflows/ci_tests.yml
  bindings/python/scripts/dlite-validate
  bindings/python/tests/test_python_storage.py
  bindings/python/tests/test_storage.py
  bindings/python/utils.py
  examples/mappings/requirements.txt
  requirements_full.txt
  src/dlite-entity.c
  storages/python/python-storage-plugins/http.py
  storages/python/python-storage-plugins/yaml.py
  storages/python/tests-python/input/test_data.ttl
  storages/python/tests-python/test_http.py
Due: pylint, pylint-tests

Updated dataset-v2.svg
  doc/_static/dataset-v2.svg
Due: none

Updated figure
  doc/_static/dataset-v2.svg
Due: none

Use emmo instead of fno in mapping example.
  examples/mappings/mappingfunc.py
Due: pylint

Added default argument to property mappings.
  bindings/python/mappings.py
  bindings/python/tests/test_property_mappings.py
Due: pylint, pylint-tests

Added default argument to property mappings. (#818)
  bindings/python/mappings.py
  bindings/python/tests/test_property_mappings.py
Due: pylint, pylint-tests

Use emmo instead of fno in mapping example. (#819)
  examples/mappings/mappingfunc.py
Due: pylint

Fix issue in mappings.instantiate_all()
  bindings/python/dlite-collection-python.i
  bindings/python/mappings.py
Due: pylint

Avoid duplicating calculation of properties and correctly assign default values.
  bindings/python/mappings.py
  examples/read-csv/main.py
Due: pylint

Fix issue in mappings.instantiate_all() (#820)
  bindings/python/dlite-collection-python.i
  bindings/python/mappings.py
  examples/read-csv/main.py
Due: pylint

Revert change sleep -> pre_sleep in cd_deploy.yml workflow from commit 793c863
  .github/workflows/cd_release.yml
Due: none

Reverted use of actions/upload-artifact@v4 to v3
  .github/workflows/cd_release.yml
Due: none

Fix weekly build
  .github/docker/Dockerfile-manylinux.template
  .github/docker/Dockerfile-musllinux.template
Due: none

Revert change sleep -> pre_sleep in cd_deploy.yml workflow from commit 793c863 (#824)
  .github/workflows/cd_release.yml
Due: none

Avoid that all deployment of documentation to GH pages gets cancelled.
  .github/workflows/cd_docs.yml
Due: none

Reverted use of actions/upload-artifact@v4 to v3 (#827)
  .github/workflows/cd_release.yml
Due: none

Simplified test_python_bindings.py
  bindings/python/tests/test_python_bindings.py
Due: pylint-tests

Fixed misspelling
  README.md
Due: none

Path conditions:
  pylint: any of: \.py$, but not: tests?(?:[^/]+)*/.*$
  pylint-tests: any of: tests?(?:[^/]+)*/.*$ and \.py$
