Repository SINTEF/dlite: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, pylint-tests

.pre-commit-config.yaml:

# To install the git pre-commit hook run:
#   pre-commit install
# To update the pre-commit hooks run:
#   pre-commit autoupdate
repos:
  # pre-commit-hooks supplies a multitude of small hooks
  # To get an overview of them all as well as the ones used here, please see
  # https://github.com/pre-commit/pre-commit-hooks#hooks-available
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
    - id: end-of-file-fixer
    - id: debug-statements
    - id: check-json
      name: Check JSON
    - id: check-yaml
      name: Check YAML
    - id: trailing-whitespace
      args: [--markdown-linebreak-ext=md]

  # isort is a tool to sort and group import statements in Python files
  # It works on files in-place
  - repo: https://github.com/timothycrosley/isort
    rev: 5.11.5
    hooks:
    - id: isort
      args: ["--profile", "black", "--filter-files", "--skip-gitignore"]

  # Black is a code style and formatter
  # It works on files in-place
  - repo: https://github.com/ambv/black
    rev: 23.3.0
    hooks:
    - id: black

  # Bandit is a security linter
  # More information can be found in its documentation:
  # https://bandit.readthedocs.io/en/latest/
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.5
    hooks:
    - id: bandit
      args: ["-r"]
      exclude: tests?(?:[^/]+)*/.*$

  # mypy is a static typing linter
  # The main code repository can be found at:
  # https://github.com/python/mypy
  # The project's documentation can be found at:
  # https://mypy.readthedocs.io/en/stable/index.html
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.4.1
    hooks:
    - id: mypy

  - repo: local
    hooks:
    # pylint is a Python linter
    # It is run through the local environment to ensure external packages can be
    # imported without issue.
    # For more information about pylint see its documentation at:
    # https://pylint.pycqa.org/en/latest/
    - id: pylint
      name: pylint
      entry: pylint
      args: ["--rcfile=.pylintrc"]
      language: python
      types: [python]
      require_serial: true
      exclude: tests?(?:[^/]+)*/.*$
    # pylint is a Python linter
    # It is run through the local environment to ensure external packages can be
    # imported without issue.
    # For more information about pylint see its documentation at:
    # https://pylint.pycqa.org/en/latest/
    - id: pylint-tests
      name: pylint - tests
      entry: pylint
      args:
      - "--rcfile=.pylintrc"
      - "--disable=import-outside-toplevel,redefined-outer-name"
      language: python
      types: [python]
      require_serial: true
      files: tests?(?:[^/]+)*/.*$

debug3
  src/utils/jstore.c
  src/utils/jstore.h
Due: none

debug4
  storages/json/dlite-json-storage.c
Due: none

Fixed test
  bindings/python/tests/test_storage.py
Due: pylint-tests

debug5
  bindings/python/tests/test_storage.py
Due: pylint-tests

Fixed memory leak
  storages/json/dlite-json-storage.c
Due: none

Added support for `to_bytes()` and `from_bytes()` in the json storage plugin (#881)
  bindings/python/dlite-entity.i
  bindings/python/tests/test_storage.py
  src/dlite-misc.c
  src/tests/test_json.c
  src/tests/test_misc.c
  src/utils/jstore.c
  src/utils/jstore.h
  storages/json/dlite-json-storage.c
Due: pylint-tests

Accept memory leak that the global session never will be deallocated
  cmake/valgrind-dlite.supp
Due: none

Moved pydantic suppression to valgrind-python.supp
  cmake/valgrind-dlite.supp
  cmake/valgrind-python.supp
Due: none

Documented how to do memory debugging with DLite.
  CMakeLists.txt
  cmake/ctest.sh
  doc/contributors_guide/tips_and_tricks.md
  doc/getting_started/build/build.md
  doc/getting_started/build/build_dependencies.md
Due: none

Update src/dlite-mapping.c
  src/dlite-mapping.c
Due: none

Update src/dlite-misc.c
  src/dlite-misc.c
Due: none

Updated Python version in documentation examples
  doc/contributors_guide/tips_and_tricks.md
Due: none

Updated tips and triks
  doc/contributors_guide/tips_and_tricks.md
Due: none

Fixed memory leaks (#895)
  CMakeLists.txt
  cmake/valgrind-python.supp
  src/dlite-mapping.c
  src/dlite-misc.c
  src/pyembed/dlite-python-storage.c
  storages/json/dlite-json-storage.c
Due: none

Compile DLite on 32 bit system
  CMakeLists.txt
  src/tests/CMakeLists.txt
  src/tests/python/CMakeLists.txt
  storages/json/tests/CMakeLists.txt
  storages/python/tests-c/CMakeLists.txt
  storages/rdf/tests/CMakeLists.txt
  tools/CMakeLists.txt
  tools/tests/CMakeLists.txt
Due: none

Updated test to avoid unexpected failure
  bindings/python/tests/test_dataset1_save.py
  doc/contributors_guide/tips_and_tricks.md
Due: pylint-tests

Fixed docstring formatting
  storages/python/python-storage-plugins/minio.py
Due: pylint

Do not test wheel for Python 3.11 instead of 3.12 for manylinux2014_i686
  .github/workflows/ci_build_wheels.yml
Due: none

Added test utility functions: importskip(), serverskip()
  bindings/python/testutils.py
  examples/minio_storage/main.py
  storages/python/tests-python/test_http.py
  storages/python/tests-python/test_minio.py
  storages/python/tests-python/test_mongodb_python.py
  storages/python/tests-python/test_redis.py
Due: pylint, pylint-tests

Memory debugging (#896)
  .github/workflows/ci_build_wheels.yml
  CMakeLists.txt
  bindings/python/tests/test_dataset1_save.py
  cmake/ctest.sh
  doc/contributors_guide/tips_and_tricks.md
  doc/getting_started/build/build.md
  doc/getting_started/build/build_dependencies.md
  src/dlite-mapping.c
  storages/python/python-storage-plugins/minio.py
Due: pylint, pylint-tests

Print error messages to stderr
  bindings/python/testutils.py
Due: pylint

Apply suggestions from code review
  requirements_doc.txt
Due: none

Do not create an internal interpreter if DLite is called from Python
  src/pyembed/dlite-pyembed.c
Due: none

Test wheel with Python 3.12 on manylinux2024_i686
  .github/workflows/ci_build_wheels.yml
Due: none

Improve tips and tricks documentation
  doc/contributors_guide/tips_and_tricks.md
Due: none

Improved and simplified building docker images
  .github/docker/Dockerfile-manylinux.template
  .github/docker/Dockerfile-manylinux_x_y.template
  .github/docker/Dockerfile-musllinux.template
  .github/docker/gen_dockerfile.sh
  .github/docker/run_cibuildwheel.sh
  .github/workflows/ci_build_wheels.yml
  .github/workflows/container_builds_weekly.yml
Due: none

Updated cppcheck and corrected some errors found by it
  CMakeLists.txt
  doc/user_guide/transactions.md
  src/dlite-datamodel.c
  src/dlite-entity.c
  src/dlite-json.c
  src/dlite-mapping-plugins.c
  src/utils/CMakeLists.txt
  src/utils/compat.h
  src/utils/tests/test_dsl.c
  src/utils/tests/test_fileutils.c
Due: none

Correct issues on 32-bit i686 systems
  CMakeLists.txt
  src/dlite-type.c
  src/tests/test_entity.c
  src/tests/test_type.c
Due: none

Fixed failing tests on manylinux2014_i686
  CMakeLists.txt
  bindings/python/scripts/CMakeLists.txt
  bindings/python/tests/test_dataset1_save.py
  bindings/python/tests/test_dataset2_load.py
  src/dlite-entity.c
  src/tests/test_entity.c
Due: pylint-tests

Test build wheel with Python 3.12 on manylinux2014_i686.
  .github/workflows/ci_build_wheels.yml
Due: none

Removed unused code
  .github/docker/run_cibuildwheel.sh
  .github/workflows/container_builds_weekly.yml
Due: none

Apply suggestions from code review
  doc/contributors_guide/tips_and_tricks.md
Due: none

Improved and simplified building docker images (#910)
  .github/docker/Dockerfile-manylinux.template
  .github/docker/Dockerfile-manylinux_x_y.template
  .github/docker/Dockerfile-musllinux.template
  .github/docker/gen_dockerfile.sh
  .github/docker/run_cibuildwheel.sh
  .github/workflows/ci_build_wheels.yml
  .github/workflows/container_builds_weekly.yml
Due: none

Do not build wheel for manylinux2014_i686
  .github/workflows/cd_release.yml
  doc/getting_started/installation.md
Due: none

Update doc/user_guide/transactions.md
  doc/user_guide/transactions.md
Due: none

Commented out serverskip on CI tests for minio
  examples/minio_storage/main.py
  storages/python/tests-python/test_minio.py
Due: pylint, pylint-tests

Fixed TEM demo after changing the behaviour of the asdict() method.
  examples/TEM_data/tests/test_coll.py
  storages/python/python-storage-plugins/csv.py
Due: pylint, pylint-tests

Updated cppcheck and corrected some errors that it found (#911)
  CMakeLists.txt
  doc/user_guide/transactions.md
  src/dlite-datamodel.c
  src/dlite-entity.c
  src/dlite-json.c
  src/dlite-mapping-plugins.c
  src/utils/CMakeLists.txt
  src/utils/compat.h
  src/utils/tests/test_dsl.c
  src/utils/tests/test_fileutils.c
Due: none

Added test utility functions: importskip(), serverskip() (#906)
  bindings/python/testutils.py
  examples/minio_storage/main.py
  storages/python/tests-python/test_http.py
  storages/python/tests-python/test_minio.py
  storages/python/tests-python/test_mongodb_python.py
  storages/python/tests-python/test_redis.py
Due: pylint, pylint-tests
