Repository SINTEF/dlite: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, pylint-tests

pylint:
  name: pylint
  entry: pylint
  args:
  - --rcfile=.pylintrc
  language: python
  require_serial: true

pylint-tests:
  name: pylint - tests
  entry: pylint
  args:
  - --rcfile=.pylintrc
  - --disable=import-outside-toplevel,redefined-outer-name
  language: python
  require_serial: true

Added figures
  examples/TEM_data/README.md
  examples/TEM_data/figs/pipeline.svg
  examples/TEM_data/figs/temimage-partial-pipeline.svg
  examples/TEM_data/figs/workflow.svg
Due: none

Updated figures
  examples/TEM_data/figs/pipeline.svg
  examples/TEM_data/figs/workflow.svg
Due: none

Started to add partial pipelines
  examples/TEM_data/README.md
  examples/TEM_data/figs/.gitignore
  examples/TEM_data/figs/pipeline.svg
  examples/TEM_data/figs/temimage-partial-pipeline.svg
  examples/TEM_data/figs/workflow.svg
  examples/TEM_data/paths.py
  examples/TEM_data/plugins/image.py
  examples/TEM_data/workflow.py
Due: pylint

Added temsettings plugin
  examples/TEM_data/plugins/temsettings.py
  examples/TEM_data/tests/test_temsettings.py
Due: pylint, pylint-tests

Added temsettings partial pipeline
  examples/TEM_data/workflow.py
Due: pylint

Added partial pipeline for image analyser
  examples/TEM_data/entities/PrecipitateStatistics.json
  examples/TEM_data/output/.gitignore
  examples/TEM_data/requirements.txt
  examples/TEM_data/temdata/__init__.py
  examples/TEM_data/temdata/image_analyser.py
  examples/TEM_data/tests/test_dm3.py
  examples/TEM_data/tests/test_precipitate_statistics.py
  examples/TEM_data/workflow.py
Due: pylint, pylint-tests

work in progress...
  examples/TEM_data/paths.py
  examples/TEM_data/workflow.py
  storages/python/python-storage-plugins/csv.py
Due: pylint

Finalised workflow
  examples/TEM_data/data/composition.csv
  examples/TEM_data/data/precip-template.txt
  examples/TEM_data/data/precipitate_statistics.csv
  examples/TEM_data/entities/Chemistry.json
  examples/TEM_data/entities/Composition.json
  examples/TEM_data/entities/PrecipitateStatistics.json
  examples/TEM_data/output/.gitignore
  examples/TEM_data/plugins/composition.py
  examples/TEM_data/temdata/image_analyser.py
  examples/TEM_data/tests/paths.py
  examples/TEM_data/tests/test_composition.py
  examples/TEM_data/workflow.py
Due: pylint, pylint-tests

Avoid sending strings pint
  bindings/python/mappings.py
Due: pylint

Revert back to dims in dlite.Property()
  storages/python/python-storage-plugins/csv.py
Due: pylint

Added datadoc
  examples/TEM_data/datadoc.yaml
Due: none

Added initial stup for generate_pipeline script
  examples/TEM_data/figs/workflow.svg
  examples/TEM_data/temdata/generate_pipeline.py
  examples/TEM_data/tests/test_declarative_pipeline.py
Due: pylint, pylint-tests

Updated readme
  examples/TEM_data/README.md
Due: none

Started to add test for generate_pipeline
  examples/TEM_data/temdata/generate_pipeline.py
  examples/TEM_data/tests/test_generate_pipeline.py
Due: pylint, pylint-tests

Added generation of pipelines
  examples/TEM_data/data/resources.ttl
  examples/TEM_data/data/resources.yaml
  examples/TEM_data/output/.gitignore
  examples/TEM_data/paths.py
  examples/TEM_data/prepare.py
  examples/TEM_data/requirements.txt
  examples/TEM_data/tests/paths.py
  examples/TEM_data/tests/test_declarative_pipeline.py
  examples/TEM_data/tests/test_generate_pipeline.py
  examples/TEM_data/utils/__init__.py
  examples/TEM_data/utils/generate_pipeline.py
Due: pylint, pylint-tests

Support relations containing quotes.
  src/dlite-json.c
  src/dlite-type.c
  src/tests/test_json.c
  src/utils/strutils.c
  src/utils/strutils.h
  src/utils/tests/test_strutils.c
Due: none

Improved test
  src/tests/test_json.c
Due: none

Added demo script
  examples/TEM_data/data/resources.yaml
  examples/TEM_data/demo.py
  examples/TEM_data/paths.py
  examples/TEM_data/prepare.py
  examples/TEM_data/utils/generate_pipeline.py
Due: pylint

Updated data resource doc
  examples/TEM_data/data/resources.yaml
  examples/TEM_data/demo.py
  examples/TEM_data/plugins/dm3.py
Due: pylint

A lot of bugfixes
  examples/TEM_data/data/precip.txt
  examples/TEM_data/data/resources.yaml
  examples/TEM_data/demo.py
  examples/TEM_data/entities/TEMImage.json
  examples/TEM_data/plugins/dm3.py
  examples/TEM_data/prepare.py
  examples/TEM_data/tests/test_generate_pipeline.py
  examples/TEM_data/utils/utils.py
  examples/TEM_data/workflow.py
Due: pylint, pylint-tests

Final working code
  examples/TEM_data/data/resources.yaml
  examples/TEM_data/demo.py
  examples/TEM_data/utils/utils.py
Due: pylint

Updated documentation of the example case.
  examples/TEM_data/README.md
  examples/TEM_data/data/resources.ttl
  examples/TEM_data/data/resources.yaml
  examples/TEM_data/demo.py
  examples/TEM_data/figs/pipe-precip.svg
  examples/TEM_data/figs/pipe-settings.svg
  examples/TEM_data/figs/pipe-statistics.svg
  examples/TEM_data/figs/pipe-thumbnail.svg
  examples/TEM_data/figs/resources.svg
  examples/TEM_data/paths.py
  examples/TEM_data/prepare.py
  examples/TEM_data/utils/utils.py
Due: pylint

Update demo.py
  examples/TEM_data/demo.py
Due: pylint

Update examples/TEM_data/entities/TEMImage.json
  examples/TEM_data/entities/TEMImage.json
Due: none

Addressed most of the comments from review.
  examples/TEM_data/README.md
  examples/TEM_data/entities/Image.json
  examples/TEM_data/figs/resource-precip.svg
  examples/TEM_data/figs/resource-settings.svg
  examples/TEM_data/figs/resource-statistics.svg
  examples/TEM_data/figs/resource-thumbnail.svg
  examples/TEM_data/main.py
  examples/TEM_data/output/.gitignore
  examples/TEM_data/paths.py
  examples/TEM_data/pipeline.py
  examples/TEM_data/plugins/image.py
  examples/TEM_data/tests/paths.py
  examples/TEM_data/tests/test_coll.py
  examples/TEM_data/tests/test_composition.py
  examples/TEM_data/tests/test_dm3.py
  examples/TEM_data/tests/test_generate_pipeline.py
  examples/TEM_data/tests/test_image.py
  examples/TEM_data/tests/test_pipeline.py
  examples/TEM_data/tests/test_precipitate_statistics.py
  examples/TEM_data/tests/test_temsettings.py
  examples/TEM_data/utils/utils.py
Due: pylint, pylint-tests

Updated after code review by Thomas Hagelien
  src/dlite-type.c
  src/utils/strutils.c
Due: none

Added some simple figures illustrating the different ways data is accessed.
  examples/TEM_data/README.md
Due: none

Added figure text to schematic figures of the pipelines created by get_data()
  examples/TEM_data/README.md
Due: none

Added TEM_data to the DLite test suite
  examples/CMakeLists.txt
  examples/TEM_data/main.py
  examples/TEM_data/tests/test_coll.py
  examples/TEM_data/tests/test_composition.py
  examples/TEM_data/tests/test_dm3.py
  examples/TEM_data/tests/test_image.py
  examples/TEM_data/tests/test_pipeline.py
  examples/TEM_data/tests/test_temsettings.py
Due: pylint, pylint-tests

Cleaned up mappings.py.
  bindings/python/mappings.py
  bindings/python/tests/test_property_mappings.py
Due: pylint, pylint-tests

Cleaned up test_property_mappings
  bindings/python/tests/test_property_mappings.py
Due: pylint-tests

Fixed issue with creating metadata.
  bindings/python/dlite-entity-python.i
  bindings/python/tests/test_ref_create.py
Due: pylint-tests

Made it easy to silence specific DLite error messages both in C and Python.
  bindings/python/dlite-misc-python.i
  bindings/python/dlite-misc.i
  bindings/python/tests/test_misc.py
  bindings/python/utils.py
  src/dlite-bson.c
  src/dlite-errors.c
  src/dlite-errors.h
  src/dlite-mapping-plugins.c
  src/dlite-mapping.c
  src/dlite-misc.c
  src/dlite-misc.h
  src/dlite-storage-plugins.c
  src/dlite-storage.c
  src/dlite-store.c
  src/dlite-type-cast.c
  src/dlite-type.c
  src/dlite.h
  src/pyembed/dlite-pyembed.c
  src/pyembed/dlite-pyembed.h
  src/pyembed/dlite-python-singletons.c
  src/pyembed/dlite-python-singletons.h
  src/tests/CMakeLists.txt
  storages/python/python-storage-plugins/postgresql.py
  storages/python/python-storage-plugins/redis.py
  storages/python/tests-python/test_redis.py
Due: pylint, pylint-tests

Forgot to push a new test
  src/tests/test_errors.c
Due: none

Made looping over storage plugins little more robust.
  bindings/python/dlite-storage-python.i
Due: none

Also applied previous fix to StoragePluginIter
  bindings/python/dlite-storage-python.i
Due: none

Explicitely added needed metadata to search path in test as suggested by reviewer.
  bindings/python/tests/test_postgresql1_write.py
Due: pylint-tests

Added extra requirements for property mappings
  doc/getting_started/build/runtime_dependencies.md
  doc/getting_started/installation.md
  python/setup.py
  requirements_full.txt
  requirements_mappings.txt
Due: pylint

Added new test for issue #543
  src/dlite-json.c
  src/tests/test-collection.json
  src/tests/test_json.c
Due: none

Fixed dims -> shape
  storages/python/python-storage-plugins/postgresql.py
Due: pylint

Path conditions:
  pylint: any of: \.py$, but not: tests?(?:[^/]+)*/.*$
  pylint-tests: any of: tests?(?:[^/]+)*/.*$ and \.py$
