Repository SINTEF/dlite: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, pylint-tests

pylint:
  name: pylint
  entry: pylint
  args:
  - --rcfile=.pylintrc
  language: python
  require_serial: true

pylint-tests:
  name: pylint - tests
  entry: pylint
  args:
  - --rcfile=.pylintrc
  - --disable=import-outside-toplevel,redefined-outer-name
  language: python
  require_serial: true

Numpy2 not accepted
  requirements.txt
Due: none

Update requirements_full.txt
  requirements_full.txt
Due: none

Update requirements_mappings.txt
  requirements_mappings.txt
Due: none

Tested to comment out 32 bit Windows
  .github/workflows/ci_build_wheels.yml
Due: none

Uncomment 32 bit windows
  .github/workflows/ci_build_wheels.yml
Due: none

Added warnings about defining stuff outside the plugin class in Python storage plugins.
  doc/user_guide/storage_plugin.py
  doc/user_guide/storage_plugins.md
Due: pylint

Infer default values for the `uuid` and `single` options of asdict() (#833)
  bindings/python/dlite-entity-python.i
  bindings/python/tests/test_utils.py
  storages/python/python-storage-plugins/bson.py
  storages/python/python-storage-plugins/mongodb.py
  storages/python/python-storage-plugins/yaml.py
Due: pylint, pylint-tests

Explicitly set python 3.10 in ci_tests and cd_docs in gitub workflows.
  .github/workflows/cd_docs.yml
  .github/workflows/ci_tests.yml
Due: none

Updated requirements
  requirements_full.txt
  requirements_mappings.txt
Due: none

Also updated local requirements for TEM_data example
  examples/TEM_data/requirements.txt
Due: none

Exaple of file that fails
  examples/storage_plugin/main.py
Due: pylint

Added example help function to the storage plugin template.
  doc/user_guide/storage_plugin.py
Due: pylint

Removed @staticmethod from the example method
  doc/user_guide/storage_plugin.py
Due: pylint

Updated requirements by hand
  requirements_doc.txt
  requirements_full.txt
  requirements_mappings.txt
Due: none

Updating tem demo (#841)
  examples/TEM_data/data/resources.yaml
  examples/TEM_data/demo.py
  examples/TEM_data/tests/test_pipeline.py
Due: pylint, pylint-tests

Updated doc dependencies according to what was installed in last successful built
  requirements_doc.txt
Due: none

Updated requirements_doc.txt according to what actually can be installed locally
  requirements_doc.txt
Due: none

Do not install doc dependencies for testing
  .github/workflows/ci_tests.yml
Due: none

Documented that nothing should be defined outside the plugin class in Python storage plugins (#867)
  doc/user_guide/storage_plugin.py
  doc/user_guide/storage_plugins.md
Due: pylint

Set numpy version in setup.py for python
  python/setup.py
Due: pylint

Numpy req specified for setup.py for python
  python/setup.py
Due: pylint

Reload Python storages if the Python storage path has been changed.
  examples/storage_plugin/main.py
  src/dlite-storage-plugins.c
  src/pathshash.c
  src/pathshash.h
  src/pyembed/dlite-python-storage.c
Due: pylint

Fixed EMMO dataset representation
  bindings/python/dataset.py
  bindings/python/tests/test_dataset2_load.py
  requirements_full.txt
  requirements_mappings.txt
Due: pylint, pylint-tests

Fix the redis test
  storages/python/tests-python/test_redis.py
Due: pylint-tests

using plugin in path that is set after instantiation of a data mode fails. (#875)
  examples/storage_plugin/main.py
  src/dlite-storage-plugins.c
  src/pathshash.c
  src/pathshash.h
  src/pyembed/dlite-python-storage.c
Due: pylint

Cleaned up readme in dataset example
  bindings/python/tests/test_dataset1_save.py
  examples/dataset/README.md
Due: pylint-tests

Serialise as EMMO datasets (#796)
  bindings/python/CMakeLists.txt
  bindings/python/dataset.py
  bindings/python/dlite-type.i
  bindings/python/tests/CMakeLists.txt
  bindings/python/tests/entities/FluidData.json
  bindings/python/tests/test_dataset1_save.py
  bindings/python/tests/test_dataset2_load.py
  doc/_static/dataset-v2.svg
  doc/_static/dataset.svg
  examples/TEM_data/requirements.txt
  examples/dataset/README.md
  examples/dataset/data/.gitignore
  examples/dataset/datamodels/FluidData.json
  requirements_full.txt
  requirements_mappings.txt
Due: pylint, pylint-tests

Fixed adding options to the Python plygin from_bytes() and to_bytes() methods
  bindings/python/dlite-entity-python.i
  bindings/python/dlite-entity.i
  bindings/python/dlite-python.i
  bindings/python/tests/test_storage.py
  doc/user_guide/storage_plugin.py
  src/dlite-entity.c
  src/dlite-entity.h
  src/dlite-storage-plugins.h
  storages/python/dlite-plugins-python.c
  storages/python/python-storage-plugins/yaml.py
Due: pylint, pylint-tests

Added options to docstring in from_bytes() and to_bytes() in the Python plugin template file: storage_plugin.py
  doc/user_guide/storage_plugin.py
Due: pylint

Fix test redis (#877)
  bindings/python/tests/test_dataset1_save.py
  examples/dataset/README.md
  storages/python/tests-python/test_redis.py
Due: pylint-tests

Update bindings/python/dlite-python.i
  bindings/python/dlite-python.i
Due: none

Update storages/python/dlite-plugins-python.c
  storages/python/dlite-plugins-python.c
Due: none

Corrected typo
  storages/python/dlite-plugins-python.c
Due: none

Added support for to_bytes() and from_bytes() in the json storage plugin.
  bindings/python/dlite-entity.i
  bindings/python/tests/test_storage.py
  src/dlite-misc.c
  src/tests/test_json.c
  src/tests/test_misc.c
  src/utils/jstore.c
  src/utils/jstore.h
  storages/json/dlite-json-storage.c
Due: pylint-tests

Added comment about missing tests
  bindings/python/tests/test_storage.py
Due: pylint-tests

Adding options to the Python plugin from_bytes() and to_bytes() methods (#880)
  bindings/python/dlite-entity-python.i
  bindings/python/dlite-entity.i
  bindings/python/dlite-python.i
  bindings/python/tests/test_storage.py
  doc/user_guide/storage_plugin.py
  src/dlite-entity.c
  src/dlite-entity.h
  src/dlite-storage-plugins.h
  storages/python/dlite-plugins-python.c
  storages/python/python-storage-plugins/yaml.py
Due: pylint, pylint-tests

Added test with options
  bindings/python/tests/test_storage.py
Due: pylint-tests

debug1
  bindings/python/dlite-entity.i
Due: none

debug2
  src/dlite-misc.c
  src/tests/test_json.c
  src/tests/test_misc.c
Due: none

Path conditions:
  pylint: any of: \.py$, but not: tests?(?:[^/]+)*/.*$
  pylint-tests: any of: tests?(?:[^/]+)*/.*$ and \.py$
