Repository SINTEF/dlite: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, pylint-tests

pylint:
  name: pylint
  entry: pylint
  args:
  - --rcfile=.pylintrc
  language: python
  require_serial: true

pylint-tests:
  name: pylint - tests
  entry: pylint
  args:
  - --rcfile=.pylintrc
  - --disable=import-outside-toplevel,redefined-outer-name
  language: python
  require_serial: true

Added special requirements for testing
  requirements_dev.txt
Due: none

Fix inconsistency in requirements
  requirements_dev.txt
Due: none

Print python version when installing dependencies
  .github/workflows/ci_tests.yml
Due: none

Removed additional dev requirements because of conflicts with oteapi
  requirements_dev.txt
Due: none

Print more helpful error message for missing dependencies.
  bindings/python/mappings.py
Due: pylint

Added option `single` to Instance.asdict() allowing to saving in multi-entity format.
  bindings/python/dlite-entity-python.i
Due: none

Changes based on input from reviewer
  examples/TEM_data/README.md
  examples/TEM_data/demo.py
  examples/TEM_data/docker-compose.yml
  examples/TEM_data/main.py
  examples/TEM_data/requirements.txt
  examples/TEM_data/tem_paths.py
  examples/TEM_data/tests/test_image.py
  python/.gitignore
  requirements_dev.txt
Due: pylint, pylint-tests

Updated requirements in TEM-demo such that it should work out of the box.
  examples/TEM_data/requirements.txt
Due: none

Require dlite-python 0.4.1
  examples/TEM_data/requirements.txt
Due: none

Changed git-method from ssh to https
  examples/TEM_data/requirements.txt
Due: none

Fixed issues
  bindings/python/CMakeLists.txt
  bindings/python/dlite-type.i
  bindings/python/tests/CMakeLists.txt
Due: none

Trying to catch missed errors in dlite.Instance.__init__()
  bindings/python/dlite-entity-python.i
  bindings/python/dlite-entity.i
Due: none

The virtualenv activate.sh script has changed over Python versions.
  cmake/patch-activate.sh
Due: none

Skip datamodel_as_rdf example if pydantic or rdflib are not available
  bindings/python/tests/test_mapping.py
  examples/datamodel_as_rdf/main.py
Due: pylint, pylint-tests

Avoid segfault: - remove psycopg2-binary - do not free session memory in atexit()
  bindings/python/tests/CMakeLists.txt
  bindings/python/tests/inst.json
  bindings/python/tests/test_storage.py
  doc/user_guide/environment_variables.md
  requirements_full.txt
  src/dlite-misc.c
Due: pylint-tests

Avoid overwriting persons.json
  bindings/python/tests/test_factory.py
Due: pylint-tests

Do not free storage iterator in atexit() handler.
  src/dlite-storage.c
Due: none

Only skip free storage iterater during atexit if DLITE_ATEXIT_FREE is not set.
  src/dlite-storage.c
Due: none

Fixed typo
  src/dlite-storage.c
Due: none

Removed psycopg2-binary from requirement_full.txt
  requirements_full.txt
Due: none

Updated dockerfile and ensure consistent use of python interpreter
  Dockerfile
  doc/conf.py.in
Due: none

Updated dependency of numpy to oldest-supported-numpy
  python/setup.py
Due: pylint

Consistent dependency of oldest-supported-numpy
  python/setup.py
Due: pylint

Update to sphinx-autoapi 3.0
  requirements_doc.txt
Due: none

Turn off autoapi extension
  doc/conf.py.in
Due: none

Update sphinx dependencies
  requirements_doc.txt
Due: none

Added utioity function get_referred_instances()
  bindings/python/utils.py
Due: pylint

Improved handling of special cases
  bindings/python/mappings.py
  src/dlite-collection.c
Due: pylint

Added more documentation of get_referred_instances().
  bindings/python/utils.py
Due: pylint

Added suggestion by reviewer
  bindings/python/utils.py
Due: pylint

Updated yaml plugin
  storages/python/python-storage-plugins/yaml.py
Due: pylint

Apply suggestions from code review
  bindings/python/tests/test_ref_create.py
Due: pylint-tests

Added comment suggested by reviewer
  bindings/python/dlite-entity-python.i
Due: none

Added comment as suggested by reviewer
  bindings/python/dlite-entity-python.i
Due: none

Updated the documentation
  doc/user_guide/concepts.md
  doc/user_guide/vocabulary.md
Due: none

Corrected check for unit in mappings
  bindings/python/mappings.py
Due: pylint

Fixed typo
  bindings/python/mappings.py
Due: pylint

Added missing colon
  bindings/python/mappings.py
Due: pylint

Updated requirement on tripper to 0.2.10 as suggested by reviewer
  requirements_full.txt
Due: none

Path conditions:
  pylint: any of: \.py$, but not: tests?(?:[^/]+)*/.*$
  pylint-tests: any of: tests?(?:[^/]+)*/.*$ and \.py$
