Repository SINTEF/dlite: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, pylint-tests

.pre-commit-config.yaml:

# To install the git pre-commit hook run:
#   pre-commit install
# To update the pre-commit hooks run:
#   pre-commit autoupdate
repos:
  # pre-commit-hooks supplies a multitude of small hooks
  # To get an overview of them all as well as the ones used here, please see
  # https://github.com/pre-commit/pre-commit-hooks#hooks-available
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
    - id: end-of-file-fixer
    - id: debug-statements
    - id: check-json
      name: Check JSON
    - id: check-yaml
      name: Check YAML
    - id: trailing-whitespace
      args: [--markdown-linebreak-ext=md]

  # isort is a tool to sort and group import statements in Python files
  # It works on files in-place
  - repo: https://github.com/timothycrosley/isort
    rev: 5.11.5
    hooks:
    - id: isort
      args: ["--profile", "black", "--filter-files", "--skip-gitignore"]

  # Black is a code style and formatter
  # It works on files in-place
  - repo: https://github.com/ambv/black
    rev: 23.3.0
    hooks:
    - id: black

  # Bandit is a security linter
  # More information can be found in its documentation:
  # https://bandit.readthedocs.io/en/latest/
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.5
    hooks:
    - id: bandit
      args: ["-r"]
      exclude: tests?(?:[^/]+)*/.*$

  # mypy is a static typing linter
  # The main code repository can be found at:
  # https://github.com/python/mypy
  # The project's documentation can be found at:
  # https://mypy.readthedocs.io/en/stable/index.html
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.4.1
    hooks:
    - id: mypy

  - repo: local
    hooks:
    # pylint is a Python linter
    # It is run through the local environment to ensure external packages can be
    # imported without issue.
    # For more information about pylint see its documentation at:
    # https://pylint.pycqa.org/en/latest/
    - id: pylint
      name: pylint
      entry: pylint
      args: ["--rcfile=.pylintrc"]
      language: python
      types: [python]
      require_serial: true
      exclude: tests?(?:[^/]+)*/.*$
    # pylint is a Python linter
    # It is run through the local environment to ensure external packages can be
    # imported without issue.
    # For more information about pylint see its documentation at:
    # https://pylint.pycqa.org/en/latest/
    - id: pylint-tests
      name: pylint - tests
      entry: pylint
      args:
      - "--rcfile=.pylintrc"
      - "--disable=import-outside-toplevel,redefined-outer-name"
      language: python
      types: [python]
      require_serial: true
      files: tests?(?:[^/]+)*/.*$

Changed default values for the `uuid` and `single` options of asdict()
  bindings/python/dlite-entity-python.i
  bindings/python/tests/test_utils.py
  storages/python/python-storage-plugins/bson.py
  storages/python/python-storage-plugins/mongodb.py
  storages/python/python-storage-plugins/yaml.py
Due: pylint, pylint-tests

Fix weekly build (#828)
  .github/docker/Dockerfile-manylinux.template
  .github/docker/Dockerfile-musllinux.template
Due: none

Simplified test_python_bindings.py (#831)
  bindings/python/tests/test_python_bindings.py
Due: pylint-tests

Avoid that all deployment of documentation to GH pages gets cancelled. (#829)
  .github/workflows/cd_docs.yml
Due: none

Updated dataset figure with input from Emanuele
  doc/_static/dataset-v2.svg
Due: none

Updated figure
  doc/_static/dataset-v2.svg
Due: none

Improving dataset
  bindings/python/dataset.py
Due: pylint

Fetch hardcoded namespaces from tripper
  bindings/python/tests/test_property_mappings.py
Due: pylint-tests

Updated some test entities to new format
  storages/python/tests-python/input/test_meta.json
Due: none

Fixed misspelling (#832)
  README.md
Due: none

Update the requirements for the CSV example
  examples/read-csv/main.py
  requirements_full.txt
Due: pylint

Adjusted required version of tables
  requirements_full.txt
Due: none

Fetch hardcoded namespaces from tripper (#838)
  bindings/python/tests/test_property_mappings.py
Due: pylint-tests

Updated some test entities to new format (#839)
  storages/python/tests-python/input/test_meta.json
Due: none

Update the requirements for the CSV example (#840)
  examples/read-csv/main.py
  requirements_full.txt
Due: pylint

Updated dataset serialisation
  bindings/python/dataset.py
  bindings/python/tests/test_dataset1_save.py
Due: pylint, pylint-tests

Updating tem demo
  examples/TEM_data/data/resources.yaml
  examples/TEM_data/demo.py
  examples/TEM_data/tests/test_pipeline.py
Due: pylint, pylint-tests

metadata_to_rdf() now works
  bindings/python/dataset.py
  bindings/python/tests/test_dataset1_save.py
Due: pylint, pylint-tests

Implemented loading datamodels from EMMO representation.
  bindings/python/dataset.py
  bindings/python/dlite-type.i
  bindings/python/tests/entities/FluidData.json
  bindings/python/tests/test_dataset1_save.py
  doc/_static/dataset-v2.svg
Due: pylint, pylint-tests

Cleanup
  bindings/python/tests/test_dataset1_save.py
Due: pylint-tests

Skip testing dataset if Tripper is not installed.
  bindings/python/dataset.py
  bindings/python/tests/test_dataset1_save.py
Due: pylint, pylint-tests

Updated representation of array types in the dlite.dataset module.
  bindings/python/dataset.py
  doc/_static/dataset-v2.svg
Due: pylint

Added support for instances
  bindings/python/dataset.py
  bindings/python/tests/test_dataset1_save.py
Due: pylint, pylint-tests

Updated requirements on tripper to current master
  requirements_full.txt
  requirements_mappings.txt
Due: none

Update what tests to run
  bindings/python/tests/CMakeLists.txt
Due: none

Added missing test
  bindings/python/tests/test_dataset2_load.py
Due: pylint-tests

Removed Al datasets as suggested by Francesca
  bindings/python/tests/entities/Chemistry-0.1.json
  bindings/python/tests/input/aa6060.json
  bindings/python/tests/test_dataset1_save.py
Due: pylint-tests

Made unique artifact names, as reuse is not allowed with actions/upload-artifact@v4
  .github/workflows/cd_release.yml
Due: none

List installed python packages to make it easy to see what is installed
  .github/docker/Dockerfile-manylinux.template
Due: none

Made unique artifact names, as reuse is not allowed with actions/upload-artifact@v4 (#846)
  .github/workflows/cd_release.yml
Due: none

Added openssl to the musllinux wheel
  .github/docker/Dockerfile-musllinux.template
Due: none

Do not set cmake option Python3_FIND_VIRTUALENV=ONLY when building for Windows
  CMakeLists.txt
Due: none

Started to add a dataset example
  examples/dataset/README.md
  examples/dataset/data/.gitignore
  examples/dataset/datamodels/FluidData.json
Due: none

Updated readme for dataset example
  examples/dataset/README.md
Due: none

Do not install cmake on musllinux.
  .github/docker/Dockerfile-musllinux.template
Due: none

Do not install optional requirements when building docker images for pypi.
  .github/docker/Dockerfile-manylinux.template
  .github/docker/Dockerfile-manylinux_x_y.template
  .github/docker/Dockerfile-musllinux.template
  python/setup.py
Due: pylint

Added openssl-dev to musllinux image
  .github/docker/Dockerfile-musllinux.template
Due: none

Skip installing dependencies for Python 12 on i686
  .github/docker/Dockerfile-musllinux.template
Due: none

Do not build Windows wheel for Python 3.12
  .github/workflows/cd_release.yml
  .github/workflows/ci_build_wheels.yml
  .github/workflows/container_builds_weekly.yml
Due: none

Fixed typo
  .github/docker/Dockerfile-manylinux.template
Due: none
