Repository SINTEF/dlite: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, pylint-tests

.pre-commit-config.yaml:

# To install the git pre-commit hook run:
#   pre-commit install
# To update the pre-commit hooks run:
#   pre-commit autoupdate
repos:
  # pre-commit-hooks supplies a multitude of small hooks
  # To get an overview of them all as well as the ones used here, please see
  # https://github.com/pre-commit/pre-commit-hooks#hooks-available
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
    - id: end-of-file-fixer
    - id: debug-statements
    - id: check-json
      name: Check JSON
    - id: check-yaml
      name: Check YAML
    - id: trailing-whitespace
      args: [--markdown-linebreak-ext=md]

  # isort is a tool to sort and group import statements in Python files
  # It works on files in-place
  - repo: https://github.com/timothycrosley/isort
    rev: 5.11.5
    hooks:
    - id: isort
      args: ["--profile", "black", "--filter-files", "--skip-gitignore"]

  # Black is a code style and formatter
  # It works on files in-place
  - repo: https://github.com/ambv/black
    rev: 23.3.0
    hooks:
    - id: black

  # Bandit is a security linter
  # More information can be found in its documentation:
  # https://bandit.readthedocs.io/en/latest/
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.5
    hooks:
    - id: bandit
      args: ["-r"]
      exclude: tests?(?:[^/]+)*/.*$

  # mypy is a static typing linter
  # The main code repository can be found at:
  # https://github.com/python/mypy
  # The project's documentation can be found at:
  # https://mypy.readthedocs.io/en/stable/index.html
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.4.1
    hooks:
    - id: mypy

  - repo: local
    hooks:
    # pylint is a Python linter
    # It is run through the local environment to ensure external packages can be
    # imported without issue.
    # For more information about pylint see its documentation at:
    # https://pylint.pycqa.org/en/latest/
    - id: pylint
      name: pylint
      entry: pylint
      args: ["--rcfile=.pylintrc"]
      language: python
      types: [python]
      require_serial: true
      exclude: tests?(?:[^/]+)*/.*$
    # pylint is a Python linter
    # It is run through the local environment to ensure external packages can be
    # imported without issue.
    # For more information about pylint see its documentation at:
    # https://pylint.pycqa.org/en/latest/
    - id: pylint-tests
      name: pylint - tests
      entry: pylint
      args:
      - "--rcfile=.pylintrc"
      - "--disable=import-outside-toplevel,redefined-outer-name"
      language: python
      types: [python]
      require_serial: true
      files: tests?(?:[^/]+)*/.*$

Removed two additional references to dlite_unload_plugin
  src/tests/test_datamodel.c
  storages/python/tests-c/test_postgresql_storage.c
Due: none

Remove API that may lead to segfault (#1282)
  bindings/python/dlite-storage-python.i
  bindings/python/dlite-storage.i
  bindings/python/tests/test_python_bindings.py
  bindings/python/tests/test_storage_plugins.py
  src/dlite-storage-plugins.c
  src/dlite-storage-plugins.h
  src/tests/python/test_python_mapping.c
  src/tests/test_datamodel.c
  src/tests/test_storage.c
  storages/python/tests-c/test_blob_storage.c
  storages/python/tests-c/test_bson_storage.c
  storages/python/tests-c/test_postgresql_storage.c
  storages/python/tests-c/test_yaml_storage.c
Due: pylint-tests

Do not fail tests because of tripper is not installed
  bindings/python/table.py
  bindings/python/tests/test_table.py
  src/dlite-entity.c
Due: pylint, pylint-tests

Do not fail tests because of tripper is not installed (#1283)
  bindings/python/table.py
  bindings/python/tests/test_table.py
  src/dlite-entity.c
Due: pylint, pylint-tests

Fixed zenodo badge
  README.md
Due: none

Made one reusable workflow for building wheels
  .github/workflows/cd_release.yml
  .github/workflows/ci_build_wheels.yml
  .github/workflows/reusable_build_wheels.yml
Due: none

Apply suggestion from @francescalb
  .github/workflows/ci_build_wheels.yml
Due: none

Reduce musllinux, _1_2, x86_64 to same minors as ci_build_wheel
  .github/workflows/cd_release.yml
Due: none

Read timeout error
  bindings/python/tests/test_protocol.py
Due: pylint-tests

move contact zenodo inside try
  bindings/python/tests/test_protocol.py
Due: pylint-tests

Added python api index back
  doc/_templates/autoapi/index.rst
  doc/api.rst
  doc/conf.py.in
  doc/contributors_guide/documentation_testing.md
  doc/index.rst
Due: none

Try to make toggleing of docs version possible (use gh.pages)
  .github/workflows/cd_docs.yml
  doc/conf.py.in
  doc/contributors_guide/release_instructions.md
  doc/index.rst
Due: none

Fix table parser indentation to restore AutoAPI docs build
  bindings/python/table.py
Due: pylint

Harden AutoAPI path selection for CI readability
  doc/conf.py.in
Due: none

Make Python API toctree match generated AutoAPI namespaces
  doc/api.rst
Due: none

Stabilize AutoAPI generation paths for CI and API toctree
  doc/api.rst
  doc/conf.py.in
Due: none

Make AutoAPI publish deterministic and fail if missing
  .github/workflows/cd_docs.yml
  doc/api.rst
  doc/conf.py.in
Due: none

Fix Python API links and harden AutoAPI CI diagnostics
  .github/workflows/cd_docs.yml
  doc/api.rst
  doc/index.rst
Due: none

Detect docs html path dynamically in docs deploy workflow
  .github/workflows/cd_docs.yml
Due: none

Fallback AutoAPI to source tree when build tree has no Python sources
  doc/conf.py.in
Due: none

Prefer source-tree modules for AutoAPI generation in CI
  doc/conf.py.in
Due: none

Use fresh tmp build dir in docs workflow to avoid stale build artifacts
  .github/workflows/cd_docs.yml
Due: none

Corrected treatment of strange symbols
  bindings/python/dlite-jstore-python.i
  bindings/python/tests/input/datamodels.csv
  bindings/python/tests/test_table.py
Due: pylint-tests

fix test?
  bindings/python/tests/test_table.py
Due: pylint-tests

Fix table parser indentation to restore AutoAPI docs build (#1290)
  .github/workflows/cd_docs.yml
  bindings/python/table.py
  doc/api.rst
  doc/conf.py.in
  doc/index.rst
Due: pylint

Print out more info about sphinx run
  .github/workflows/cd_docs.yml
Due: none

Try with python 3.12 for docs
  .github/workflows/cd_docs.yml
Due: none

Try some conf changes
  doc/conf.py.in
Due: none

Try out
  .github/docker/Dockerfile-cd-docs-local
  .github/docker/cd_docs_apt_packages.txt
  .github/docker/run_cd_docs_ci_local_in_container.sh
  .github/workflows/cd_docs.yml
  README.md
  tools/cd_docs_build_and_verify.sh
  tools/run_cd_docs_ci_local.sh
Due: none

Update volnerable dependencies.
  requirements_doc.txt
  requirements_full.txt
Due: none

Update vulnerable dependencies. (#1297)
  requirements_doc.txt
  requirements_full.txt
Due: none

Added test utilities for running services using docker.
  bindings/python/paths.py.in
  bindings/python/scripts/CMakeLists.txt
  bindings/python/scripts/dlite-service
  bindings/python/tests/CMakeLists.txt
  bindings/python/tests/output/.gitignore
  bindings/python/tests/services/compose-minio.yml
  bindings/python/tests/services/compose-mongo.yml
  bindings/python/tests/services/compose-postgres.yml
  bindings/python/tests/test_postgresql1_write.py
  bindings/python/tests/test_postgresql2_read.py
  bindings/python/testutils.py
  requirements_full.txt
  storages/python/CMakeLists.txt
  storages/python/tests-c/CMakeLists.txt
  storages/python/tests-python/CMakeLists.txt
  storages/python/tests-python/test_minio.py
  storages/python/tests-python/test_mongodb_python.py
  storages/python/tests-python/test_redis.py
Due: pylint, pylint-tests

Fixed some minor issues: - The dlite-service command should work in an install environment - The tests should run without installation - Released requirements on Python 3.14
  bindings/python/paths.py.in
  bindings/python/scripts/dlite-service
  bindings/python/tests/CMakeLists.txt
  bindings/python/testutils.py
  storages/python/CMakeLists.txt
Due: pylint

Added pgconf.h file to repo
  storages/python/tests-c/.gitignore
  storages/python/tests-c/pgconf.h
Due: none

Fixed issues in old tests
  src/config-paths.h.in
  storages/python/CMakeLists.txt
  storages/python/dlite-plugins-python.c
  storages/python/tests-c/Person.json
  storages/python/tests-c/test_postgresql_storage.c
  storages/python/tests-c/test_postgresql_storage2.c
  storages/python/tests-python/test_mongodb_python.py
Due: pylint-tests

Added --stamp option to dlite-service
  bindings/python/scripts/dlite-service
  bindings/python/testutils.py
  storages/python/CMakeLists.txt
  storages/python/tests-c/CMakeLists.txt
Due: pylint

Fixed typo in CMakeLists.txt file
  storages/python/CMakeLists.txt
Due: none

Bumped metadata-action to 6.2.0
  .github/workflows/docker-publish.yml
Due: none
