Repository SINTEF/dlite: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, pylint-tests

pylint:
  name: pylint
  entry: pylint
  args:
  - --rcfile=.pylintrc
  language: python
  require_serial: true

pylint-tests:
  name: pylint - tests
  entry: pylint
  args:
  - --rcfile=.pylintrc
  - --disable=import-outside-toplevel,redefined-outer-name
  language: python
  require_serial: true

reverted to dims
  storages/python/python-storage-plugins/csv.py
Due: pylint

reverted fortran-module.txt
  tools/templates/fortran-module.txt
Due: none

back to shape because if not doesnt build
  tools/templates/fortran-module.txt
Due: none

Revert "back to shape because if not doesnt build"
  tools/templates/fortran-module.txt
Due: none

Revert "reverted fortran-module.txt"
  tools/templates/fortran-module.txt
Due: none

Updated file permissions
  bindings/python/doxy2swig.py
  bindings/python/tests/test_mapping.py
  bindings/python/tests/test_misc.py
  bindings/python/tests/test_property_mappings.py
  bindings/python/tests/test_python_bindings.py
  bindings/python/tests/test_storage.py
  cmake/patch-activate.sh
  cmake/valgrind-log2supp.py
  examples/TEM_data/__pycache__/tem_paths.cpython-38.pyc
  examples/datamodel_as_rdf/__pycache__/dataresource_pydantic2.cpython-38.pyc
  examples/datamodel_as_rdf/__pycache__/pydantic_nested.cpython-38.pyc
  examples/dehydrogenation/2-instance-mappings/calculate_reactions.py
  examples/dehydrogenation/2-instance-mappings/reaction_energy.py
  examples/dehydrogenation/main.py
  examples/entity_service/start_service.sh
  examples/entity_service/stop_service.sh
  examples/mappings/__pycache__/mappingfunc.cpython-38.pyc
  examples/mappings/__pycache__/simple.cpython-38.pyc
  src/tests/minunit/ci/check_example.sh
  tools/dlite-docker
Due: pylint, pylint-tests

Fixing permissions of .github/docker/run_cibuildwheel.sh
  .github/docker/run_cibuildwheel.sh
Due: none

Changed shape to dims in dlite-rdf.c
  storages/rdf/dlite-rdf.c
Due: none

Updated installation of fortran library and psycopg requirements
  bindings/fortran/CMakeLists.txt
  requirements_full.txt
Due: none

Release binary package for python 3.12 (#777)
  .github/docker/Dockerfile-musllinux.template
  .github/workflows/cd_release.yml
  .github/workflows/ci_build_wheels.yml
  .github/workflows/container_builds_weekly.yml
  doc/getting_started/installation.md
Due: none

Checking ex3
  examples/ex3/CMakeLists.txt
  examples/ex3/PhilibTable.json
Due: none

Added OTE case to mapping example.
  examples/mappings/README.md
  examples/mappings/main.py
  examples/mappings/mappingfunc_module.py
  examples/mappings/oteexample.py
  examples/mappings/output/.gitignore
  examples/mappings/requirements.txt
Due: pylint

Updated requirements for mappings example
  examples/mappings/requirements.txt
Due: none

Revert requirements_doc.txt
  requirements_doc.txt
Due: none

Fixed some doxygen formatting
  src/dlite-entity.h
  src/dlite-misc.h
  src/getuuid.h
  src/utils/strtob.h
  src/utils/unicode.h
Due: none

Corrected syntactic check of id's and uuid's
  bindings/python/dlite-entity-python.i
  src/dlite-entity.c
  src/dlite-store.c
  src/tests/test_getuuid.c
  storages/json/dlite-json-storage.c
Due: none

Fixed some doxygen formatting (#794)
  src/dlite-entity.h
  src/dlite-misc.h
  src/getuuid.h
  src/utils/strtob.h
  src/utils/unicode.h
Due: none

Emulate that all dlite errors are subclasses of DLiteError in dlite.errctl()
  bindings/python/dlite-misc-python.i
  src/dlite-storage-plugins.c
Due: none

Update according to reviewer
  src/dlite-entity.c
  src/dlite-store.c
  storages/json/dlite-json-storage.c
Due: none

Corrected syntactic check of id's and uuid's (#795)
  bindings/python/dlite-entity-python.i
  bindings/python/dlite-misc-python.i
  src/dlite-entity.c
  src/dlite-storage-plugins.c
  src/dlite-store.c
  src/tests/test_getuuid.c
  storages/json/dlite-json-storage.c
Due: none

Working on dataset representation...
  bindings/python/CMakeLists.txt
  bindings/python/dataset.py
  bindings/python/tests/CMakeLists.txt
  bindings/python/tests/entities/Chemistry-0.1.json
  bindings/python/tests/input/aa6060.json
  bindings/python/tests/test_dataset1_save.py
  doc/_static/dataset.svg
Due: pylint, pylint-tests

Update figure
  doc/_static/dataset.svg
Due: none

Avoid failing unnessesary
  bindings/python/tests/test_dataset1_save.py
Due: pylint-tests

Minor fixes: - Changed some blank nodes to classes and named literals. - Updated dataset figure.
  bindings/python/dataset.py
  bindings/python/tests/test_dataset1_save.py
  doc/_static/dataset.svg
Due: pylint, pylint-tests

Updated dataset serialisation
  bindings/python/dataset.py
  bindings/python/tests/test_dataset1_save.py
Due: pylint, pylint-tests

Update examples/mappings/README.md
  examples/mappings/README.md
Due: none

Updated figure and README file.
  examples/mappings/README.md
  examples/mappings/asedemo.svg
  examples/mappings/mappingdemo.svg
Due: none

Updated README
  examples/mappings/README.md
Due: none

Addressed final comments by reviewer
  examples/mappings/mappingfunc.py
  examples/mappings/mappingfunc_module.py
  examples/mappings/simple.py
Due: pylint

Add instruction of how to run this example with DLite built from source.
  examples/mappings/README.md
Due: none

Renamed max() to maximum()
  examples/mappings/mappingfunc.py
  examples/mappings/mappingfunc_module.py
  examples/mappings/oteexample.py
Due: pylint

Updated requirements.txt
  examples/mappings/requirements.txt
Due: none

Renamed max() to maximum() in figure
  examples/mappings/mappingdemo.svg
Due: none

Added a comment about OTEAPI to requirements_mappings.txt
  examples/mappings/oteexample.py
  requirements_mappings.txt
Due: pylint

Added OTE case to mapping example (#792)
  examples/mappings/README.md
  examples/mappings/asedemo.svg
  examples/mappings/main.py
  examples/mappings/mappingdemo.svg
  examples/mappings/mappingfunc.py
  examples/mappings/mappingfunc_module.py
  examples/mappings/oteexample.py
  examples/mappings/output/.gitignore
  examples/mappings/requirements.txt
  examples/mappings/simple.py
  requirements_mappings.txt
Due: pylint

Path conditions:
  pylint: any of: \.py$, but not: tests?(?:[^/]+)*/.*$
  pylint-tests: any of: tests?(?:[^/]+)*/.*$ and \.py$
