Repository SINTEF/dlite: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, pylint-tests

.pre-commit-config.yaml:

# To install the git pre-commit hook run:
#   pre-commit install
# To update the pre-commit hooks run:
#   pre-commit autoupdate
repos:
  # pre-commit-hooks supplies a multitude of small hooks
  # To get an overview of them all as well as the ones used here, please see
  # https://github.com/pre-commit/pre-commit-hooks#hooks-available
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
    - id: end-of-file-fixer
    - id: debug-statements
    - id: check-json
      name: Check JSON
    - id: check-yaml
      name: Check YAML
    - id: trailing-whitespace
      args: [--markdown-linebreak-ext=md]

  # isort is a tool to sort and group import statements in Python files
  # It works on files in-place
  - repo: https://github.com/timothycrosley/isort
    rev: 5.11.5
    hooks:
    - id: isort
      args: ["--profile", "black", "--filter-files", "--skip-gitignore"]

  # Black is a code style and formatter
  # It works on files in-place
  - repo: https://github.com/ambv/black
    rev: 23.3.0
    hooks:
    - id: black

  # Bandit is a security linter
  # More information can be found in its documentation:
  # https://bandit.readthedocs.io/en/latest/
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.5
    hooks:
    - id: bandit
      args: ["-r"]
      exclude: tests?(?:[^/]+)*/.*$

  # mypy is a static typing linter
  # The main code repository can be found at:
  # https://github.com/python/mypy
  # The project's documentation can be found at:
  # https://mypy.readthedocs.io/en/stable/index.html
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.4.1
    hooks:
    - id: mypy

  - repo: local
    hooks:
    # pylint is a Python linter
    # It is run through the local environment to ensure external packages can be
    # imported without issue.
    # For more information about pylint see its documentation at:
    # https://pylint.pycqa.org/en/latest/
    - id: pylint
      name: pylint
      entry: pylint
      args: ["--rcfile=.pylintrc"]
      language: python
      types: [python]
      require_serial: true
      exclude: tests?(?:[^/]+)*/.*$
    # pylint is a Python linter
    # It is run through the local environment to ensure external packages can be
    # imported without issue.
    # For more information about pylint see its documentation at:
    # https://pylint.pycqa.org/en/latest/
    - id: pylint-tests
      name: pylint - tests
      entry: pylint
      args:
      - "--rcfile=.pylintrc"
      - "--disable=import-outside-toplevel,redefined-outer-name"
      language: python
      types: [python]
      require_serial: true
      files: tests?(?:[^/]+)*/.*$

Don't add :latest tag to docker image for manylinux_x_y
  .github/workflows/container_builds_weekly.yml
Due: none

Use manylinux_2_28
  .github/workflows/container_builds_weekly.yml
Due: none

Fixed typo in dockerfile
  .github/docker/Dockerfile-manylinux_x_y.template
Due: none

Update requirements
  .github/docker/Dockerfile-manylinux_x_y.template
  requirements_full.txt
Due: none

Remove psycopg from requirements when building docker images
  .github/docker/Dockerfile-manylinux.template
  .github/docker/Dockerfile-musllinux.template
Due: none

Do not install requirements for TEM demo
  .github/docker/Dockerfile-manylinux.template
Due: none

Also updated musllinux template
  .github/docker/Dockerfile-manylinux.template
  .github/docker/Dockerfile-musllinux.template
Due: none

Update documentation of `props` property.
  bindings/python/dlite-entity-python.i
Due: none

Added building wheel against manylinux_2_28 for x86_64
  .github/workflows/ci_build_wheels.yml
Due: none

Try to test for Python 3.12 on Windows
  .github/workflows/ci_build_wheels.yml
Due: none

Added support for specifying when accessing and assigning properties.
  bindings/python/dlite-entity-python.i
  bindings/python/tests/test_entity.py
Due: pylint-tests

Added improved explanation in top of the Dockerfile
  cmake/Dockerfile-ubuntu
Due: none

Added small section to readme file.
  README.md
  bindings/python/dlite-entity-python.i
Due: none

Improved some errors
  bindings/python/dlite-entity-python.i
  bindings/python/tests/test_transaction.py
Due: pylint-tests

Added high-quality random number generator. Used it for UUID4 generation and snapshot IDs.
  src/dlite-entity.c
  src/dlite-misc.c
  src/tests/minunit/minunit.h
  src/utils/CMakeLists.txt
  src/utils/config.h.in
  src/utils/rng.c
  src/utils/rng.h
  src/utils/tests/CMakeLists.txt
  src/utils/tests/test_rng.c
  src/utils/uuid4.c
Due: none

Make sure that dlite is initialised and rng seeded
  bindings/python/dlite-python.i
  src/dlite-entity.c
Due: none

Fixed some issues pointed out by cppcheck
  CMakeLists.txt
  src/dlite-bson.c
  src/utils/CMakeLists.txt
  src/utils/config.h.in
  src/utils/rng.c
Due: none

Made rng independent of err
  src/utils/rng.c
  src/utils/rng.h
Due: none

Updated how to run cppcheck
  CMakeLists.txt
Due: none

Print dlite errors in color by default, if ERR_COLOR is not set to "never".
  src/utils/CMakeLists.txt
  src/utils/config.h.in
  src/utils/err.c
  src/utils/err.h
Due: none

Fixing memory bug when printing error message.
  bindings/python/dlite-entity.i
Due: none

Added documentation
  doc/user_guide/environment_variables.md
  src/utils/err.c
Due: none

Fixed loading collection with instance_from_dict()
  bindings/python/dlite-entity-python.i
  bindings/python/dlite-entity.i
  bindings/python/dlite-python.i
  bindings/python/dlite-storage-python.i
  bindings/python/tests/input/coll.json
  bindings/python/tests/test_collection.py
  bindings/python/utils.py
  src/dlite-entity.c
  src/dlite-schemas.c
Due: pylint, pylint-tests

Added tests for convert_instance()
  bindings/python/dlite-python.i
  bindings/python/tests/test_entity.py
Due: pylint-tests

Updated tests
  bindings/python/tests/test_entity.py
Due: pylint-tests

Reverted back to check for _headersize since it is always be larger than zero.
  src/dlite-schemas.c
Due: none

Added test_collection_load.py to tests and reverted back to check for _headersize in dlite-schemas.c
  bindings/python/tests/CMakeLists.txt
  src/dlite-schemas.c
Due: none

Improved documentation. Changed convert_instance() to raise DLiteTypeError if we cannot downcast to the expected type.
  bindings/python/dlite-python.i
  bindings/python/tests/test_entity.py
Due: pylint-tests

Renamed convert_instance() to instance_cast().
  bindings/python/dlite-entity-python.i
  bindings/python/dlite-python.i
  bindings/python/dlite-storage-python.i
  bindings/python/tests/test_entity.py
Due: pylint-tests

Added missing test file.
  bindings/python/tests/test_collection_load.py
Due: pylint-tests

Commented out a tricky test that needs more attention
  bindings/python/tests/test_collection_load.py
Due: pylint-tests

Ensure that the format string of snprintf() is literal (removes a warning)
  src/dlite-entity.c
Due: none

Skip test image plugin if skimage is not installed
  storages/python/tests-python/test_image.py
Due: pylint-tests

Added datatype to relations
  bindings/python/dlite-entity-python.i
  bindings/python/dlite-entity.i
  bindings/python/dlite-python.i
  bindings/python/tests/CMakeLists.txt
  bindings/python/tests/test_relation.py
  src/tests/test_entity.c
  src/tests/test_triplestore.c
  src/triple.c
  src/triple.h
Due: pylint-tests

Fixing error return codes
  bindings/python/dlite-entity.i
Due: none

Corrected initialisation of relation from dict
  bindings/python/dlite-python.i
  bindings/python/tests/CMakeLists.txt
  src/tests/test_property.c
Due: none

Added datatype to triplestore_add()
  src/triplestore-builtin.c
Due: none

Initialised datatype
  src/triplestore-builtin.c
Due: none

Correctly assign triple from rdflib
  .github/workflows/ci_tests.yml
  src/triplestore-redland.c
Due: none

Added datatype to triplestore and collection methods
  bindings/python/dlite-collection-python.i
  bindings/python/dlite-collection.i
  bindings/python/dlite-entity-python.i
  bindings/python/dlite-entity.i
  bindings/python/dlite-python.i
  src/dlite-collection.c
  src/dlite-collection.h
  src/tests/test_collection.c
  src/tests/test_json.c
  src/tests/test_triplestore.c
  src/tests/test_type.c
  src/triple.c
  src/triple.h
  src/triplestore-builtin.c
  src/triplestore-redland.c
  src/triplestore.h
  storages/rdf/dlite-rdf.c
Due: none
