Repository SINTEF/dlite: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, pylint-tests

pylint:
  name: pylint
  entry: pylint
  args:
  - --rcfile=.pylintrc
  language: python
  require_serial: true

pylint-tests:
  name: pylint - tests
  entry: pylint
  args:
  - --rcfile=.pylintrc
  - --disable=import-outside-toplevel,redefined-outer-name
  language: python
  require_serial: true

fixes type. test runs now
  bindings/python/tests/test_python_storage.py
Due: pylint-tests

fixed assertion method in test_json. i guess because some shape were reverted to dims, the previous fix had to be reverted as well
  src/tests/test_json.c
Due: none

same as previous. revert assertion test to original in test_yaml_storage
  storages/python/tests-c/test_yaml_storage.c
Due: none

same assertion reverted in test_bson_storage
  storages/python/tests-c/test_bson_storage.c
Due: none

revert shape to dims
  storages/python/tests-python/input/postgresql_test_data_save.txt
  storages/python/tests-python/input/postgresql_test_meta_save.txt
Due: none

shape reverted to dims
  storages/python/tests-c/test_postgresql_storage.c
Due: none

revert shapes back to dims
  storages/python/tests-python/input/test_meta.yaml
Due: none

remove test.ipynb
  test.ipynb
Due: none

trying whether removing the tz fixes the problem in remote
  bindings/python/tests/test_pydantic.py
Due: pylint-tests

debugging in remote, for sure there are better ways
  bindings/python/tests/test_pydantic.py
Due: pylint-tests

more debugging
  bindings/python/tests/test_pydantic.py
Due: pylint-tests

rewritten assertion so that the format also works with old python versions
  bindings/python/tests/test_pydantic.py
Due: pylint-tests

removing test files
  rebuild.sh
Due: none

revert back to dims
  tools/tests/test_ext_header.c
Due: none

revert to dims in test_codegen.c
  tools/tests/test_codegen.c
Due: none

removing more test files
  failed_tests.txt
Due: none

Update bindings/python/tests/test_datamodel.py
  bindings/python/tests/test_datamodel.py
Due: pylint-tests

back to dims as instructed in comments of previous review
  LICENSE
  bindings/fortran/dlite.f90
  bindings/python/datamodel.py
  tools/templates/fortran-module.txt
Due: pylint

fixed dims2->shape2 in :733
  bindings/fortran/dlite.f90
Due: none

fixed dims2->shape2 in :737
  bindings/fortran/dlite.f90
Due: none

reverted to dims in indicated lines
  storages/rdf/dlite-rdf.c
Due: none

reverted to dims in postgresql_storage_python
  storages/python/tests-python/test_postgresql_storage_python.py
Due: pylint-tests

change reverted
  storages/python/tests-python/test_http.py
Due: pylint-tests

dims reverted
  storages/python/tests-python/input/test_meta.pgsql
Due: none

added fixes so that test runs with reverted to dims
  storages/python/tests-python/test_postgresql_storage_python.py
Due: pylint-tests

minor fix to revert to dims
  storages/python/tests-python/input/test_data.pgsql
  storages/python/tests-python/test_postgresql_storage_python.py
Due: pylint-tests

revert to dims
  storages/python/python-storage-plugins/postgresql.py
Due: pylint

changes reverted
  bindings/python/numpy.i
Due: none

suggested changed applied
  storages/json/dlite-json-storage.c
Due: none

reverted to dims where indicated
  src/tests/test_entity.c
Due: none

reverted to dims in test_json_entity. reverted file mode in dlite-validate
  bindings/python/scripts/dlite-validate
  src/tests/test_json_entity.c
Due: none

reverted in test_entity
  src/tests/test_entity.c
Due: none

reverted to dims
  src/tests/test_metamodel.c
Due: none

reverted dims and removed extra lines
  bindings/python/tests/test_entity.py
  bindings/python/tests/test_mapping.py
  bindings/python/tests/test_utils.py
Due: pylint-tests

reverted back to dims. cannot test calculate_reaction and molecular_energies because I donot have atomscaledata.json
  examples/dehydrogenation/1-simple-workflow/calculate_reaction.py
  examples/dehydrogenation/1-simple-workflow/molecular_energies.py
  examples/dehydrogenation/2-instance-mappings/reaction_energy.py
Due: pylint

reverted to dims
  examples/ex1/main.c
  examples/ex2/main.c
  examples/ex3/main.c
Due: none

dims reverted
  examples/ex5d/example5d.c
Due: none

reverted to dims
  src/dlite-bson.c
  src/dlite-entity.h
Due: none

same
  src/dlite-collection.c
Due: none

revert ot dims in mapA. reverted file permissions
  .devcontainer/devcontainer.json
  bindings/fortran/dlite_config.f90.in
  bindings/fortran/tests/inputs.json
  cmake/.gitattributes
  src/tests/mappings/mapA.c
Due: none

Path conditions:
  pylint: any of: \.py$, but not: tests?(?:[^/]+)*/.*$
  pylint-tests: any of: tests?(?:[^/]+)*/.*$ and \.py$
