Repository SINTEF/dlite: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, pylint-tests

pylint:
  name: pylint
  entry: pylint
  args:
  - --rcfile=.pylintrc
  language: python
  require_serial: true

pylint-tests:
  name: pylint - tests
  entry: pylint
  args:
  - --rcfile=.pylintrc
  - --disable=import-outside-toplevel,redefined-outer-name
  language: python
  require_serial: true

Fix the import of quantity module (get_quantity_helper)
  bindings/python/dlite-entity-python.i
  bindings/python/dlite-misc-python.i
Due: none

Add quantity.py in the CMakeLists
  bindings/python/CMakeLists.txt
Due: none

Modify unit tests on quantity module
  bindings/python/tests/test_entity.py
  bindings/python/tests/test_quantity.py
Due: pylint-tests

Modify the mongodb storage
  bindings/python/options.py
  storages/python/python-storage-plugins/mongodb.py
  storages/python/tests-python/test_mongodb_python.py
Due: pylint, pylint-tests

updated templates
  tools/templates/c-header.txt
  tools/templates/c-meta-header.txt
  tools/templates/c-source.txt
  tools/templates/fortran-module.txt
Due: none

hard coded branch name so that test-http passes, to be reverted back to master once dims2shape finished
  storages/python/tests-python/test_http.py
Due: pylint-tests

Add a section in the tutorial on how to work with physical quantities.
  bindings/python/quantity.py
  doc/getting_started/tutorial.md
Due: pylint

Update datamodel.svg
  doc/_static/datamodel.svg
Due: none

Removed merge diff from dlite-entity-python.i
  bindings/python/dlite-entity-python.i
Due: none

test_json fixed
  src/tests/test_json.c
Due: none

Corrected call to _dlite.Instance()
  bindings/python/dlite-entity-python.i
  bindings/python/dlite-entity.i
  src/tests/test_json.c
Due: none

Cleanup
  bindings/python/dlite-python.i
Due: none

Reverted some changes back to master
  bindings/python/utils.py
  src/dlite-json.c
Due: pylint

Reverted some changes to shape
  bindings/python/utils.py
  src/dlite-entity.c
  src/dlite-entity.h
Due: pylint

Reverted some incorrect changes
  bindings/python/dlite-entity-python.i
  bindings/python/dlite-entity.i
  bindings/python/dlite-python.i
  bindings/python/factory.py
  bindings/python/utils.py
  src/dlite-type.c
Due: pylint

Update doc requirements
  .github/workflows/cd_docs.yml
  .github/workflows/cd_release.yml
  doc/Doxyfile.in
  doc/conf.py.in
  requirements_doc.txt
Due: none

Support printing version number of old version of Graphviz dot
  .github/workflows/cd_docs.yml
Due: none

Updated doc dependencies
  doc/conf.py.in
  doc/user_guide/storage_plugins_mongodb-atlas.md
  requirements_doc.txt
Due: none

Revert to little older version of sphinx
  doc/conf.py.in
  requirements_doc.txt
Due: none

Clean up requirements_doc.txt
  requirements_doc.txt
Due: none

Fixed typo
  requirements_doc.txt
Due: none

Update README.md
  README.md
Due: none

Moved test for pint to top of test_quantity.py
  bindings/python/tests/test_quantity.py
Due: pylint-tests

Updated testing expected exceptions
  bindings/python/tests/test_entity.py
Due: pylint-tests

Modify the documentation on mongodb storage.
  doc/user_guide/storage_plugins_mongodb-atlas.md
  doc/user_guide/storage_plugins_mongodb.md
Due: none

Modify user_guide index
  doc/user_guide/index.rst
Due: none

Minor changes in the QuantityHelper
  README.md
  bindings/python/dlite-entity-python.i
  bindings/python/quantity.py
  doc/getting_started/tutorial.md
Due: pylint

Revert version of github upload-artefact action from v4 back to v3, which used to work
  .github/workflows/cd_release.yml
Due: none

Revert version of github upload-artefact action from v4 back to v3, which used to work (#776)
  .github/workflows/cd_release.yml
Due: none

Also release binary package for python 3.12
  .github/workflows/cd_release.yml
Due: none

Testing out if we can add more releases for musllinux and manylinux2014
  .github/workflows/ci_build_wheels.yml
Due: none

more testing...
  .github/workflows/ci_build_wheels.yml
Due: none

More tests with musllinux
  .github/workflows/ci_build_wheels.yml
Due: none

More tests for musllinux
  .github/workflows/ci_build_wheels.yml
Due: none

Added table with binary releases to the installation instructions.
  .github/workflows/cd_release.yml
  .github/workflows/ci_build_wheels.yml
  doc/getting_started/installation.md
Due: none

Trying to test out musllinux_1_2
  .github/docker/Dockerfile-musllinux.template
  .github/workflows/ci_build_wheels.yml
Due: none

Fixed typo
  .github/workflows/ci_build_wheels.yml
Due: none

Testing musllinux_1_2 in weekly container build
  .github/workflows/ci_build_wheels.yml
  .github/workflows/container_builds_weekly.yml
Due: none

Commented out musllinux_1_2 for now, since it depends on weekly container build
  .github/workflows/ci_build_wheels.yml
  .github/workflows/container_builds_weekly.yml
Due: none

Build docker container for musllinux_1_2.
  .github/docker/Dockerfile-musllinux.template
Due: none

Path conditions:
  pylint: any of: \.py$, but not: tests?(?:[^/]+)*/.*$
  pylint-tests: any of: tests?(?:[^/]+)*/.*$ and \.py$
