Repository SINTEF/dlite: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, pylint-tests

.pre-commit-config.yaml:

# To install the git pre-commit hook run:
#   pre-commit install
# To update the pre-commit hooks run:
#   pre-commit autoupdate
repos:
  # pre-commit-hooks supplies a multitude of small hooks
  # To get an overview of them all as well as the ones used here, please see
  # https://github.com/pre-commit/pre-commit-hooks#hooks-available
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
    - id: end-of-file-fixer
    - id: debug-statements
    - id: check-json
      name: Check JSON
    - id: check-yaml
      name: Check YAML
    - id: trailing-whitespace
      args: [--markdown-linebreak-ext=md]

  # isort is a tool to sort and group import statements in Python files
  # It works on files in-place
  - repo: https://github.com/timothycrosley/isort
    rev: 5.11.5
    hooks:
    - id: isort
      args: ["--profile", "black", "--filter-files", "--skip-gitignore"]

  # Black is a code style and formatter
  # It works on files in-place
  - repo: https://github.com/ambv/black
    rev: 23.3.0
    hooks:
    - id: black

  # Bandit is a security linter
  # More information can be found in its documentation:
  # https://bandit.readthedocs.io/en/latest/
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.5
    hooks:
    - id: bandit
      args: ["-r"]
      exclude: tests?(?:[^/]+)*/.*$

  # mypy is a static typing linter
  # The main code repository can be found at:
  # https://github.com/python/mypy
  # The project's documentation can be found at:
  # https://mypy.readthedocs.io/en/stable/index.html
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.4.1
    hooks:
    - id: mypy

  - repo: local
    hooks:
    # pylint is a Python linter
    # It is run through the local environment to ensure external packages can be
    # imported without issue.
    # For more information about pylint see its documentation at:
    # https://pylint.pycqa.org/en/latest/
    - id: pylint
      name: pylint
      entry: pylint
      args: ["--rcfile=.pylintrc"]
      language: python
      types: [python]
      require_serial: true
      exclude: tests?(?:[^/]+)*/.*$
    # pylint is a Python linter
    # It is run through the local environment to ensure external packages can be
    # imported without issue.
    # For more information about pylint see its documentation at:
    # https://pylint.pycqa.org/en/latest/
    - id: pylint-tests
      name: pylint - tests
      entry: pylint
      args:
      - "--rcfile=.pylintrc"
      - "--disable=import-outside-toplevel,redefined-outer-name"
      language: python
      types: [python]
      require_serial: true
      files: tests?(?:[^/]+)*/.*$

Improved error-catching when instantiating dlite
  bindings/python/dlite-entity-python.i
  bindings/python/dlite-misc.i
  bindings/python/dlite.i
  bindings/python/tests/test_entity.py
  bindings/python/tests/test_python_bindings.py
  bindings/python/tests/test_storage.py
  bindings/python/tests/test_storage_plugins.py
  bindings/python/tests/test_transaction.py
  doc/user_guide/exceptions.md
  doc/user_guide/index.rst
Due: pylint-tests

Ensure that only metadata is callable
  bindings/python/dlite-entity-python.i
Due: none

Removed unused wrapper for instance initiation
  bindings/python/dlite-entity.i
  requirements_dev.txt
Due: none

Added test
  bindings/python/tests/test_entity.py
Due: pylint-tests

Removed unnessesary import of pytest
  bindings/python/tests/test_transaction.py
Due: pylint-tests

Removed unused wrapper function
  bindings/python/dlite-python.i
  doc/user_guide/exceptions.md
Due: none

Apply suggestions from code review
  doc/getting_started/build/runtime_dependencies.md
  requirements_mappings.txt
Due: none

Fix inferring dimensionality of ref-type array properties
  bindings/python/utils.py
Due: pylint

Updated the fix to work for n dimensions
  bindings/python/utils.py
Due: pylint

Fix typo
  bindings/python/utils.py
Due: pylint

Generalised the like() help-function, such that it also handles nested pydantic models correctly.
  bindings/python/utils.py
Due: pylint

Improved comment
  bindings/python/utils.py
Due: pylint

Remove debugging print statement
  bindings/python/utils.py
Due: pylint

Cleaned up mappings - allow specifying metadata with a Tripper namespace object - remove old unused code at the bottom of mappings.py
  bindings/python/mappings.py
Due: pylint

Updated documentation of error messages.
  doc/user_guide/exceptions.md
Due: none

work in progress...
  src/dlite-misc.c
  src/dlite-storage.c
  storages/json/dlite-json-storage.c
Due: none

Created a shared global state, replacing the use of empty states as markers.
  bindings/python/dlite-misc-python.i
  bindings/python/dlite-misc.i
  src/dlite-misc.c
  src/dlite-misc.h
  src/dlite-storage.c
Due: none

Removed invalid Py_DECREF on created exception.
  CMakeLists.txt
  bindings/python/tests/test_pydantic.py
  cmake/valgrind-python.supp
  doc/contributors_guide/tips_and_tricks.md
  src/pyembed/dlite-python-singletons.c
  src/pyembed/dlite-python-singletons.h
Due: pylint-tests

Trying to comment out atexit() in err.c
  cmake/valgrind-python.supp
  src/utils/err.c
Due: none

Got rid on some minor memory leaks
  .github/workflows/cd_release.yml
  bindings/python/tests/test_property_mappings.py
  src/dlite-storage-plugins.c
  src/utils/err.c
  storages/python/python-storage-plugins/mongodb.py
  storages/python/tests-c/test_bson_storage.c
  storages/python/tests-python/test_mongodb_python.py
Due: pylint, pylint-tests

Build dlite docker containers for python 3.12
  .github/docker/Dockerfile-manylinux.template
  .github/docker/Dockerfile-musllinux.template
Due: none

Run workflows for python 3.11
  .github/workflows/ci_build_wheels.yml
Due: none

Made copy return the correct type.
  bindings/python/dlite-entity-python.i
  bindings/python/dlite-entity.i
Due: none

Added tests
  bindings/python/tests/test_collection.py
  bindings/python/tests/test_entity.py
Due: pylint-tests

Updated workflows
  .github/workflows/cd_release.yml
  .github/workflows/ci_build_wheels.yml
Due: none

Do not expect Python higher than 3.9 for i686
  .github/workflows/ci_build_wheels.yml
Due: none

Don't increase python version for 32 bit and manylinux2010
  .github/workflows/ci_build_wheels.yml
Due: none

Splitted the docker images up into several RUN statements, making them much easier to test and debug
  .github/docker/Dockerfile-manylinux.template
  .github/docker/Dockerfile-musllinux.template
Due: none

Added more dependency checks for running TEM demo as a test
  examples/TEM_data/main.py
Due: pylint

Added extra requirements for TEM demo to requirements_full.txt
  requirements_full.txt
Due: none

Removed dependency of oldest-supported-numpy from requirements_dev.txt since numpy is already included in requirements.txt
  requirements_dev.txt
Due: none

Try to install rust and cargo on musllinux
  .github/docker/Dockerfile-musllinux.template
Due: none

Make sure that Collection.get() returns the expected Instance subclass
  bindings/python/dlite-collection-python.i
  bindings/python/tests/test_collection.py
Due: pylint-tests

Update doc/user_guide/vocabulary.md
  doc/user_guide/vocabulary.md
Due: none

Update .github/docker/Dockerfile-manylinux.template
  .github/docker/Dockerfile-manylinux.template
Due: none

Removed instlalation of postgresql91-devel
  .github/docker/Dockerfile-manylinux.template
Due: none

Added tests for inferring dimensions of ref-types
  bindings/python/tests/input/Item.json
  bindings/python/tests/input/Ref.json
  bindings/python/tests/test_utils.py
Due: pylint-tests

Cleaned up
  bindings/python/tests/input/Ref.json
  bindings/python/tests/test_utils.py
Due: pylint-tests

Added test utilities
  bindings/python/CMakeLists.txt
  bindings/python/dlite-collection-python.i
  bindings/python/dlite-entity-python.i
  bindings/python/dlite-misc-python.i
  bindings/python/dlite-python.i
  bindings/python/tests/input/Invalid1.json
  bindings/python/tests/input/Invalid2.json
  bindings/python/tests/test_entity.py
  bindings/python/tests/test_utils.py
  bindings/python/testutils.py
Due: pylint, pylint-tests

Removed all requirements on pytest
  bindings/python/tests/test_storage.py
  requirements_dev.txt
Due: pylint-tests
