Repository SINTEF/dlite: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, pylint-tests

.pre-commit-config.yaml:

# To install the git pre-commit hook run:
#   pre-commit install
# To update the pre-commit hooks run:
#   pre-commit autoupdate
repos:
  # pre-commit-hooks supplies a multitude of small hooks
  # To get an overview of them all as well as the ones used here, please see
  # https://github.com/pre-commit/pre-commit-hooks#hooks-available
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
    - id: end-of-file-fixer
    - id: debug-statements
    - id: check-json
      name: Check JSON
    - id: check-yaml
      name: Check YAML
    - id: trailing-whitespace
      args: [--markdown-linebreak-ext=md]

  # isort is a tool to sort and group import statements in Python files
  # It works on files in-place
  - repo: https://github.com/timothycrosley/isort
    rev: 5.11.5
    hooks:
    - id: isort
      args: ["--profile", "black", "--filter-files", "--skip-gitignore"]

  # Black is a code style and formatter
  # It works on files in-place
  - repo: https://github.com/ambv/black
    rev: 23.3.0
    hooks:
    - id: black

  # Bandit is a security linter
  # More information can be found in its documentation:
  # https://bandit.readthedocs.io/en/latest/
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.5
    hooks:
    - id: bandit
      args: ["-r"]
      exclude: tests?(?:[^/]+)*/.*$

  # mypy is a static typing linter
  # The main code repository can be found at:
  # https://github.com/python/mypy
  # The project's documentation can be found at:
  # https://mypy.readthedocs.io/en/stable/index.html
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.4.1
    hooks:
    - id: mypy

  - repo: local
    hooks:
    # pylint is a Python linter
    # It is run through the local environment to ensure external packages can be
    # imported without issue.
    # For more information about pylint see its documentation at:
    # https://pylint.pycqa.org/en/latest/
    - id: pylint
      name: pylint
      entry: pylint
      args: ["--rcfile=.pylintrc"]
      language: python
      types: [python]
      require_serial: true
      exclude: tests?(?:[^/]+)*/.*$
    # pylint is a Python linter
    # It is run through the local environment to ensure external packages can be
    # imported without issue.
    # For more information about pylint see its documentation at:
    # https://pylint.pycqa.org/en/latest/
    - id: pylint-tests
      name: pylint - tests
      entry: pylint
      args:
      - "--rcfile=.pylintrc"
      - "--disable=import-outside-toplevel,redefined-outer-name"
      language: python
      types: [python]
      require_serial: true
      files: tests?(?:[^/]+)*/.*$

Update doc/user_guide/datamodels.md
  doc/user_guide/datamodels.md
Due: none

Parse ref-type in yaml files
  bindings/python/tests/input/test_ref_type_middle.yaml
  bindings/python/tests/test_ref_type.py
  bindings/python/utils.py
Due: pylint, pylint-tests

Update doc/user_guide/storage_plugins.md
  doc/user_guide/storage_plugins.md
Due: none

Update bindings/python/tests/test_ref_type.py
  bindings/python/tests/test_ref_type.py
Due: pylint-tests

Only test ref-type for yaml if yaml is installed
  bindings/python/tests/test_ref_type.py
Due: pylint-tests

Update the postgresql test after other small changes in paths and API
  storages/python/python-storage-plugins/postgresql.py
  storages/python/tests-c/test_postgresql_storage.c
  storages/python/tests-c/test_postgresql_storage2.c
Due: pylint

Cleaned up iteration over instances in a JSON file.
  bindings/python/dlite-entity-python.i
  bindings/python/scripts/dlite-validate
  bindings/python/tests/test_entity.py
  bindings/python/tests/test_storage.py
  src/dlite-json.c
  src/utils/jsmn.h
  src/utils/jsmnx.c
  src/utils/jsmnx.h
Due: pylint-tests

Validate multiple instances
  bindings/python/scripts/dlite-validate
Due: none

Make dlite-validate work for storages that don't implement query()
  bindings/python/scripts/dlite-validate
Due: none

Added test
  bindings/python/scripts/CMakeLists.txt
Due: none

Do not overwrite existing yaml files by default.
  bindings/python/tests/test_storage.py
  storages/python/python-storage-plugins/yaml.py
Due: pylint, pylint-tests

Do not write warnings about behavior change
  bindings/python/scripts/dlite-validate
Due: none

Changed "behavior" to "behavior change" in warning message
  src/dlite-behavior.c
Due: none

Initialize environment from Python global variables
  src/pyembed/dlite-pyembed.c
  src/pyembed/dlite-pyembed.h
Due: none

Made message to screen easier readable.
  src/dlite-behavior.c
Due: none

Workaround for missing setenv() on Windows
  bindings/python/scripts/dlite-validate
  src/pyembed/dlite-pyembed.c
  src/utils/CMakeLists.txt
  src/utils/compat.c
  src/utils/compat.h
  src/utils/config.h.in
Due: none

Initialise DLite search paths from entry points
  bindings/python/dlite-path-python.i
Due: none

Documented dlite search paths and how to extend them with entry points
  bindings/python/dlite-path-python.i
  bindings/python/dlite-path.i
  doc/user_guide/index.rst
  doc/user_guide/search_paths.md
  doc/user_guide/storage_plugins.md
  src/dlite-codegen.h
Due: none

Create Python reference documentation
  bindings/python/dlite-collection-python.i
  bindings/python/dlite-entity-python.i
  bindings/python/dlite-misc-python.i
  bindings/python/triplestore/README.md
  bindings/python/triplestore/__init__.py
  bindings/python/triplestore/test_units.py
  bindings/python/triplestore/units.py
  bindings/python/triplestore/units_README.md
  doc/CMakeLists.txt
  doc/Doxyfile.in
  doc/conf.py.in
  doc/getting_started/build/patch_activate.md
  requirements_doc.txt
  src/getuuid.h
Due: pylint

Updated path to Python API reference documentation
  doc/index.rst
  requirements_doc.txt
Due: none

Correct link to Python reference API
  doc/api.rst
Due: none

Corrected index.rst files
  doc/api.rst
  doc/index.rst
Due: none

Fix `dlite.Instance.from_dict()` to correctly parse ref-type properties (#983)
  bindings/python/tests/input/test_ref_type_middle.yaml
  bindings/python/tests/test_ref_type.py
  bindings/python/utils.py
Due: pylint, pylint-tests

Update PostgreSQL test (#984)
  storages/python/python-storage-plugins/postgresql.py
  storages/python/tests-c/test_postgresql_storage.c
  storages/python/tests-c/test_postgresql_storage2.c
Due: pylint

Update according to review
  doc/user_guide/datamodels.md
  doc/user_guide/tools.md
Due: none

removed superfluous lines
  doc/user_guide/datamodels.md
Due: none

Missing backticks.
  doc/user_guide/storage_plugins.md
Due: none

Added a section about how to generate documentation
  bindings/python/dlite-collection-python.i
  bindings/python/quantity.py
  doc/contributors_guide/documentation_contributors.md
Due: pylint

Apply suggestions from code review
  doc/contributors_guide/documentation_contributors.md
Due: none

Fix a lot of warnings from doxygen and sphinx
  bindings/python/python-protocol-plugins/file.py
  bindings/python/python-protocol-plugins/sftp.py
  doc/CMakeLists.txt
  doc/Doxyfile.in
  doc/_static/datamodel.png
  doc/_static/storage-protocol.png
  doc/getting_started/about.md
  doc/getting_started/build/build.md
  doc/user_guide/protocol_plugins.md
  src/pyembed/dlite-python-storage.h
  src/utils/CMakeLists.txt
  src/utils/LICENSES.txt
  src/utils/README.md
  src/utils/compat.h
  src/utils/compat/config_snprintf.h.in
  src/utils/compat/dirent.h
  src/utils/compat/getopt.c
  src/utils/compat/getopt.h
  src/utils/compat/realpath.c
  src/utils/compat/snprintf.c
  src/utils/config.h.in
  src/utils/fileutils.h
  storages/python/python-storage-plugins/http.py
  storages/python/python-storage-plugins/image.py
  storages/python/python-storage-plugins/mongodb.py
  storages/python/python-storage-plugins/postgresql.py
  storages/python/python-storage-plugins/pyrdf.py
  storages/python/python-storage-plugins/template.py
  tools/dlite-codegen.c
  tools/dlite-env.c
  tools/dlite-getuuid.c
Due: pylint

More documentation cleanup
  doc/conf.py.in
  doc/getting_started/build/build.md
  doc/getting_started/tutorial.md
  doc/user_guide/datamodels.md
  doc/user_guide/storage_plugins.md
Due: none

Python documentation (#991)
  bindings/python/dlite-collection-python.i
  bindings/python/dlite-entity-python.i
  bindings/python/dlite-misc-python.i
  bindings/python/quantity.py
  bindings/python/triplestore/README.md
  bindings/python/triplestore/__init__.py
  bindings/python/triplestore/test_units.py
  bindings/python/triplestore/units.py
  bindings/python/triplestore/units_README.md
  doc/CMakeLists.txt
  doc/Doxyfile.in
  doc/api.rst
  doc/conf.py.in
  doc/contributors_guide/documentation_contributors.md
  doc/getting_started/build/patch_activate.md
  doc/index.rst
  requirements_doc.txt
  src/getuuid.h
Due: pylint

Readding compat/, now named compat-src/
  src/utils/compat-src/config_snprintf.h.in
  src/utils/compat-src/dirent.h
  src/utils/compat-src/getopt.c
  src/utils/compat-src/getopt.h
  src/utils/compat-src/realpath.c
  src/utils/compat-src/snprintf.c
Due: none

Improved documentation of dlite.Instance
  bindings/python/dlite-entity-python.i
  bindings/python/dlite-entity.i
Due: none
