Repository SINTEF/dlite: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, pylint-tests

.pre-commit-config.yaml:

# To install the git pre-commit hook run:
#   pre-commit install
# To update the pre-commit hooks run:
#   pre-commit autoupdate
repos:
  # pre-commit-hooks supplies a multitude of small hooks
  # To get an overview of them all as well as the ones used here, please see
  # https://github.com/pre-commit/pre-commit-hooks#hooks-available
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
    - id: end-of-file-fixer
    - id: debug-statements
    - id: check-json
      name: Check JSON
    - id: check-yaml
      name: Check YAML
    - id: trailing-whitespace
      args: [--markdown-linebreak-ext=md]

  # isort is a tool to sort and group import statements in Python files
  # It works on files in-place
  - repo: https://github.com/timothycrosley/isort
    rev: 5.11.5
    hooks:
    - id: isort
      args: ["--profile", "black", "--filter-files", "--skip-gitignore"]

  # Black is a code style and formatter
  # It works on files in-place
  - repo: https://github.com/ambv/black
    rev: 23.3.0
    hooks:
    - id: black

  # Bandit is a security linter
  # More information can be found in its documentation:
  # https://bandit.readthedocs.io/en/latest/
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.5
    hooks:
    - id: bandit
      args: ["-r"]
      exclude: tests?(?:[^/]+)*/.*$

  # mypy is a static typing linter
  # The main code repository can be found at:
  # https://github.com/python/mypy
  # The project's documentation can be found at:
  # https://mypy.readthedocs.io/en/stable/index.html
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.4.1
    hooks:
    - id: mypy

  - repo: local
    hooks:
    # pylint is a Python linter
    # It is run through the local environment to ensure external packages can be
    # imported without issue.
    # For more information about pylint see its documentation at:
    # https://pylint.pycqa.org/en/latest/
    - id: pylint
      name: pylint
      entry: pylint
      args: ["--rcfile=.pylintrc"]
      language: python
      types: [python]
      require_serial: true
      exclude: tests?(?:[^/]+)*/.*$
    # pylint is a Python linter
    # It is run through the local environment to ensure external packages can be
    # imported without issue.
    # For more information about pylint see its documentation at:
    # https://pylint.pycqa.org/en/latest/
    - id: pylint-tests
      name: pylint - tests
      entry: pylint
      args:
      - "--rcfile=.pylintrc"
      - "--disable=import-outside-toplevel,redefined-outer-name"
      language: python
      types: [python]
      require_serial: true
      files: tests?(?:[^/]+)*/.*$

Updated the Dockerfile templates for the weekly build of containers.
  .github/docker/Dockerfile-manylinux.template
  .github/docker/Dockerfile-manylinux_x_y.template
  .github/docker/Dockerfile-musllinux.template
  .github/docker/run_cibuildwheel.sh
  requirements_full.txt
Due: none

Cleaned up errors and made them more maintainable. (#929)
  bindings/python/dlite-collection-python.i
  bindings/python/dlite-entity-python.i
  bindings/python/dlite-misc-python.i
  bindings/python/dlite-python.i
  bindings/python/tests/test_collection.py
  src/dlite-errors.c
  src/dlite-errors.h
  src/dlite-misc.c
  src/pyembed/dlite-pyembed.c
  src/pyembed/dlite-python-singletons.c
  src/tests/test_collection.c
  src/tests/test_triplestore.c
  src/triplestore.c
  storages/rdf/dlite-rdf.c
Due: pylint-tests

Removed global variable python_initialized
  src/pyembed/dlite-pyembed.c
  src/tests/python/test_pyembed.c
Due: none

Make sure that we use bash in gen_dockerfile.sh
  .github/docker/gen_dockerfile.sh
Due: none

Added PYTHON_VERSION to cmake definitions
  python/pyproject.toml
Due: none

Readded call to Py_Initialize() that fell out during merge...
  doc/contributors_guide/code_changes.md
  src/pyembed/dlite-pyembed.c
Due: none

Call gen_dockerfile.sh with bash instead of sh
  .github/workflows/container_builds_weekly.yml
Due: none

Update the documentation
  doc/user_guide/concepts.md
Due: none

Fixed the logics. Do not print errors from C to stderr unless DLITE_PYDEBUG= is defined.
  src/dlite-misc.c
Due: none

Shortened warning about behavior change and added new documentation page.
  doc/user_guide/configure_behavior_changes.md
  doc/user_guide/index.rst
  src/dlite-behavior.c
Due: none

Added missing end brace.
  src/dlite-behavior.c
Due: none

Fixed the logics. Do not print errors from C to stderr unless DLITE_PYDEBUG= is defined. (#933)
  src/dlite-misc.c
Due: none

Update doc/user_guide/environment_variables.md
  doc/user_guide/environment_variables.md
Due: none

Updated documentation based on feedback from reviewer.
  doc/user_guide/concepts.md
Due: none

Avoid creating a new internal interpreter if DLite is called from Python (#907)
  .github/workflows/ci_tests.yml
  doc/contributors_guide/code_changes.md
  doc/user_guide/configure_behavior_changes.md
  doc/user_guide/environment_variables.md
  doc/user_guide/index.rst
  src/dlite-behavior.c
  src/pyembed/dlite-pyembed.c
  src/tests/python/test_pyembed.c
Due: none

Updated the Dockerfile templates for the weekly build of containers (#930)
  .github/docker/Dockerfile-manylinux.template
  .github/docker/Dockerfile-manylinux_x_y.template
  .github/docker/Dockerfile-musllinux.template
  .github/docker/gen_dockerfile.sh
  .github/docker/run_cibuildwheel.sh
  .github/workflows/container_builds_weekly.yml
  requirements_full.txt
Due: none

Update the documentation (#932)
  doc/user_guide/concepts.md
Due: none

Require rdflib for test_dataset*.py
  bindings/python/tests/test_dataset1_save.py
  bindings/python/tests/test_dataset2_load.py
Due: pylint-tests

Updated installation of Python packages - include utility programs like dlite-getuuid - include storages - include README.md and LICENSE
  CMakeLists.txt
  bindings/python/CMakeLists.txt
  cmake/CopyDirectory.cmake
  python/.gitignore
  python/DLite-Python/.gitignore
  python/DLite-Python/__init__.py
  python/MANIFEST.in
  python/setup.py
Due: pylint

Reverted doc requirements
  requirements_doc.txt
Due: none

Require rdflib for test_dataset*.py (#936)
  bindings/python/tests/test_dataset1_save.py
  bindings/python/tests/test_dataset2_load.py
Due: pylint-tests

Do bit shifting with 64 bit precision
  src/utils/rng.c
Due: none

Generalised cmake statements by using generator expression
  bindings/python/CMakeLists.txt
Due: none

Added functions uri_encode() and uri_decode()
  src/utils/CMakeLists.txt
  src/utils/LICENSES.txt
  src/utils/tests/CMakeLists.txt
  src/utils/tests/test_uri_encode.c
  src/utils/uri_encode.c
  src/utils/uri_encode.h
Due: none

Added functions uri_encode() and uri_decode() (#941)
  src/utils/CMakeLists.txt
  src/utils/LICENSES.txt
  src/utils/tests/CMakeLists.txt
  src/utils/tests/test_uri_encode.c
  src/utils/uri_encode.c
  src/utils/uri_encode.h
Due: none

Added two more tests
  src/utils/tests/test_uri_encode.c
Due: none

Added two more tests (#942)
  src/utils/tests/test_uri_encode.c
Due: none

Made urlencode accessible from Python
  bindings/python/dlite-misc.i
  bindings/python/dlite-python.i
  bindings/python/tests/test_misc.py
  src/dlite-misc.c
  src/dlite-misc.h
  src/tests/test_misc.c
  storages/hdf5/dh5lite.c
  storages/json/dlite-json-storage.c
  storages/rdf/dlite-rdf.c
Due: pylint-tests

Windows doesn't cope with automatic allocated variables
  src/dlite-misc.c
Due: none

Try to force utf-8 encoding on Windows
  bindings/python/tests/test_misc.py
Due: pylint-tests

Ignore test of non-ascii characters on windows
  bindings/python/tests/test_misc.py
Due: pylint-tests

Improve testing of uriencode()/uridecode()
  bindings/python/tests/test_misc.py
Due: pylint-tests

Fixed some issues the Options class
  bindings/python/options.py
  bindings/python/tests/test_misc.py
Due: pylint, pylint-tests

Initial work on creating isolated scopes for Python plugins
  bindings/python/tests/python-mapping-plugins/plugin1.py
  src/pyembed/dlite-pyembed-utils.c
  src/pyembed/dlite-pyembed-utils.h
  src/pyembed/dlite-pyembed.c
  src/pyembed/dlite-pyembed.h
  src/pyembed/dlite-python-singletons.c
  src/pyembed/dlite-python-singletons.h
  src/tests/python/test_pyembed.c
  storages/python/tests-python/test_image.py
Due: pylint-tests

Fixed clear separation of scopes for plugins
  bindings/python/tests/python-mapping-plugins/plugin1.py
  src/pyembed/dlite-pyembed.c
  src/utils/fileutils.c
  src/utils/fileutils.h
  src/utils/tests/test_fileutils.c
  storages/python/tests-c/test_blob_storage.c
Due: pylint-tests

Updated documentation.
  doc/user_guide/storage_plugins.md
Due: none

Do bit shifting with 64 bit precision (#940)
  src/utils/rng.c
Due: none

Added test for isolated plugins
  bindings/python/tests/CMakeLists.txt
  bindings/python/tests/test_isolated_plugins.py
Due: pylint-tests

Added test for isolated plugins
  bindings/python/tests/test_isolated_plugins.py
Due: pylint-tests
